[2021-09-29 16:18] garikjan commented on #906
Just a kind reminder. Still waiting for some feedback ;)

[2021-09-30 00:27] JerryShea commented on #906
Hi @garikjan, we are pretty busy with paying work right now. There are already unit tests for this functionality e.g. AcquireReleaseTest, so it would be great if you could add a failing test (and even a fix!) to that and send us a PR.

If you would like to discuss commercial support please email sales@chronicle.software

[2021-09-30 04:21] #908 closed, assigned to nicktindall

[2021-10-06 02:51] #874 closed, assigned to JerryShea

[2021-10-06 09:24] peter-lawrey opened #920 "Enable support for sparse files for each roll"
Creating a large sparse file for a roll cycle removes the need for chunks being mapped and unmapped, reducing jitter.
This is only supportred on Linux 64-bit due to limitations in other OS/Hardware.

[2021-10-08 15:07] RobAustin opened #922 "Reduced unwanted Object creation"
This relates to the following support issue -- https://support.chronicle.software/staff/ticket/422

The following is from a YourKit Dump

![image](https://user-images.githubusercontent.com/6506056/136580298-75685fc0-c3d2-4931-a9c0-20b61590d9a9.png)

[2021-10-10 21:19] nicktindall commented on #922
Just shooting from the hip here, could this be related to the removal of the caching in that area, now we are ending up looking to the file system more often to see which cycles are there? I wonder if we could use a [WatchService](https://docs.oracle.com/javase/8/docs/api/java/nio/file/WatchService.html) to eliminate unnecessary directory listings (i.e. only refresh when there are changes)? or if

[2021-10-11 19:16] glukos commented on #922
@nicktindall
I don't think we can get rid of scanning through queue directory, but WatchService is a good idea, thanks. We can trigger refresh only on WatchService event (ideally, only on removes) instead of doing it every minute.
Allocation burst on refresh is reproducible - all we need is creating enough queue files:
![image](https://user-images.githubusercontent.com/2736390/136844108-08d9e130-c

[2021-10-11 20:46] JerryShea commented on #922
May be worth doing #913 while you are looking at this

[2021-10-12 21:58] glukos commented on #913
@JerryShea @nicktindall
`NotReachedException` is thrown only by `originalToEnd()`, where this trick is already implemented:
[code]
In normal flow, when files are not manually moved, shared variable `TableDirectoryListing#maxCycleValue`is incremented by the roller. Other threads / processes will be aware of the change. I don't see any issues here so I'd close this ticket.

[2021-10-12 22:01] glukos opened #924 "Consider refreshing TableDirectoryListing on WatchService notification instead of 1-minute interval"
`TableDirectoryListing#refresh` can be a heavy operation, especially if a frequent roll cycle is chosen. e.g. `RollCycles#MINUTELY`.
Even though the allocation issue is mitigated under https://github.com/OpenHFT/Chronicle-Queue/issues/922, calling it once a minute may cause latency spikes. We should consider registering a `WatchService` in queue in order to trigger refresh only on start or if queu

[2021-10-12 22:18] nicktindall commented on #913
I think the scenario we saw was in `optimizedToEnd`, where an `IllegalStateException` is thrown

https://github.com/OpenHFT/Chronicle-Queue/blob/db7a1ecb65fa6b7a97f8c6b01f7ff2da3ef3b0b7/src/main/java/net/openhft/chronicle/queue/impl/single/StoreTailer.java#L887-L891

It's also repeated in `approximateLastCycle2`:
https://github.com/OpenHFT/Chronicle-Queue/blob/db7a1ecb65fa6b7a97f8c6b01f7ff2da3ef3b

[2021-10-12 22:39] glukos commented on #922
@nicktindall @JerryShea @RobAustin
Please see https://github.com/OpenHFT/Chronicle-Queue/pull/925.
I think the allocations issue is mostly resolved by the patch, but refresh operation is still CPU consuming (and may cause latency spikes). I've created a separate https://github.com/OpenHFT/Chronicle-Queue/issues/924 for using WatchService.

[2021-10-13 00:29] JerryShea commented on #911
This is fixed, so closing

[2021-10-13 00:29] #911 closed, assigned to nobody

[2021-10-13 06:27] nicktindall commented on #913
I just made an attempt at this and I don't think it's a good idea.

The problem is, if we implement it, it'll only refresh the cache values if we hit a path that looks for one of these missing files, if we don't, the invalid cache will happily live on.

I think https://github.com/OpenHFT/Chronicle-Queue/issues/924 is actually the correct solution. If we have a file watcher we can cheaply (I think)

[2021-10-13 06:31] julgus commented on #916
This has been fixed.

[2021-10-13 06:31] #916 closed, assigned to julgus

[2021-10-13 06:33] nicktindall commented on #913
(i.e. maybe we can call `refreshDirectoryListing` prior to every use of the cached values, and in refresh we can quickly see if there's been any file-system change events, and if not we can skip the refresh)
I think it would make the "force" param redundant because we'd know if were actually necessary to do it or not.
DISCLAIMER: this is based on no real analysis, just spit-balling here

[2021-10-13 15:20] glukos commented on #913
I'm ok with closing this.

In my understanding, https://github.com/OpenHFT/Chronicle-Queue/issues/924 is mostly about performance. It will save us from unnecessary refreshes, but it will not fix a data race - obviously, WatchService doesn't priovide any guarantees on how fast events will arrive.
As I see it, the initial purpose of refresh was dealing with manual manipulations with queue dir. Ideal

[2021-10-14 01:23] #922 closed, assigned to glukos

[2021-10-14 03:28] JerryShea commented on #909
We now support running under Java 17 - see https://chronicle.software/chronicle-support-java-17/

[2021-10-14 03:28] #909 closed, assigned to nobody

[2021-10-14 10:15] hft-team-city commented on #922
Released in [Chronicle-Queue-5.21.92](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21.92), [BOM-2.21.237](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.237)

[2021-10-15 18:21] glukos opened #927 "SCQIndexing: passing newLogArrayValuesHolder as method reference triggers allocation every time the entry is indexed"
Proof:
![image](https://user-images.githubusercontent.com/2736390/137534364-74de00bf-caf0-4d50-a43f-8ba22d4fca9f.png)

[2021-10-18 12:36] #927 closed, assigned to glukos

[2021-10-18 13:42] rogersimmons opened #932 "Documentation: Update performance numbers"
The performance numbers on the CQ landing page are out of date - both the on-host and replication sets
Regenerate with latest versions and recommended tuning

[2021-10-18 13:42] hft-team-city commented on #927
Released in [Chronicle-Queue-5.21.93](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21.93), [BOM-2.21.240](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.240)

[2021-10-18 18:55] hft-team-city commented on #927
Released in [Chronicle-Queue-5.22ea8](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea8), [BOM-2.22ea40](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea40)

[2021-10-19 09:06] minborg opened #933 "Update benchmarks to newer version API"

[2021-10-20 06:09] JerryShea commented on #904
As discussed in email trail, we may want to consider backporting some of these (if high benefit to risk ratio) to .21

[2021-10-20 07:47] #933 closed, assigned to minborg

[2021-10-21 07:52] peter-lawrey opened #935 "Added support for using sparse files on 64-bit linux"

[2021-10-22 14:31] hft-team-city commented on #933
Released in [Chronicle-Queue-5.22ea9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea9), [BOM-2.22ea48](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea48)

[2021-10-27 12:18] julgus opened #938 "Clearly mark Enterprise features"
Looking at `SingleChronicleQueueBuilder` along with the Queue documentation I find it hard to evaluate which of the fields in the builder are Enterprise features only. I recognize there is a method called `checkEnterpriseFeaturesRequested` that lists the Enterprise fields. However, it is easy to slip when using `rollTime` and set `zoneId` to something other than "UTC" and "Z" and thus receive an `

[2021-10-27 14:03] minborg commented on #938
We could add `@EnterpriseFeature` in core.

In the future, we should have pluggable components and enterprise features should not be visible in open-source libraries.

[2021-11-03 12:06] sheinbergon opened #945 "`Instant` unmarshalling uses wrong accessor starting with version 5.21ea6"
CQ Version: 5.21ea6 and on wards (including 5.22*)
JDK Version: 17

When using the high-level interface, if one of the fields is of type Instant,
CQ marshals it as a string and fails to properly unmarshal it as it tries to populate `Instant` int fields

[code]

[2021-11-03 13:02] sheinbergon opened #946 "Using the high-level interface crashes the JVM starting from 5.21ea6"
Affected versions: 5.21.ea6 and onwards (5.21.x branch)
Affected JDK versions: 11, 14

Related to https://github.com/OpenHFT/Chronicle-Queue/issues/945

When trying to use the high level interface for simple produce/consume message, the VM crashes with SIGSEGV:
[code]

This is followed by this exception

[code]

[2021-11-03 13:02] sheinbergon commented on #946
The JVM dump is attached

[hs_err_pid184507.log](https://github.com/OpenHFT/Chronicle-Queue/files/7467671/hs_err_pid184507.log)

[2021-11-03 13:16] sheinbergon opened #947 "Error when adding a high-level method reader starting from 5.20.122"
JDK Version: 11
Kotlin Version: 1.5.31
CQ Version: 5.20.122 and onwards

As requested, I'm reporting this error (stripped some of the class names)

[code]

[2021-11-03 21:33] JerryShea commented on #947
Thanks @sheinbergon. Are you able to provide some code that demonstrates the problem?

[2021-11-03 21:36] JerryShea commented on #945
@sheinbergon this could be https://github.com/OpenHFT/Chronicle-Wire/issues/332 - can you try with [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49) or later?

[2021-11-03 21:41] JerryShea commented on #946
@sheinbergon we really need some code to be able to reproduce this

[2021-11-04 12:22] sheinbergon commented on #946
Ok, I will provide something in the upcoming days

[2021-11-04 12:22] sheinbergon commented on #947
Ok, I will provide something in the upcoming days

[2021-11-15 02:49] nicktindall opened #948 "Refresh directory listing and retry when a missing file is encountered during nextCycle"
When a deleted file is encountered during a call to nextCycle, we throw an IllegalStateException. We could probably handle this more gracefully if we attempted to forcefully refresh the directory listing when this happens and retried once.

The exception is as follows, it could probably be fixed in `net.openhft.chronicle.queue.impl.single.SingleChronicleQueue$StoreSupplier.nextCycle`
[code]

[2021-11-15 10:49] minborg opened #949 "The metadata file remains open despite closing a Queue"
Reproduce:

[code]
and performing:

[code]

[2021-11-15 13:03] sheinbergon commented on #945
@RobAustin @minborg

Here's the sample code that recreates the problem:

JDK: `Azul 11.0.12`
Lombok: `1.18.x`
CQ: `5.21.93`

[code]

[2021-11-15 13:09] sheinbergon commented on #945
@minborg @RobAustin  you can also see the process dump

[hs_err_pid114187.log](https://github.com/OpenHFT/Chronicle-Queue/files/7538825/hs_err_pid114187.log)

[2021-11-15 13:18] sheinbergon commented on #945
@minborg @RobAustin you can also see the process dump

[hs_err_pid126147.log](https://github.com/OpenHFT/Chronicle-Queue/files/7538911/hs_err_pid126147.log)

[2021-11-15 13:36] sheinbergon commented on #946
@minborg @RobAustin  Provided code to replicate in https://github.com/OpenHFT/Chronicle-Queue/issues/945

[2021-11-15 14:24] sheinbergon commented on #947
@RobAustin @minborg Here's a sample code excerpt that recreates the issue (uses lombok 1.18.+):

[code]

Note that what triggers the issue is the combination of the high-level interface using an interface->abstract->implementation hierarchy + Parameterized types. This reported error didn't show up until 5.20.122

[2021-11-15 17:16] minborg commented on #945
This is now fixed in the development branch and will be released in BOM 2.22ea58

[2021-11-15 18:20] #945 closed, assigned to minborg

[2021-11-15 21:07] JerryShea commented on #946
Thanks @minborg and @RobAustin for fixing #945. @sheinbergon I will close this issue

[2021-11-15 21:07] #946 closed, assigned to minborg

[2021-11-15 23:34] nicktindall commented on #949
Introduced in ce9885d65b0a7ba2921a32f5bc304298c323c06b

The change in `SingleTableBuilder` from
`bytes = MappedBytes.mappedBytes(file, OS.SAFE_PAGE_SIZE, OS.SAFE_PAGE_SIZE, readOnly);`
to
`bytes = MappedBytes.singleMappedBytes(file, OS.SAFE_PAGE_SIZE * 2, readOnly);`
seems to be the culprit

[2021-11-16 07:08] chaitas90 opened #951 "Despite rolling cycle minutely deleting chronicle file after processing keeps file in open list lsof and not releasing memory"
I am using chronicle queue version 5.20.123 and open JDK 11 with Linux Ubuntu 20.04, when we recycle current cycle on minute rolling i am listening on StoreFileListener onRelease i am deleting file then also file remains open without releasing memory nor file gets deleted..Pls guide what is needed to be done in order to make it working..

[code]

![Screenshot from 2021-11-16 12-40-09](https://user

[2021-11-18 10:52] sheinbergon commented on #947
@minborg @RobAustin any news about this?

[2021-11-18 23:57] JerryShea commented on #947
Hi @sheinbergon, we are looking at this as it sounds like something that we should fix, but the team is working on paid work as a priority. If you would like to see this issue prioritised please contact sales@chronicle.software.

[2021-11-19 14:29] #948 closed, assigned to nicktindall

[2021-11-23 02:00] sheinbergon commented on #947
@JerryShea

It's not a production critical issues for us, so we won't be contacting your sales department.

On a side note, you literally added the message "Please report this failure". So, I reported.
Fix at your own pace/will, I'm just trying to contribute my part as a user (even provided a reproducing example)

[2021-11-23 02:28] JerryShea commented on #947
Hey @sheinbergon no worries! We very much appreciate the bug report

[2021-11-27 15:13] peter-lawrey opened #954 "Add support for listening to messages as they are appended"
This functionality is useful for adding a listener to maintain a index of entries appended

Sets an AppenderListener which is called when an Excerpt is actually written.
This is called while the writeLock is still held, after the messages has been written.
For asynchronous writes, this is called in the background thread.

[2021-11-28 10:28] peter-lawrey opened #956 "Setting the rollTime doesn't change the epoch."
net.openhft.chronicle.queue.impl.single.SingleChronicleQueueBuilderTest#testReadMarshallable assumes the rollCycle sets the epoch.

[2021-11-29 09:09] minborg opened #957 "Update readme file so that JIRA link (at the end) is removed"
![image](https://user-images.githubusercontent.com/7457876/143839144-2eedc02b-5d1d-4282-84e6-d5803461b734.png)

[2021-11-29 12:18] garikjan commented on #906
Hi @JerryShea, sorry for late response. I discovered, that is was not a leak. Resources are freed indeed. But anyway onReleased() is not called, as soon as method SingleChronicleQueueStore::close() is called directly by try-with-resources in SingleChronicleQueue::cleanupStoreFilesWithNoData() and onReleased() callback is not executed.

I created a PR, as you suggested: https://github.com/OpenHFT/C

[2021-11-29 12:49] alamar commented on #956
Looks like it's not needed in the light of https://github.com/OpenHFT/Chronicle-Wire/pull/362

[2021-12-02 09:39] #949 closed, assigned to peter-k-lawrey

[2021-12-02 12:54] hft-team-city commented on #948
Released in [Chronicle-Queue-5.22ea12](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea12), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-03 12:24] peter-lawrey opened #964 "Allow named tailers to be used concurrently to split work"

[2021-12-06 14:14] #956 closed, assigned to alamar

[2021-12-06 14:14] alamar commented on #956
Issue no longer manifests.

[2021-12-08 19:56] garikjan opened #967 "CAS operation fails in readMarshallable()"
Hi, please check this code example:
[code]

It fails with exception:

`
net.openhft.chronicle.core.util.MisAlignedAssertionError
	at net.openhft.chronicle.core.UnsafeMemory.compareAndSwapLong(UnsafeMemory.java:983)
	at net.openhft.chronicle.bytes.internal.NativeBytesStore.compareAndSwapLong(NativeBytesStore.java:342)
	at net.openhft.chronicle.bytes.MappedBytesStore.compareAndSwapLong(MappedBytesSt

[2021-12-08 20:08] JerryShea commented on #967
Hey @garikjan which version are you seeing this exception in - the latest snapshot?

[2021-12-08 20:11] garikjan commented on #967
Hi @JerryShea! Than you for quick response!  I was testing 5.22ea12 version.

[2021-12-08 20:53] garikjan commented on #967
Sorry, I was wrong. To be more precise, I am testing at commit 161dda49bed41df9bdc0e36a261ce2dadcd29611 of ea branch.

[2021-12-08 21:34] JerryShea commented on #957
Done with https://github.com/OpenHFT/Chronicle-Queue/commit/788d24c0ae86452a8994a88d60147a03329f9d37

[2021-12-08 21:34] #957 closed, assigned to nobody

[2021-12-08 21:34] #913 closed, assigned to glukos

[2021-12-09 05:23] JerryShea commented on #947
Hi @sheinbergon I adapted your code to a unit test - https://github.com/OpenHFT/Chronicle-Queue/compare/develop...feature/issue947 and it passes. I did *not* use lombok so maybe that is the problem?

[2021-12-09 08:27] sheinbergon commented on #947
@JerryShea This is warning report only, so it makes sense that tests are passing. Still such errors should not be reported.

[2021-12-09 08:29] JerryShea commented on #947
Thanks @sheinbergon but the test checks that the compile worked and that the "Failed to compile generated method reader" message is not produced

[2021-12-09 08:30] sheinbergon commented on #947
Which version(s) are you testing against?

[2021-12-09 08:32] JerryShea commented on #947
Please see the branch - https://github.com/OpenHFT/Chronicle-Queue/compare/develop...feature/issue947 - this was based on the tip of develop branch today

[2021-12-09 08:34] sheinbergon commented on #947
@JerryShea Ok, so this might be fixed in prior releases already. I'll test against the most recent tag and let you know

[2021-12-09 08:50] JerryShea commented on #947
@sheinbergon thanks!

[2021-12-12 03:22] JerryShea commented on #951
Hi @chaitas90 can you try again with the most recent version please? There have been some improvements in this area since 5.20.123

[2021-12-13 10:52] olegs1993 opened #969 "chronicle-queue 5.21.91 does not properly work with java.util.Date"
Hi, when I am trying to write the java.util.Date object looks like it is cutting off milliseconds.
![telegram-cloud-photo-size-2-5312265708224231521-y](https://user-images.githubusercontent.com/23138783/145799264-e303b5f6-72f7-41f0-8250-f94f77f10f50.jpg)

There is no such problem in 5.17.0. Could someone help with it?

[2021-12-13 15:32] olegs1993 commented on #969
looks like the issue is more related to the chronicle-wire project https://github.com/OpenHFT/Chronicle-Wire/issues/367

[2021-12-13 19:26] minborg commented on #969
Are you able to run a more recent version of Chronicle Queue (perhaps the latest .22 version?) The way LocalTime is handled has indeed changed in Wire.

[2021-12-13 19:55] olegs1993 commented on #969
probably yes, just wanted to confirm whether that behavior is a bug or not. Actually, the problem is only with java.util.Date.  I checked with LocalDateTime and it works as expected, i guess LocalTime and LocalDate also. I described the code difference here: https://github.com/OpenHFT/Chronicle-Wire/issues/367

[2021-12-13 20:19] minborg commented on #969
in a recent Wire release, we made sure that a large number of types (similar to Data and the likes) were serialized correctly and added many new tests.

[2021-12-13 21:30] olegs1993 commented on #969
I used 5.22.ea12 and the issue is resolved there :)

[2021-12-13 21:45] JerryShea commented on #969
Thanks @olegs1993 - are you happy to close the issue?

[2021-12-14 07:53] #969 closed, assigned to nobody

[2021-12-14 08:50] julgus commented on #917
**Definition of done:** A first version of the chapter is provided and presumingly, most of the relevant topics are covered.

_We will have to organize reviews of the texts later._
- [x] Introduction
- [x] What is Chronicle Queue
- [x] Getting Started
- [x] Use Cases
- [x] Glossary
- [x] Configuration
- [x] Roll cycle
- [x] Wire type
- [x] Block size
- [x] Index count
- [x] Index spacing
- [ ] Buf

[2021-12-14 11:00] olegs1993 commented on #969
@JerryShea @minborg by the way, do you know the date when a non ea version will be available?

[2021-12-15 11:00] peter-lawrey opened #973 "Add more tests for named tailers"

[2021-12-15 15:03] alamar opened #975 "SingleChronicleQueue#exceptsPerCycle returning obsolete value"
When doing a lot of background writing to Queue, the `queue.exceptsPerCycle(cycle)` invocation may return a value that is smaller by `1` than the last actual written entry index.

The underlying problem is that `tailer.store.lastSequenceNumber(tailer)` returns incorrect value in its memory lookup loop, whereas the fallback `tailer.store.sequenceForPosition(tailer, Long.MAX_VALUE, false)` will retu

[2021-12-20 20:26] idontusenumbers commented on #909
Can this ticket be re-opened? I understand the java `--add-exports` params will allow Chronicle Queue to run, but that doesn't seem like a good long-term solution.

[2021-12-21 22:56] pedegie opened #980 "Pretoucher doesn't unmap file"
Hello I noticed that after executing pretoucher only once it still keeps mmaped file after recycle. Then its eventually overridden later on next `execute()`.
Code example:

[code]
[code]
In case we need to pretouch only once, at load-time there is no way to unmap file because `shutdown()` method also closes Queue.

[2021-12-23 15:52] alamar opened #984 "AcquireReleaseTest#testWithCleanupStoreFilesWithNoDataAcquireAndRelease is slightly flaky"
https://teamcity.chronicle.software/buildConfiguration/Chronicle_ChronicleQueue_SnapshotLinux64/639931?showRootCauses=false&expandBuildChangesSection=true&expandBuildProblemsSection=true&expandBuildTestsSection=true

fails in IDE every now and then:
[code]

[2021-12-26 14:45] CaymanTurtleBeach opened #985 "Illegal reflective access"
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on net.openhft.chronicle.core.Jvm (file:XXXX/.m2/repository/net/openhft/chronicle-core/2.22ea19/chronicle-core-2.22ea19.jar) to class java.lang.reflect.AccessibleObject
WARNING: Please consider reporting this to the maintainers of net.openhft.chronicle.core.Jvm

Consider it reported!

Error

[2021-12-26 22:25] JerryShea commented on #985
Thanks @CaymanTurtleBeach. There are still some reflection warnings in Chronicle's libraries. Please see [this article](https://chronicle.software/chronicle-support-java-17/) for command line args to run Chronicle libraries under Java 17

[2021-12-26 22:25] #985 closed, assigned to nobody

[2021-12-27 15:47] CaymanTurtleBeach commented on #985
Thanks for the information. I am actually using Java 11 at present; I will explore applying the Java 17 suggestions, and soon migrate to 17.

Cheers,

Jack

____________________________

Jack Copper
Managing Director
NeuralStudio SEZC

Cayman Enterprise City
PO Box 10315, 90 N Church St
Grand Cayman KY1-1003
Cayman Islands

https://neuralstudio.ai<https://neuralstudio.ai/>

Direct:  +1 (345) 815-3

[2021-12-28 04:12] JerryShea commented on #985
@CaymanTurtleBeach I believe those same instructions should work just as well on Java 11

[2021-12-30 18:15] peter-lawrey opened #986 "IndexForIDTest fails on GH actions when running in parallel()"
Leaving the test as sequential for now.

It appears the tailers never see the start of the file. This doesn't appear to happen on any of our systems.

[2022-01-18 22:42] #975 closed, assigned to alamar

[2022-01-21 02:46] JerryShea commented on #906
Thanks very much for the PR @garikjan. Closing this issue as it has been merged

[2022-01-21 02:46] #906 closed, assigned to nobody

[2022-01-21 02:48] JerryShea commented on #837
Is this OpenHFT/Chronicle-Bytes#361 a similar problem (Intel Mac)

[2022-01-21 02:49] JerryShea opened #994 "Refactor TableStoreWriteLock"
These descend from the same base class but have subtly different behaviour (re-entrancy and PID vs PID+TID).

Given the importance of locking to system stability, I feel there is benefit in tidying these up: deduplicate, address TODOs, internalise impls, combine impls and strategise the differences perhaps.

QueueLock uses TSQueueLock. appendLock and writeLock use TableStoreWriteLock

[2022-01-21 03:29] nicktindall commented on #994
Another thing to focus on IMO is API. Some things to consider
- Having a consistent API across locks
- Using standard interfaces (e.g. [Lock](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/locks/Lock.html), and [ReadWriteLock](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/locks/ReadWriteLock.html))
- Writing an interface that allows the use of try-with-resources a-

[2022-01-21 03:48] nicktindall commented on #994
Some other behaviours to consider
- Persistence of locks, what happens when the holder dies?
  - Something like file locks that are automatically released would come in handy I think (although if we go down the file locks path again we should remember our learnings about their reliability)
- Is scoping just process or thread, or is there another "scope" where whoever holds a key (e.g. a random num

[2022-01-21 07:45] minborg commented on #994
Maybe there is a unique value for any given JVM instance or we could have a random JVM identity number generated that could be combined with the PID thereby reducing the likelihood of PID collisions, especially in the case of running under Docker where there it is almost guaranteed, instances of the same image would have the same PID. I know there was a trick in the static `Map.of()` static constr

[2022-01-25 00:53] JerryShea opened #995 "New system property "queue.force.unlock.mode""
To determine how to behave if trying to acquire a lock and the lock timesout. New behaviour
[code]
Default behaviour (ALWAYS) has been left unchanged, but this is expected to change in future releases

[2022-01-26 15:13] alamar opened #996 "Remove exception-suppressing code from SCQIndexing#moveToIndex0"
[code]
It was introduced in #334 to support lazy indexing, which was in turn removed in 5.x
Removing this clause does not seem to affect any tests in Queue and dependent projects, but we have observed in thread dumps and have suspicion that it may be masking problems (such as accessing closed queue) and make Queue hang instead of throwing an exception.

[2022-02-01 12:33] alamar opened #998 "IllegalStateException: expecting index, was header in CycleNotFoundTest"
#996 has unmasked the following exception which will very rarely occur in `net.openhft.chronicle.queue.CycleNotFoundTest#tailerCycleNotFoundTest` (on TC and in IDEA)

[code]

[2022-02-01 12:35] alamar commented on #998
https://teamcity.chronicle.software/buildConfiguration/Chronicle_BuildAll_OpenHFTJava8/647206

[2022-02-01 13:13] alamar commented on #998
[tailerCycleNotFoundTest.gz](https://github.com/OpenHFT/Chronicle-Queue/files/7978671/tailerCycleNotFoundTest.gz)
Uploaded is the queue from this test. It is corrupted: DumpMain can read it, but scanning it backwards resulting in:
`readCheckOffset0 failed. Offset: 524668 + adding: 4 > limit: 524669 (given: false)`

[2022-02-01 13:43] #996 closed, assigned to alamar

[2022-02-02 12:35] #998 closed, assigned to alamar

[2022-02-02 13:15] hft-team-city commented on #998
Released in [Chronicle-Queue-5.22ea16](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea16), [BOM-2.22ea106](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea106)

[2022-02-02 13:15] hft-team-city commented on #326
Released in [Chronicle-Queue-5.22ea16](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea16), [BOM-2.22ea106](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea106)

[2022-02-02 13:15] hft-team-city commented on #996
Released in [Chronicle-Queue-5.22ea16](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea16), [BOM-2.22ea106](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea106)

[2022-02-02 13:15] hft-team-city commented on #975
Released in [Chronicle-Queue-5.22ea16](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22ea16), [BOM-2.22ea106](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea106)

[2022-02-09 11:55] peter-lawrey opened #1002 "StoreFileListener: Only add a task to the background releaser if that task might do something"

[2022-02-13 23:39] #995 closed, assigned to JerryShea

[2022-02-13 23:53] JerryShea opened #1005 "RollCycleMultiThreadStressTest does not clean up properly if it fails"
See [this TC job](https://teamcity.chronicle.software/buildConfiguration/Chronicle_BuildAll_OpenHFTJava11/649863?showRootCauses=false&expandBuildProblemsSection=true&expandBuildTestsSection=true) for an example of where RCMTST has failed and left some unclosed items that are surfaced by e.g. `Queue36Test`

[code]

[2022-02-14 06:01] JerryShea commented on #1005
As well as this, it tries to use all the cores on the host and on a docker host `Runtime.getRuntime().availableProcessors()` returns the parent's number of cores. I have reduced this with `system.properties` and these tests run much more reliably now

[2022-02-14 06:46] JerryShea commented on #1005
I have not done much research into this but I believe `Runtime.getRuntime().availableProcessors()` behaves better on docker after Java 10. We may need to consider some changes in this area

[2022-02-14 08:23] minborg commented on #1005
The way `availableProcessors()` behaves changed over the various Java versions: https://bugs.openjdk.java.net/browse/JDK-8146115

[2022-02-17 18:11] sheinbergon commented on #947
Seems to have been fixed by latest stable version. Closing

[2022-02-17 18:11] #947 closed, assigned to minborg, JerryShea

[2022-02-17 18:30] sheinbergon commented on #945
@minborg @RobAustin any chance to backport this fix to the 5.21 branch?

[2022-02-17 22:35] JerryShea commented on #945
@sheinbergon we are pretty careful about backporting to the stable branch. Would you be interested in making a PR? If it is small and low risk we could merge it. In other news, 22 stable and 23ea are in the process of being created. Maybe in a couple of days you could try upgrading to 22?

[2022-02-18 08:04] RobAustin commented on #945
@sheinbergon would you be interested in a chronicle support contract? This would give you some dedicated time so we could do backports like this for you.

[2022-02-21 20:38] sheinbergon commented on #945
@JerryShea  I'll be waiting for 22 stable once that hit the shelf, thank you.
@RobAustin sorry, that'll be irrelevant in the meanwhile.

[2022-03-01 15:11] ZiningYin opened #1015 "Cycle Rolling with Positive Epoch bug"
Replication:
the roll cycle is FAST_DAILY
GMT Time is 2022-03-01-23:59:00
Epoch is 3600,000 (GMT+1hour)
Local Time is 2022-03-02-00:59:00

The file generated will be for the cycle that is the day of 20220301.cq4.
Expected file is 20220302.cq4

[2022-03-19 19:25] sheinbergon opened #1024 "Custom type deserialization regression in 5.22.18"
When trying to deserialize  a message containing a `CurrencyUnit` field  (from the java money RI) using the high level-interface on version **_5.22.18_**, we're getting the following error:

[code]

This used to work on version **_5.20.121_**

Debugging the issue in both versions, it seems that you've changed the bracket type for unrecognized nested types from  `MAP` to ` UNKNOWN` inside `net.open

[2022-03-21 03:27] nicktindall opened #1025 "TableStore attempts to write out of bounds when you write a lot of messages to it"
This is a regression, I think it was introduced by https://github.com/OpenHFT/Chronicle-Bytes/commit/6ad7e75e30ad072b165cb5302c7411fad14c1fb5.

[2022-03-21 05:46] #1025 closed, assigned to peter-lawrey

[2022-03-21 05:46] nicktindall commented on #1025
Root cause is https://github.com/OpenHFT/Chronicle-Bytes/issues/342

[2022-03-24 10:52] sheinbergon commented on #1024
@JerryShea any response?

[2022-03-25 16:25] #1002 closed, assigned to peter-lawrey

[2022-03-25 16:26] #973 closed, assigned to peter-lawrey

[2022-03-25 16:26] #935 closed, assigned to peter-lawrey

[2022-03-25 16:26] #904 closed, assigned to peter-lawrey

[2022-03-25 16:27] #920 closed, assigned to peter-lawrey

[2022-03-28 13:49] eix128 opened #1028 "Queue peek ?"
Hi , i m trying to use your queue but i just want to read but dont remove the element from queue.
I could not find any example for that.

I want to remove element manually from the queue when some conditions meet.

        while (working.get()) {
            //final long index = tailer.index();
            // tailer.readDocument automatically removes the object from the queue
            tailer.re

[2022-03-28 14:00] JerryShea commented on #1028
You can read from the queue with a DocumentContext and then call rollbackOnClose() on the DC before you close it. That should rollback the read from the queue when you close the DC. But Your Mileage May Vary so you should try it out.

[2022-03-28 14:00] #1028 closed, assigned to nobody

[2022-03-31 05:56] nicktindall opened #1031 "Implement content-based limiting for ChronicleReader"
You should be able to specify a limiter that will stop the chronicle reader. E.g. EventDateLimiter that can halt reading when it reaches a certain date.

[2022-03-31 11:45] JerryShea commented on #1024
@sheinbergon have you tried the latest version?

[2022-04-01 09:59] JerryShea commented on #1005
Closing this as these tests now run much more reliably and the effort/payoff is not there for this task

[2022-04-01 09:59] #1005 closed, assigned to JerryShea

[2022-04-04 07:52] minborg opened #1035 "Document AppenderListener"

[2022-04-04 12:30] #1035 closed, assigned to minborg

[2022-04-04 14:09] minborg opened #1037 "Add a builder for AppenderListener accumulations"

[2022-04-05 05:13] #1031 closed, assigned to nicktindall

[2022-04-06 02:34] JerryShea commented on #821
Actually something is broken as coverage is reporting as 0% on https://sonarcloud.io/project/overview?id=OpenHFT_Chronicle-Queue

[2022-04-06 04:37] hft-team-city commented on #1031
Released in [Chronicle-Queue-5.21.97](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21.97), [BOM-2.21.262](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.262)

[2022-04-06 05:30] hft-team-city commented on #1031
Released in [Chronicle-Queue-5.22.19](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.19), [BOM-2.22.133](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.133)

[2022-04-06 07:37] minborg commented on #821
These libraries have broken coverage: CQ, CTF, CV , and JLBH:

<img width="1009" alt="image" src="https://user-images.githubusercontent.com/7457876/161921291-a4e596e8-6236-4902-8dbd-64fbabc6ecf4.png">

[2022-04-06 11:37] sheinbergon commented on #1024
No I haven't. Generally speaking the high level interface feels too broken at this point (it wasn't like this up to a couple of versions ago). I feel I have provided enough information to address the usage of custom/external types. Hope you will fix it.

[2022-04-06 19:20] eix128 commented on #1028
@JerryShea its okay but this operation is slower then just peek last element.
Why do we need 2 operation ? I just want to get last object on queue then when i do operations safe i will remove it manually.
Seems like Transaction.
I think this one is faster.
You are making fast queue so just adding 1 more method can be more good for your queue.

[2022-04-06 23:47] hft-team-city commented on #1031
Released in [Chronicle-Queue-5.21.98](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21.98), [BOM-2.21.263](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.263)

[2022-04-07 00:22] JerryShea commented on #954
Closing as I believe this has been merged. @peter-lawrey please re-open if not

[2022-04-07 00:22] #954 closed, assigned to peter-lawrey

[2022-04-07 00:24] JerryShea commented on #1028
@eix128 you can't remove elements from the queue. I am closing this - please use stackoverflow for asking usage questions

[2022-04-07 00:50] JerryShea commented on #967
@garikjan that is an old version - can you try on latest?

[2022-04-07 00:51] JerryShea commented on #782
@shaker-project thanks for the notification. We recently improved the flakiness of these tests so I am confident this can be closed

[2022-04-07 00:51] #782 closed

[2022-04-07 06:49] JerryShea commented on #1024
@sheinbergon no-one else has complained so it is not super-high priority. We will look when we can!

[2022-04-07 07:19] garikjan commented on #967
@JerryShea I just tested with 5.22.18, but the test still fails:

`5277 [main] INFO  net.openhft.chronicle.core.internal.announcer.InternalAnnouncer  - Process id: 7850 :: Chronicle Queue (5.22.18)
5334 [main] INFO  net.openhft.chronicle.threads.DiskSpaceMonitor  - Took 7.454 ms to pollDiskSpace for /Volumes/Data/Users/garik/Projects/wcs/run/wcs/server/HCB/tmp/111

net.openhft.chronicle.core.util.

[2022-04-07 07:21] JerryShea commented on #967
Can you try with the latest 2.23ea version pls?

On Thu, 7 Apr 2022 at 08:20, Garik ***@***.***> wrote:

[2022-04-07 07:23] garikjan commented on #967
I tried, but there is unresolved runtime dependency:
java.lang.NoClassDefFoundError: net/openhft/chronicle/core/io/ManagedCloseable

[2022-04-07 07:26] JerryShea commented on #967
You must be bringing in the wrong version of e.g. chronicle-core

[2022-04-07 07:29] garikjan commented on #967
Yes, exactly, that was the problem. I had to update Chronicle Map also. But the test still fails:

0    [main] INFO  net.openhft.chronicle.core.Jvm  - Chronicle core loaded from file:/Volumes/Data/Users/garik/.gradle/caches/modules-2/files-2.1/net.openhft/chronicle-core/2.23ea4/6c6325870d365a1bb25a7356f6009130dd8aa496/chronicle-core-2.23ea4.jar
5120 [main] INFO  net.openhft.chronicle.bytes.interna

[2022-04-07 08:40] garikjan opened #1042 "StoreAppender prevents releasing CQ files"
Our application has multiple threads that write to queue with HOURLY roll cycle policy. Some of those threads can write once a day. That causes to grow number of CQ files, as soon as appenders of those threads have references to store. It's a big problem for us, as soon as files are quite big.

In previous versions of Chronicle Queue (e.g. 5.16.9) appenders could be garbage collected: weak referen

[2022-04-07 11:32] peter-lawrey commented on #932
WOrth running on dev14/15, perhaps after I swap the Solarflare cards around

[2022-04-07 14:10] peter-lawrey opened #1043 "Move load-harness to a demo or archie it"

[2022-04-07 14:11] #1043 closed, assigned to RobAustin

[2022-04-08 10:36] andrm commented on #1042
Acquire appender only when you need them (it's a fast operation, probably with a thread-local appender).
Our system is single-threaded, so we close the queue, re-open it  and re-acquire the appender after that. An explicit GC after that will then release the files.

[2022-04-08 12:02] garikjan commented on #1042
@andrm, I doubt that closing the queue after every single write operation is a good idea. But I'll check if explicitly closing an appender after writing to the queue releases file. And yes, we acquire an appender before every write operation.

[2022-04-08 12:58] andrm commented on #1042
We do it only once a day or so. Why do you use hourly roll cycles if you write only once a day? Wouldn't daily be better then?

[2022-04-08 13:10] garikjan commented on #1042
Most of threads write about 1000 times a second. But some of them can write to queue once a day, as I mentioned. Thats's why we use hourly roll cycle policy.. The files grow fast in general. And such rarely writing thread  keeps references to file, preventing us from deleting it. Maybe closing the appender will release reference to file, I'm going to check it. That would be great! :)

[2022-04-08 13:55] hft-team-city commented on #1031
Released in [Chronicle-Queue-5.23ea3](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea3), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:55] hft-team-city commented on #1035
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:56] hft-team-city commented on #1002
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:56] hft-team-city commented on #973
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:56] hft-team-city commented on #954
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:56] hft-team-city commented on #1025
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-08 13:56] hft-team-city commented on #1031
Released in [Chronicle-Queue-5.23ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea2), [BOM-2.23ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea25)

[2022-04-11 09:48] minborg opened #1047 "Enable JUnit5 tests while retaining compatibility with JUnit4"
Replace JUnit4 deps with:

[code]

[2022-04-12 03:16] #1047 closed, assigned to minborg

[2022-04-14 19:14] ccnlui opened #1050 "Cannot compile quick start example"
I'm very excited to try this library, but I can't even get pass the quick start tutorial. Sorry if this is a beginner mistake.

I use maven to download the library as follow:

[code]

Then I tried to create a queue:
[code]

Compile as follow, then I get a compilation error!
[code]

I tried:
- specifying a different chronicle-queue version
- download latest chronicle-core as a dependency (which hel

[2022-04-15 01:29] JerryShea commented on #1050
@ccnlui it looks like maven is not bringing in the required dependencies for CQ - the `net.openhft.chronicle.core.util.Builder` class is in chronicle-core. I don't know why maven has not automatically brought in the transitive dependencies.

I just tried quick start with a maven archetype and I saw the same, but when I manually included chronicle-wire e.g.
[code]
then it brought in the other requi

[2022-04-15 01:29] #1050 closed, assigned to nobody

[2022-04-15 19:41] hft-team-city commented on #1047
Released in [Chronicle-Queue-5.23ea4](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea4), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-15 21:47] alamar commented on #1050
@ccnlui You should also be able to add `<classifier>all</classifier>` to your queue dependency block to make it work.

[2022-04-18 14:21] alamar commented on #1050
@ccnlui Starting with `chronicle-queue` `5.23ea5` no classifier should be required, all dependencies should be resolved transitively. Thank you for noticing this.

[2022-04-19 08:33] JerryShea commented on #837
@minborg assume you have not started this one? If not, Vachagan will take!

[2022-04-19 08:35] minborg commented on #837
Great!

[2022-04-19 10:51] RobAustin commented on #1042
@jkolobok please investigate

[2022-04-20 01:49] JerryShea opened #1052 "Address // TODO: x.23 comments"

[2022-04-20 08:52] peter-lawrey commented on #1024
I will have a look today with this specific class

[2022-04-20 09:30] peter-lawrey commented on #1024
In this case, the problem is that WIre assumes Comparable objects should be written as scalar objects, not nested ones e.g.

[code]

However, this class cannot be converted from a string back into the original object type, so it needs to be written as a nested object like this.

[code]

[2022-04-20 09:59] peter-lawrey commented on #1024
The fix is entirely in Wire https://github.com/OpenHFT/Chronicle-Wire/pull/439

[2022-04-20 09:59] #1024 closed, assigned to peter-lawrey

[2022-04-24 17:36] DaanA32 opened #1056 "Index2Index documentation"
Hi all,

The [how it works](https://github.com/OpenHFT/Chronicle-Queue/blob/ea/docs/How_it_works.adoc) documentation [explains how the index2Index is formatted](https://github.com/OpenHFT/Chronicle-Queue/blob/ea/docs/How_it_works.adoc#tiered-indexing) in the queue.
I don't quite understand how to use / read it from an external program (ie not using chronicle queue).
The example given is simple, it

[2022-04-25 15:28] lfjbb opened #1057 "is there still a prefetching function? if not, can the performance be guaranteed?"
is there still a prefetch, I can't find the code any more.  the PrefetchingMappedFileCache class is deleted.
if no prefetch,  can the performance be guaranteed?

[2022-04-26 01:23] JerryShea commented on #1057
@lfjbb please search for "pretoucher" in the documentation. Please ask questions on stackoverflow in future :)

[2022-04-26 01:23] #1057 closed, assigned to nobody

[2022-04-26 01:26] lfjbb commented on #1057
thanks

[2022-04-26 21:32] alamar opened #1058 "Race condition closing queues and creating appenders in parallel"
Apparent in the test `TestUninstallableEventLoop#startAndConfirmAllHandlersGone` (once in hundered runs):

[code]

[2022-04-27 10:42] alamar opened #1059 "NPE when closing tailer in parallel"
One of our test gives
[code]

[2022-04-27 10:42] alamar commented on #1059
See also #1058

[2022-04-27 13:51] minborg opened #1060 "The binary compatibility tool does not check the package net.openhft.chronicle.queue.impl"
Packages matching "*impl*" and "*internal*" are not checked. Yet, there are public methods in the "*impl*" package.

The root problem is that public classes reside in an "impl" package (like `SingleChronicleQueueBuilder` ) and these should be migrated out and they should be split up into interfaces (in the public API) and implementing classes (in the internal package).

[2022-04-27 14:34] alamar commented on #1059
It is also possible to get NPE in `SCQIndexing.moveToIndex0`, and even a JVM crash (file attached)

[hs_err_pid798701.log](https://github.com/OpenHFT/Chronicle-Queue/files/8572976/hs_err_pid798701.log)

[2022-04-28 11:58] #1058 closed, assigned to alamar

[2022-04-29 08:47] minborg commented on #1060
This can be fixed once https://github.com/OpenHFT/Binary-Compatibility-Enforcer-Plugin/issues/8 is fixed

[2022-05-02 09:04] minborg commented on #1037
The feature will be implemented in Wire instead.

[2022-05-02 09:04] #1037 closed, assigned to minborg

[2022-05-02 23:12] foroughgoudarzi opened #1062 "Limit the overlapping region to 1 << 30 bytes"

[2022-05-02 23:17] foroughgoudarzi opened #1063 "Deprecate useSparseFiles() and sparseCapacity() methods"

[2022-05-03 02:11] JerryShea commented on #821
Thanks @nicktindall for fixing up sonar! [Coverage for this class is now up to 80%](https://sonarcloud.io/component_measures?metric=coverage&selected=OpenHFT_Chronicle-Queue%3Asrc%2Fmain%2Fjava%2Fnet%2Fopenhft%2Fchronicle%2Fqueue%2Fimpl%2Fsingle%2FStoreTailer.java&view=list&id=OpenHFT_Chronicle-Queue).

However, given the importance of this class, I think we have to leave this issue open.

[2022-05-03 13:06] foroughgoudarzi opened #1068 "Add a benchmark to compare performance using chunking and a single region."
@foroughgoudarzi please add a description.
The benchmark compares queue performances when memory mapping is using a large sparse file,(1<<40) a large block size (1<<40) and a standard block size (64L << 20).

[2022-05-03 19:55] hft-team-city commented on #1058
Released in [Chronicle-Queue-5.23ea6](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea6), [BOM-2.23ea37](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea37)

[2022-05-04 01:43] vach-chronicle commented on #967
Hi Garik,
there are a few things going on in your example. Generally, it's a bad idea to mutate state with a tailer, as of chronicle v5 we explicitly advise against that, tailers are for reading only.

However, the problem here is that you are using low level API, to work with the data.
In order for the queue to have a great performance, we need to make sure that the data as its being written is a

[2022-05-04 15:34] garikjan commented on #967
High Vachagan! Thank you very much for pointing out those issues in my example. I will rewrite tailers and appenders to use Wire instead of Bytes to avoid alignment issues.

And unfortunately I missed changes to tailers in Chronicle Queue V5. So, tailer cannot update data anymore... But how can I mark a message in queue as "processed"? Could you please advice.

[2022-05-04 16:55] vach-chronicle commented on #967
If you do what you are doing with chronicle wire it should solve the problem, because it will always make sure alignment is correct.
Using tailer for that case should work, we just generally advise against it, your use case seems legitimate to me.
Try it and if you have any issue do let us know.

[2022-05-04 17:05] #967 closed

[2022-05-06 12:04] RobAustin commented on #1062
@foroughgoudarzi is this issue fixed can it be closed?

[2022-05-06 12:05] RobAustin commented on #1063
@foroughgoudarzi is this issue fixed, can it be closed ?

[2022-05-06 12:06] RobAustin commented on #1060
@minborg is this issue fixed, can this issue now be closed ?

[2022-05-06 12:10] RobAustin commented on #1059
which version of queue, which line is producing the NPE, the latest develop branch has no code on that line
![image](https://user-images.githubusercontent.com/6506056/167128810-fbbbfa37-c72b-43a8-bdd6-0ba445835f1e.png)

[2022-05-06 12:19] RobAustin commented on #1056
the index2Index is an internal data structure used by the chronicle queue, we suggest you don't attempt to access it directly as we may change how the queue indexes its entries in the future

[2022-05-06 12:19] #1056 closed, assigned to nobody

[2022-05-06 12:20] RobAustin commented on #1052
can this issue be closed ?

[2022-05-06 12:26] RobAustin commented on #1042
Yes, the StoreAppender.StoreAppenderContext#close(boolean) should  release its resources. So closing this issue.
Its best in the future if you could ask any questions on stack overflow rather than raising questions as issues here. Thanks.

[2022-05-06 12:26] #1042 closed, assigned to jkolobok

[2022-05-06 12:32] RobAustin commented on #994
this is somewhat related to  https://github.com/ChronicleEnterprise/Chronicle-Queue-Enterprise/issues/278

[2022-05-06 12:36] #1062 closed, assigned to foroughgoudarzi

[2022-05-06 13:04] minborg commented on #1060
It should close automatically once merged to the EA branch:

<img width="507" alt="image" src="https://user-images.githubusercontent.com/7457876/167136870-0fefe357-6c0c-44f7-97e4-2c336612e24f.png">

[2022-05-06 14:29] RobAustin commented on #1015
@ZiningYin would you be able to write a failing test for this use case?

[2022-05-06 14:30] RobAustin commented on #980
@Roger can you check if this is still the case ?

[2022-05-06 14:30] alamar commented on #1059
Just run `develop` test `TestUninstallableEventLoop#startAndConfirmAllHandlersGone` with JVM arg `-Xint` and around 10th iteration you would see:

* NPE in `linearScan0`
* NPE in `moveToIndex0`
* SIGBUS

Reproducible on latest.
[code]

@RobAustin

[2022-05-06 14:44] #1060 closed, assigned to minborg

[2022-05-06 14:49] RobAustin commented on #984
Ran 100 times, repeat until failure and it worked

![image](https://user-images.githubusercontent.com/6506056/167157294-e29315d6-7c4e-4831-8480-b4e86e1a6eb0.png)

please reopen if its still an issue.

[2022-05-06 14:49] #984 closed, assigned to nobody

[2022-05-06 14:50] RobAustin commented on #964
I'm going to close this, please reopen if not complete

[2022-05-06 14:51] RobAustin commented on #951
No reply from @chaitas90, so going to close, please reopen if it's still an issue with the latest version.

[2022-05-06 14:51] #951 closed, assigned to nobody

[2022-05-06 14:54] foroughgoudarzi commented on #1063
@RobAustin, I am still working on this. The PR has not been approved yet.

[2022-05-06 14:54] RobAustin commented on #889
still fails with the latest code with the following:
![image](https://user-images.githubusercontent.com/6506056/167158235-8be9da32-8382-4d04-beea-def29acf986d.png)

[2022-05-06 14:55] RobAustin commented on #889
see also this test - net.openhft.chronicle.wire.method.MethodWriterProxyTest

which is ignored:

![image](https://user-images.githubusercontent.com/6506056/167158465-68be282c-79bd-4392-b9b4-30f7a3315975.png)

[2022-05-06 14:58] RobAustin commented on #889
I suggest we remove disableProxyGen as it is broken anyway, it was added in 2020

![image](https://user-images.githubusercontent.com/6506056/167158943-9b3b4639-ca7c-4f33-844e-bd0722f68666.png)

[2022-05-06 15:07] RobAustin commented on #809
closing as it appears to work ok with the  latest code

[2022-05-06 15:07] #809 closed, assigned to RobAustin

[2022-05-06 15:11] glukos commented on #889
I see no reason to keep this property, +1 for removal.

P. S. It's enabled in `Chronicle-Queue-Demo\order-processor\pom.xml` - we should check if removal will impact the demo.

[2022-05-06 15:27] glukos commented on #852
Recently fixed race condition with double buffering: https://github.com/OpenHFT/Chronicle-Wire/pull/450
Probably this issue can be closed.

[2022-05-06 15:28] alamar commented on #1052
I think we should close it, even if there are any left, they would be only addressed in 2.24 now

[2022-05-07 05:15] JerryShea commented on #889
@glukos I have seen method reader/writer code generation not working when running with `mvn:exec`. I assume that is why that property is set in chronicle-queue-demo. There are other examples (e.g. chronicle-services benchmarks) where we commit the generated code to git to work around this.

Good news: I just tried removing that property from chronicle-queue-demo and ran the examples with `mvn:exec

[2022-05-08 10:35] JerryShea commented on #889
This is a very complicated area and we have some cleanup to do. As the concerns are in Wire, please see https://github.com/OpenHFT/Chronicle-Wire/issues/460

[2022-05-08 21:20] JerryShea commented on #964
The PR is still open #965

[2022-05-08 21:32] JerryShea commented on #852
@glukos This issue refers to Queue double-buffering `SingleChronicleQueueBuilder#doubleBuffer()`

[2022-05-08 21:34] #1052 closed, assigned to vach-chronicle

[2022-05-09 07:51] minborg commented on #964
This is interesting and would be very useful for parallel `java.util.stream.Stream` wrappers.

[2022-05-09 09:10] ajax-lizogubenko-s opened #1073 "Backward tailer not releasing the file when closed"
Chronicle queue version: 5.22.18

We are experiencing huge problems with files rollover.
We creating one utility tailer with SingleChronicleQueue.createTailer() perform some readText() operation with BACKWARD direction and then closing it with close() method.
Unfortunately we can see that last file that was read by Tailer stays blocked:
<img width="1302" alt="Screenshot 2022-05-09 at 12 07 25" src

[2022-05-10 06:43] hft-team-city commented on #1060
Released in [Chronicle-Queue-5.23ea7](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea7), [BOM-2.23ea42](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea42)

[2022-05-10 06:43] hft-team-city commented on #1052
Released in [Chronicle-Queue-5.23ea7](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea7), [BOM-2.23ea42](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea42)

[2022-05-10 06:43] hft-team-city commented on #984
Released in [Chronicle-Queue-5.23ea7](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea7), [BOM-2.23ea42](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea42)

[2022-05-11 19:20] RobAustin opened #1080 "Allow shrinkage to be configurable from the chronicle queue builder"
Shrinkage is the act of shrinking down old .cq4 files once they have finished being used, to reduce the space on the disk.  Currently, the only way to set shrinkage is via a system property, what we are going to do now is change this to make it a builder property.

[2022-05-12 15:35] foroughgoudarzi opened #1083 "Make document URL shorter, add json packages"

[2022-05-12 18:06] #1083 closed, assigned to foroughgoudarzi

[2022-05-13 12:32] #915 closed, assigned to j4sm1ne96

[2022-05-13 22:57] JerryShea commented on #889
We can't just remove `disableProxyCodeGen` - we still need to support proxy method readers/writers - see https://github.com/OpenHFT/Chronicle-Wire/pull/473.

We could fix proxy method readers/writers for this test, but I can't see the cost/benefit as they are legacy and with the above PR, generated method readers/writers support everything they need to.

I'll mark this issue as low priority and we

[2022-05-17 16:55] #1068 closed, assigned to foroughgoudarzi

[2022-05-24 07:16] rogersimmons opened #1094 "Review and fix Bytes read limits"
While tracing through [ChronicleQueueTwoThreadsTest](https://github.com/OpenHFT/Chronicle-Queue/blob/ea/src/test/java/net/openhft/chronicle/queue/ChronicleQueueTwoThreadsTest.java) and monitoring the readLimit on the reader's [BinaryReadDocumentContext](https://github.com/OpenHFT/Chronicle-Wire/blob/ea/src/main/java/net/openhft/chronicle/wire/BinaryReadDocumentContext.java), the readLimit seems ex

[2022-05-24 10:52] RobAustin commented on #837
I'll take a look at this.

[2022-05-24 11:00] RobAustin commented on #837
this test runs ok on the mac

net.openhft.chronicle.queue.ChronicleQueueIndexTest#checkTheEOFisWrittenToPreQueueFileWritingDocumentMetadata

![image](https://user-images.githubusercontent.com/6506056/170019766-47d05c07-b5dd-4cf3-93cc-c7aa0c72413e.png)

[2022-05-24 12:16] #837 closed, assigned to RobAustin

[2022-05-25 15:43] rogersimmons opened #1096 "Inconsistent EOF handling"
[SingleChronicleQueueStore](https://github.com/OpenHFT/Chronicle-Queue/blob/ea/src/main/java/net/openhft/chronicle/queue/impl/single/SingleChronicleQueueStore.java) handles writing an EOF when a cycle rolls.

The implementation has a `tryReserve` check, and either uses the already mapped wire (if reserve ok), or remaps a temporary wire (if reserve not ok).

The temporary wire differs in at least 2

[2022-05-26 13:22] #721 closed

[2022-05-30 10:42] rogersimmons opened #1099 "Junk data misinterpreted as valid header"
The [IncompleteMessageTest](https://github.com/OpenHFT/Chronicle-Queue/blob/ea/src/test/java/net/openhft/chronicle/queue/IncompleteMessageTest.java) tests the behaviour of Queue when a write is started but not completed. A second write is then attempted, which - correctly - forces the lock and succeeds.

The issue is that data written by the incomplete attempt remains in the queue. If the second w

[2022-05-30 13:54] rogersimmons commented on #1099
https://github.com/OpenHFT/Chronicle-Wire/commit/0fe610b13f92049dcf8d144769280ae3a5ba3ff6

[2022-05-31 16:14] j4sm1ne96 opened #1100 "Add a systemProperties.adoc with a table of system properties"

[2022-06-02 01:06] JerryShea opened #1102 "Cache queue and tailer so ChronicleHistoryReader#readChronicle can be called repeatedly"

[2022-06-03 10:49] #1102 closed, assigned to JerryShea

[2022-06-06 19:19] hft-team-city commented on #1102
Released in [Chronicle-Queue-5.23ea8](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea8), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #837
Released in [Chronicle-Queue-5.23ea8](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea8), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-07 08:52] dave5595 opened #1105 "Support for Java 17?"
Getting  an exception when calling static `ChronicleQueue.single` method. It is working fine in Java 11. Using chronicle-bom:2.23ea68

`Caused by: java.lang.IllegalAccessException: module java.base does not open java.lang.reflect to unnamed module @fa4c865
	at java.lang.invoke.MethodHandles.privateLookupIn(MethodHandles.java:259) ~[?:?]
	at jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Nat

[2022-06-07 08:59] minborg commented on #1105
I think this article is helpful: https://chronicle.software/chronicle-support-java-17/

[2022-06-07 08:59] #1105 closed, assigned to minborg

[2022-06-07 17:14] j4sm1ne96 opened #1106 "Chronicle queue to blue"

[2022-06-08 12:27] #1063 closed, assigned to foroughgoudarzi

[2022-06-08 15:20] #1106 closed, assigned to j4sm1ne96

[2022-06-12 21:24] JerryShea commented on #1099
As per @nicktindall comment in https://github.com/OpenHFT/Chronicle-Wire/pull/481, we should definitely enhance this test to illustrate this behaviour and the fix

[2022-06-13 07:07] #1100 closed, assigned to j4sm1ne96

[2022-06-16 10:36] maxim-ponomarev commented on #807
Closed in the scope of OpenHFT/Chronicle-Core#405.

Added checks for scaling governors being in "performance" state, disabled C-states, spectre mitigation, audit and page table isolation.
Checks are performed in Core `Jvm`'s static initializer, so should be picked up by all our products.

[2022-06-16 10:36] #807 closed, assigned to maxim-ponomarev

[2022-06-17 05:21] #1059 closed, assigned to alamar

[2022-06-17 18:27] hft-team-city commented on #1100
Released in [Chronicle-Queue-5.23ea20](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea20), [BOM-2.23ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea72)

[2022-06-17 18:27] hft-team-city commented on #1106
Released in [Chronicle-Queue-5.23ea20](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea20), [BOM-2.23ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea72)

[2022-06-18 01:00] JerryShea commented on #889
We can close this as wontfix when we roll to x.24 and remove the disableProxyCodegen property

[2022-06-22 14:27] peter-lawrey opened #1116 "ExcerptTailer.readingDocument(true) doesn't set isMetaData()"

[2022-06-24 16:24] #1116 closed, assigned to peter-lawrey

[2022-07-04 02:14] JerryShea opened #1118 "ChronicleHistoryReader.withStartIndex"

[2022-07-04 07:12] #1118 closed, assigned to JerryShea

[2022-07-05 14:40] vach-chronicle opened #1123 "Mixed use of timeProviders and System.currentTimeXX()"
Within chronicle queue code and tests there are cases where time is acquired via timeProviders or System.currentTime() methods.
Queue and its internal components shall all use timeProvider which depending on the implementation may or may not use System.currentTime()...

[2022-07-06 08:52] hft-team-city commented on #1118
Released in [Chronicle-Queue-5.23ea22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea22), [BOM-2.23ea83](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea83)

[2022-07-15 12:51] peter-lawrey opened #1124 "Add support for recording the last index to be MSynced"

[2022-07-29 10:08] alamar opened #1131 "Assertion in SCQIndexing.sequenceForPosition is triggered on Mac"
[code]
Possibly related to #1059

[2022-08-01 06:57] #1124 closed, assigned to peter-lawrey

[2022-08-01 06:59] peter-lawrey opened #1132 "Add PipeHandler, PublishHandler, SubscribeHandler for remote pub/sub"

[2022-08-04 16:23] skaminen opened #1135 "Message missed during file roll over."
Hi ,

We have a 2 process model. A Inbound process writes messages to chronicle que. The Outbound process is reading messages from chronicle que. Both inbound and outbound are running on same box. Both outbound and Inbound process makes sure all messages are processed by checking a sequence number in the message. We are noticing that sometimes the very first message after file rollover is missed b

[2022-08-05 01:36] JerryShea commented on #1135
I would try on a more recent version as that version is old and there have been numerous fixes since then

[2022-08-08 18:34] rogersimmons opened #1136 "Remove old c++ directory"
Remove old C++ directory. Completely superseded by Queue C++

[2022-08-08 18:36] #1136 closed, assigned to nobody

[2022-08-08 18:37] rogersimmons opened #1137 "Add Antora C++ documentation"
Add documentation for Queue C++

[2022-08-08 18:59] rogersimmons opened #1138 "Fix https://docs.chronicle.software/chronicle-queue/chronicle-queue/demos/demos.html rendering"
https://docs.chronicle.software/chronicle-queue/chronicle-queue/demos/demos.html appears to fail rendering of multiple images

[2022-08-08 18:59] rogersimmons commented on #1138
![Untitled](https://user-images.githubusercontent.com/42873823/183493621-2dfb520f-9dc5-4c9c-b264-8f8dedf0d784.png)

[2022-08-09 08:28] #1138 closed, assigned to foroughgoudarzi

[2022-08-12 12:29] hft-team-city commented on #1124
Released in [Chronicle-Queue-5.23ea30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea30), [BOM-2.23ea105](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea105)

[2022-08-16 04:03] nicktindall opened #1141 "The modified time of all roll cycles is updated during normaliseEOFs"
When an appender is created, normaliseEOFs runs over the existing roll cycles to ensure they're correctly finalised (with EOF markers and shrunk). The modified time is updated even if no change is made to the file. We shouldn't update mtime when no modifications are made.

[2022-08-17 03:41] #1141 closed, assigned to nobody

[2022-08-23 08:58] alamar opened #1143 "Resetting single thread check on appender does not remove it from thread local"
So the next time that appender is acquired, it would be re-bound to current thread or used in another thread (the one which created it) and cause failure in both cases.

[2022-08-24 07:14] peter-lawrey opened #1144 "Add a User Guide for PipeHandler"

[2022-08-25 15:00] alamar commented on #1143
The correct approach is to acquire appender before entering thread loop.

[2022-08-25 15:00] #1143 closed, assigned to nobody

[2022-08-25 20:59] BiFoo opened #1146 "chronicle-core test-jar should not be a maven compile time dependency"
In the maven pom

[code]

should also have ` <scope>test</scope>` like all the other test dependencies.

Currently this is causing issues with java module projects that require chronicle.core as there are now two modules with that name (one normal, and one test-jar) in the module path

[2022-08-28 07:04] #1146 closed, assigned to nobody

[2022-08-30 04:09] nicktindall opened #1148 "When Tailers or Appenders roll to a new cycle they leave file handles open"
Queue has a `ReferenceCountedCache` which keeps a `MappedFiles` in it for each roll cycle that's currently loaded. When Tailers and Apenders get to the end of a cycle and roll to the new one a flush is triggered on that cache when the new cycle's `MappedFile` is created, unfortunately at that stage there are still a number of live references to previous cycle's `MappedFile`.

The stale handles for

[2022-08-30 04:57] JerryShea commented on #1148
This may also be root cause of #980

[2022-08-30 05:59] #1148 closed, assigned to nobody

[2022-08-30 06:17] hft-team-city commented on #1148
Released in [Chronicle-Queue-5.22.24](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.24), [BOM-2.22.157](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.157)

[2022-08-30 06:43] JerryShea opened #1150 "ChronicleReader fix multiple regexes for method readers"
See `net.openhft.chronicle.queue.internal.reader.ChronicleMethodReaderTest#shouldFilterByMultipleExclusionRegex` and `shouldFilterByMultipleInclusionRegex`

Alternatively we could deprecate and drop support for multiple regexes

[2022-08-30 06:48] JerryShea opened #1151 "Tailer.toEnd/Tailer.toStart leave the Tailer at a non-existent index when positioned in at deleted end/start"
If a tailer is at the start/end, and the first/last roll cycle is deleted, and you call tailer.toEnd again without refreshing the directory listing it remains at the non-existent index.

Traversal from that point works as expected however. This may not be a big deal.

[2022-08-30 07:00] JerryShea commented on #773
Closing as gh-pages no longer used

[2022-08-30 07:00] #773 closed

[2022-08-31 11:47] hft-team-city commented on #1148
Released in [Chronicle-Queue-5.23ea32](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea32), [BOM-2.23ea112](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea112)

[2022-09-01 01:25] nicktindall opened #1157 "Pretoucher: enabling earlyAcquireNextCycle causes Tailers to skip over messages"
When a pre-toucher is running on a queue and `earlyAcquireNextCycle` is enabled, any Tailer reading from it can skip over messages when it hits the end of a roll cycle and sees the next one available.

This is trivially reproducible in https://github.com/OpenHFT/Chronicle-Queue/pull/1156/files and https://github.com/ChronicleEnterprise/Chronicle-Queue-Enterprise/pull/347

[2022-09-01 01:49] JerryShea opened #1159 "Disable Pretoucher earlyAcquireNextCycle"
Due to unreliability under load.

See also #1157

[2022-09-02 00:22] JerryShea commented on #1159
Fixed by #1156

[2022-09-02 00:22] #1159 closed, assigned to JerryShea

[2022-09-02 00:25] JerryShea opened #1163 "Fix SingleChronicleQueueTest#mappedSegmentsShouldBeUnmappedAsCycleRolls"
This was un-ignored prematurely in #1152

This test should be reviewed in conjunction with other tests related to #1158

[2022-09-09 07:32] foroughgoudarzi opened #1166 "Document BinarySearch.java class"
I suggest for this we just add java doc

[2022-09-12 11:26] RobAustin commented on #1135
closing, as this is likely fixed in a newer version, please reopen if this is not the case

[2022-09-12 11:26] #1135 closed, assigned to nobody

[2022-09-12 11:27] RobAustin commented on #1132
Closing as this  looks to be complete, please reopen if this is not the case

[2022-09-12 11:27] #1132 closed, assigned to peter-lawrey

[2022-09-12 11:29] RobAustin commented on #1131
@alamar - please retest, and close if not possible to reproduce.

[2022-09-12 11:33] #1080 closed, assigned to RobAustin

[2022-09-12 12:45] skaminen commented on #1135
Thanks.

Looks like newer version has fixed the issue. no occurrences of the issue after the update.

Thanks,

[2022-09-12 20:38] alamar commented on #1131
Unfortunately I'm limited by the fact that I don't have mac dev env. I can do this on agent if it becomes up, but debugging remotely may take quite some time.

[2022-09-14 08:11] foroughgoudarzi opened #1169 "Document ticket 779 -Docs refers to unavailable methods"

[2022-09-14 13:09] RobAustin commented on #1131
We added more logging, so if it happens again we will have more info, but at the moment we are not sure how to reproduce this. let's close it for now, and can reopen it if and when it happens again.

[2022-09-14 13:09] #1131 closed, assigned to RobAustin

[2022-09-15 10:05] hft-team-city commented on #1148
Released in [Chronicle-Queue-5.22.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.25), [BOM-2.22.158](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.158)

[2022-09-19 22:00] JerryShea opened #1177 "Deprecate Pretoucher"
And move to Queue Enterprise

[2022-09-20 06:39] #1177 closed, assigned to JerryShea

[2022-09-20 13:32] alamar opened #1179 "Make LOCKING_PROCESS_DEAD the default force unlock mode"
See #995

[2022-09-20 13:56] alamar opened #1181 "Remove tailer's acquireAppender method"
It is already marked for removal and has the issue where it is possible to acquire in one thread but use in another.

[2022-09-20 19:00] hft-team-city commented on #1148
Released in [Chronicle-Queue-5.23ea34](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23ea34), [BOM-2.23ea121](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea121)

[2022-09-23 15:48] #1179 closed, assigned to alamar

[2022-09-26 01:27] JerryShea commented on #980
@pedegie you are expected to call `execute` regularly. If you call `close` on the pretoucher (not shutdown - this method will be deprecated/deleted) then that will release all resources.

[2022-09-26 01:27] #980 closed, assigned to rogersimmons

[2022-09-27 05:43] JerryShea opened #1187 "Move Pretoucher to Queue-Enterprise"

[2022-09-27 17:14] #1181 closed, assigned to alamar

[2022-09-28 02:19] peter-lawrey opened #1190 "Sanity check the used value in an index"

[2022-09-28 02:22] JerryShea opened #1192 "Move benchmarks module to queue-demo"

[2022-09-28 11:50] alamar opened #1197 "Found non-matching line in /proc/self/maps"
When running tests on local Linux machine, getting a lot of messages like these:

[code]

[2022-09-29 05:19] #1197 closed, assigned to alamar

[2022-09-29 07:40] peter-lawrey opened #1203 "Check that the index2index exists before using it"

[2022-09-29 08:50] smiklosovic opened #1205 "Zero length file in log folder prevents correct functioning of the library on startup"
Hi,

I am from Apache Cassandra project and we hit this issue (see the stack trace).

It seems to me that this library does not correctly handle a case when there is an empty file to append to and it seems like it races.

We are using version 5.20.123

https://issues.apache.org/jira/browse/CASSANDRA-17933

[2022-10-04 08:45] hft-team-city commented on #1197
Released in [Chronicle-Queue-5.23.36](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.36), [BOM-2.23.127](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.127)

[2022-10-04 08:45] hft-team-city commented on #1177
Released in [Chronicle-Queue-5.23.36](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.36), [BOM-2.23.127](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.127)

[2022-10-04 12:55] julgus opened #1208 "Add Antora docs for Queue Replication"

[2022-10-05 09:53] smiklosovic opened #1209 "What is metadata.cq4t good for? Is it safe to remove empty cq4 file and reuse metadata?"
Hi,

where can I read more about metadata.cq4t and its role? I tried to dump the content but I do not understand it.

The bug we hit was that if you place empty cq4 file into a directory where metadata.cq4t is and you start the queue, it will fail. See (1).

So, to not fail, we plan to remove that empty file (we do have a clue why it was created in the first place, but anyway).

The problem we hav

[2022-10-06 01:54] #1157 closed, assigned to alamar

[2022-10-06 09:12] alamar commented on #1209
Please use web sites such as Stack Overflow to ask questions. GitHub issues should only concern bugs or feature requests.

[2022-10-06 09:12] #1209 closed, assigned to nobody

[2022-10-08 02:03] hft-team-city commented on #1157
Released in [Chronicle-Queue-5.22.28](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.28), [BOM-2.22.162](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.162)

[2022-10-09 23:35] #1187 closed, assigned to JerryShea

[2022-10-09 23:36] #1203 closed, assigned to peter-lawrey

[2022-10-09 23:36] #1190 closed, assigned to peter-lawrey

[2022-10-09 23:37] JerryShea commented on #1187
See https://github.com/OpenHFT/Chronicle-Queue/pull/1194

[2022-10-10 11:27] chaitas90 opened #1215 "EventLoop gets stuck at entryCount in chronicle queue 5.22.24"
This is how we are creating chronicle queue..

eventStore = SingleChronicleQueueBuilder.binary(GlobalConstants.CURRENT_DIR + GlobalConstants.PATH_SEPARATOR + EventBusConstants.EVENT_DIR + GlobalConstants.PATH_SEPARATOR+ eventType).rollCycle(RollCycles.MINUTELY).build();
appender = eventStore.acquireAppender();

This is thread dump of particular Eventloop that gets stuck at following method entryCo

[2022-10-10 21:33] JerryShea commented on #1215
@chaitas90 what do you mean by "get stuck"? Which version of CQ are you using?

[2022-10-11 04:53] chaitas90 commented on #1215
I am using it with [vert.x](https://github.com/eclipse-vertx/vert.x) and it is blocking my thread at
app//net.openhft.chronicle.queue.impl.single.SingleChronicleQueue.entryCount(SingleChronicleQueue.java:820)
CQ version is 5.22.24..
After restarting server it starts working as expected and after some time issue occurs again..

[2022-10-11 05:26] JerryShea commented on #1215
How long does it block for? If you grab a few stack traces is it always blocked at the same place? Your first stack trace said it was blocked at `SingleChronicleQueue$StoreSupplier.acquire(SingleChronicleQueue.java:1103)`. I believe this is `                            wire.readFirstHeader(timeoutMS, TimeUnit.MILLISECONDS);` - please confirm that is true in your version.

That line does not block,

[2022-10-11 07:03] #1192 closed, assigned to foroughgoudarzi

[2022-10-12 10:44] foroughgoudarzi commented on #1166
It already has Javadoc

[2022-10-12 10:44] #1166 closed, assigned to foroughgoudarzi

[2022-10-13 23:19] JerryShea opened #1220 "Inconsistent overlapSize calculation"
`overlapSize` was being calculated twice differently

[2022-10-13 23:41] nicktindall opened #1221 "Put esoteric/test/legacy roll cycles a little more out-of-reach"
The RollCycles enum contains definitions for a bunch of common roll cycles. It also includes some definitions for legacy roll cycles, test roll cycles and some specialised roll cycles for unusual configurations.

Currently if you're looking at the decompiled RollCycles class there's no indication of which ones you should probably use (it's explained in JavaDoc) and getting it wrong can have some u

[2022-10-14 00:15] JerryShea commented on #1215
See also https://github.com/OpenHFT/Chronicle-Queue/pull/1222

[2022-10-14 06:07] #1220 closed, assigned to JerryShea

[2022-10-17 04:22] JerryShea commented on #604
To build and run Chronicle products on Java 11/17 please see also https://chronicle.software/chronicle-support-java-17/ for instructions to run on Java 11/17

[2022-10-18 14:40] alamar opened #1225 "It is possible to store queue meta table without metadata section"
If metadata is absent, it will be read as NoMeta, which is not permitted:

[code]
But turns out you can still write such table, just not read it.

[2022-10-20 15:40] alamar commented on #1225
@peter-lawrey what do you think about that? Should we ignore and overwrite (absent) NoMeta with SCQMeta when it is written into Queue's table store by some external process?

[2022-10-24 08:49] imkcy9 opened #1227 "Exception occurred when using chronicle queue."
Any idea about this infomation? so I can fix it.

Exception in thread "WRITER_SERVICE" net.openhft.chronicle.bytes.util.DecoratedBufferUnderflowException: Acquired the next BytesStore, but still not room to add 4 when realCapacity 889192448
	at net.openhft.chronicle.bytes.internal.ChunkedMappedBytes.writeCheckOffset(ChunkedMappedBytes.java:266)
	at net.openhft.chronicle.bytes.AbstractBytes.writeOr

[2022-10-24 08:54] JerryShea commented on #1227
@imkcy9 is this the same exception as https://github.com/OpenHFT/Chronicle-Bytes/issues/454 ?

[2022-10-24 13:41] peter-lawrey commented on #1225
We should try to repair files if possible, they should always have the expected header data structure

[2022-10-25 16:01] alamar commented on #1225
It seems both undesirable (we try to only ever to it once) and impossible to overwrite queue header:

I've pushed my prototype but it does not work

[2022-10-25 16:03] alamar commented on #1225
@peter-lawrey what do you think about that? Is it actually possible to overwrite queue metadata once it's created? Please see the PR.

[2022-10-26 08:37] imkcy9 opened #1230 "java.lang.InternalError when restart my JAVA program."
I was recently using Chronicle Queue, but there seem to be some problem for me. Thank you for any suggest!

error：java.lang.InternalError: a fault occurred in a recent unsafe memory access operation in compiled Java code
  at net.openhft.chronicle.bytes.internal.NativeBytesStore.readVolatileInt(NativeBytesStore.java:410)
  at net.openhft.chronicle.bytes.internal.ChunkedMappedBytes.readVolatileInt(

[2022-10-26 08:40] imkcy9 commented on #1227
Thanks, I have solved this for upding to Version 5.23.36

[2022-10-27 04:41] #1221 closed, assigned to nobody

[2022-10-27 13:58] bjarteaeide opened #1232 "Reading chronicle-queues of "fieldless_binary" wire type fails in some cases"
When reading enums of certain lengths from a "fieldless_binary" queue, the method-reader fails on subsequent messages with the following error:
[code]

I have attached a junit test demonstrating the issue. [FieldlessTest.txt](https://github.com/OpenHFT/Chronicle-Queue/files/9879747/FieldlessTest.txt)

The test fails for both chronicle-queue versions 2.23.128 and 5.24ea0.
When using chronicle-queue

[2022-10-28 05:25] #1227 closed, assigned to nobody

[2022-10-28 05:25] JerryShea commented on #1227
@imkcy9 good to hear

[2022-10-28 05:26] JerryShea commented on #1215
@chaitas90 Can you try this with the latest version - there is some better logging from #1222

I suspect that another process died and left a lock on the file.

[2022-10-28 05:29] JerryShea commented on #1163
@alamar FYI I ran this test locally and it worked, so I un-ignored it. Unfortunately it was flaky in TeamCity so I re-ignored it; I'm afraid I didn't have the time to investigate.

[2022-10-28 05:31] JerryShea commented on #1073
@ajax-lizogubenko-s now that #1148 is fixed, can you re-try this with the latest version?

[2022-10-28 05:36] JerryShea opened #1234 "FileUtilTest sometimes takes a very long time to run"
It appears that `lsof` is blocking/hanging. See https://teamcity.chronicle.software/buildConfiguration/Chronicle_BuildAll_OpenHFTJava11Bumped/743865?buildTab=tests&status=all&orderBy=duration&order=desc

Suggest we consolidate FileUtil & MappedFileUtil (but use MappedFileUtil's approach of using `/proc/self/maps` to work around `lsof` hanging).

FileUtil was introduced in #636, has documentation a

[2022-10-28 05:46] nicktindall commented on #1073
The problem with `countExcerpts()` will persist in x.23 because it uses `acquireTailer()`. It's fixed in x.24ea but we should backport the changes to stop using `acquireTailer()` to x.23 if we want it to not leave file handles open.

[2022-10-28 14:48] hft-team-city commented on #1221
Released in [Chronicle-Queue-5.24ea1](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.24ea1), [BOM-2.24ea6](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.24ea6)

[2022-10-28 14:48] hft-team-city commented on #1220
Released in [Chronicle-Queue-5.24ea1](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.24ea1), [BOM-2.24ea6](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.24ea6)

[2022-10-31 10:12] #1169 closed, assigned to foroughgoudarzi

[2022-10-31 11:16] alamar commented on #1232
Last version where this test runs without errors is `5.23ea23`

[2022-10-31 11:27] alamar commented on #1232
[code]
candidate for a root cause

[2022-11-01 02:39] JerryShea commented on #889
Closing as we are not going to fix gaps in proxy method writers

[2022-11-01 02:39] #889 closed, assigned to JerryShea

[2022-11-04 00:56] #1234 closed, assigned to nobody

[2022-11-08 09:54] foroughgoudarzi opened #1242 "Fix Root directory and start_page problem"

[2022-11-08 10:04] #1242 closed, assigned to foroughgoudarzi

[2022-11-08 14:40] #1232 closed, assigned to nobody

[2022-11-10 09:08] hft-team-city commented on #1234
Released in [Chronicle-Queue-5.24ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.24ea2), [BOM-2.24ea9](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.24ea9)

[2022-11-10 09:08] hft-team-city commented on #1232
Released in [Chronicle-Queue-5.24ea2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.24ea2), [BOM-2.24ea9](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.24ea9)

[2022-11-10 13:34] hft-team-city commented on #1234
Released in [Chronicle-Queue-5.23.37](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.37), [BOM-2.23.135](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.135)

[2022-11-10 13:34] hft-team-city commented on #1232
Released in [Chronicle-Queue-5.23.37](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.37), [BOM-2.23.135](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.135)

[2022-11-10 13:34] hft-team-city commented on #1220
Released in [Chronicle-Queue-5.23.37](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.37), [BOM-2.23.135](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.135)

[2022-11-10 13:34] hft-team-city commented on #1157
Released in [Chronicle-Queue-5.23.37](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.23.37), [BOM-2.23.135](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.135)

[2022-11-14 11:03] alamar commented on #1225
It seems that it is currently unfeasible. If the queue meta table file was created with incorrect metadata section, it needs to be recreated in offline mode.

[2022-11-14 11:03] #1225 closed, assigned to alamar

[2022-11-14 13:06] glukos opened #1244 "SingleChronicleQueueBuilder should choose the implementation after config options are loaded from existing metadata"
Exisitng `metadata.cq4t` may have some enterprise-only features configured.
If we initialize a queue with `SingleChronicleQueueBuilder.binary(path).build()`, relying on reloading the config from disk, we may choose an incorrect queue implementation.

[2022-11-15 08:12] JerryShea commented on #1230
@imkcy9 can you provide a failing test case?

[2022-11-15 08:14] JerryShea commented on #1215
No response received, so closing. @chaitas90 please re-open if you find a problem

[2022-11-15 08:14] #1215 closed, assigned to nobody

[2022-11-15 08:26] JerryShea opened #1246 "Fix performance build in TC"
See https://teamcity.chronicle.software/buildConfiguration/Chronicle_ChronicleQueue_Perf?mode=builds

[2022-11-15 09:02] foroughgoudarzi opened #1248 "Add xref validator to Antora build"

[2022-11-15 09:06] #1248 closed, assigned to foroughgoudarzi

[2022-11-15 10:05] #1244 closed, assigned to glukos

[2022-11-16 11:21] hft-team-city commented on #1244
Released in [Chronicle-Queue-5.24ea3](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.24ea3), [BOM-2.24ea10](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.24ea10)

[2022-11-17 16:06] alamar commented on #1094
I believe it is

[2022-11-17 16:12] alamar commented on #1094
It gets into `writePosition` in `net.openhft.chronicle.bytes.AbstractBytes#uncheckedWritePosition`

[2022-11-17 16:14] alamar commented on #1094
And `AbstractBytes.readLimit` is `writePosition` so it seeps from `ChunkedMappedBytes`.

[2022-11-17 16:15] alamar commented on #1094
So I'm just not sure which one of those is not by design @rogersimmons

[2022-11-20 23:55] hft-team-city commented on #1244
Released in [Chronicle-Queue-5.22.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.29), [BOM-2.22.166](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.166)

[2022-11-20 23:55] hft-team-city commented on #1234
Released in [Chronicle-Queue-5.22.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.29), [BOM-2.22.166](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.166)

[2022-11-20 23:55] hft-team-city commented on #1220
Released in [Chronicle-Queue-5.22.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.22.29), [BOM-2.22.166](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.166)

[2022-11-21 08:32] foroughgoudarzi opened #1251 "Update Antora version to 3.1.2"

[2022-11-21 08:34] #1251 closed, assigned to foroughgoudarzi

[2022-11-24 16:48] alamar opened #1253 "net.openhft.chronicle.queue.channel.PubSubHandlerYamlTest.yamlTest is flaky"
Failed twice of approx. 50 runs on TC

[2022-11-24 23:47] #1253 closed, assigned to alamar

[2022-11-25 10:21] alamar commented on #1094
I will close this ticket, please reopen if there's any specific failure mode here.

[2022-11-25 10:21] #1094 closed, assigned to alamar

[2022-11-25 16:15] #1163 closed, assigned to alamar