[2019-01-30 21:56] MartyIX commented on #560
I see. Is the test of some value for non-Windows platforms then?

[2019-01-31 03:19] amitavab commented on #560
We do development on Windows machines

On Thu, Jan 31, 2019, 3:26 AM Martin Vseticka <notifications@github.com>
wrote:

[2019-02-01 16:25] dpisklov commented on #560
@MartyIX this test works (passes) on my Linux machine, so I guess the problem only exists for Windows.
@amitavab if you can provide a failing test which will fail on linux we will have a look. Support for Windows is on a best-effort basis, and as this is not the problem likely to affect our clients, we don't consider this as something worth investing time into.
That said, we are happy to approve P

[2019-02-01 16:25] #560 closed

[2019-02-02 22:20] abysas opened #578 "Underlying ByteBuffer does not reflect Bytes state"
`ByteBuffer` obtained through `Bytes#underlyingObject()` does not reflect the the state of `Bytes` instance:  `ByteBuffer#limit()`  does not match the `Bytes#length()`. Here is the Unit test illustrating the issue:

[code]
This test fails with error:
[code]
Chronicle Queue version used: 5.17.3

[2019-02-03 00:00] abysas opened #579 "SingleChronicleQueue#entryCount() fails with IllegalArgumentException"
`SingleChronicleQueue#entryCount()` fails:
[code]
The test case:
[code]
Chronicle Queue version 5.17.3

[2019-02-03 21:54] MartyIX commented on #429
https://github.com/MartyIX/avro/commit/dac2dc74c01f7ee108bc35014d74449dce1f3903 - This is a very simple demonstration. It has rough edges though:

* EncoderByteArrayOS
* Creating `BinaryDecoder` as its implementation is no re-usable by design.
* ...

[2019-02-04 14:12] dpisklov commented on #578
This is by design.
We don't use Java API to write to bytebuffer, instead we write directly to the (on heap or off heap) memory for speed, and it is deliverate decision not to tr to update underlying buffer's state.
User can always do this if direct interaction with ByteBuffer object is needed, e.g. (from TcpEventHandler class in Chronicle-Network project):
[code]

[2019-02-04 14:13] #578 closed

[2019-02-04 14:53] #579 closed

[2019-02-04 14:56] dpisklov opened #580 "When writing EOF marker in the queue file, it's possible to truncate file in the background"

[2019-02-04 18:12] #580 closed

[2019-02-04 19:42] abysas commented on #579
Please comment, why this issue was closed?

[2019-02-04 19:54] dpisklov commented on #579
@abysas because it's fixed may be?

[2019-02-04 20:09] abysas commented on #579
@dpisklov, sorry, didn't noticed that ticket was closed as a result of the commit. Thanks a lot for the fix.

[2019-02-06 14:48] #429 closed

[2019-02-06 14:49] dpisklov commented on #429
@MartyIX thanks for the inspiration, I used your example and slightly adjusted it to create a sample

[2019-02-07 20:05] hft-team-city commented on #580
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.149](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.149)

[2019-02-07 20:05] hft-team-city commented on #579
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.149](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.149)

[2019-02-07 20:05] hft-team-city commented on #429
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.149](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.149)

[2019-02-08 08:38] RobAustin opened #596 "fixed java.lang.IllegalStateException while calling periodicUpdate"
[code]

[2019-02-11 10:22] RobAustin commented on #596
This turned out to be due to corrupt data from the previous run, an as such is a non-issue. So closing as won't fix.

[2019-02-11 10:22] #596 closed

[2019-02-11 14:32] #512 closed

[2019-02-15 02:47] JerryShea commented on #558
Possibly resolved by #561, #580, #559, #551 ?

[2019-02-20 01:12] andyliukun commented on #562
I am looking for the restartable tailers too.

[2019-02-20 16:11] dpisklov commented on #562
This is already available in latest version

[2019-02-20 16:11] #562 closed

[2019-03-05 15:05] abysas opened #598 "Example with "writing 10 messages, then moving to the 5th" fails when moving accross rolled files"
The example presented at https://github.com/OpenHFT/Chronicle-Queue#how-to-write-10-messages-then-move-to-the-5th-message-to-read-it fails if I set RollCycles.TEST_SECONDLY and introduce 1.5 s delay between appends in the loop:
[code]

The assertion fails:
[code]

[2019-03-05 15:18] abysas commented on #598
I reproduced the same issue when roll minutely and increased the delay in the loop to 7 s. Seems that moving to index across the rolled files are not working correctly. If it is by design, could then the example be corrected to show the safe way on moving to _n_th item in the queue.

Chronicle Queue v5.17.10
OS: Windows 10 x64

[2019-03-05 15:29] RobAustin commented on #598
The test should be change to use the time provider rather than pausing 1.5 seconds

[2019-03-06 02:11] mcs6502 opened #599 "Provide compatibility with OpenJ9"
Please could you provide the ability to run Chronicle Queue on OpenJ9 VM.

[2019-03-06 02:26] mcs6502 commented on #599
Chronicle Queue version 5.17.8 fails when running on OpenJ9, getting a `java.lang.IllegalStateException: expecting index, was index2` exception in `SCQIndexing.array()`.
The underlying problem is that the `StringUtils.extractBytes()` call expects the String class to contain an array of single-byte characters, whereas on OpenJ9 it has a byte array with UTF-16 in it (uncompressed).
This particular i

[2019-03-06 05:54] abysas commented on #598
Could you please provide more infornation on using the time provider? What is it?

Technicaly append may occur at any time. How then this differ from Thread.sleep() while being alligned with "using time provider"?

[2019-03-06 07:22] RobAustin commented on #599
Are you able to create a pull request for chronicle-core and apply the fix you suggest ?

[2019-03-06 12:09] dpisklov commented on #599
@mcs6502 as a small company, we are unable to provide support for the exotic JVM versions our clients do not use. Please feel free to provide a pull request to add this support, or consider becoming our customer if you require this for commercial purposes. In latter case please contact sales@chronicle.software

[2019-03-06 22:08] abysas commented on #598
@RobAustin, could you please elaborate a bit on your suggestion about the time provider and how it can be related to appender adding entries at random time?
In the present example the delay is caused by `Thread.sleep()`, but equivalent blocking could be caused by any other slow resource. To us it is a blocker issue as we cannot reliably move to particular message sequence.

[2019-03-06 22:52] RobAustin commented on #598
For use of the time provider, see other tests in chronicle-queue which use the time provider. The time provider let’s the test control the time that actions are taken. Making these timing related test totally reproducible. This is better than relying on a sleep for a certain number of milliseconds which may or may not return by that time.

[2019-03-06 23:00] RobAustin commented on #598
If you have a blocker issue and you wish us to give it priority. Please contact sales@chronicle.software and we can discuss the support contracts we offer.

[2019-03-07 12:46] mcs6502 commented on #599
Rob and Dmitry -- I have researched this a bit further, and found the following assertion in `shouldExtractBytesFromString()` method in StringUtilsTest:
[code]
This indicates that the `byte[]` methods on StringUtils are designed to work only on those Java 9+ VMs that have the compact strings feature enabled, but not on ones that have non-compact strings. This is not specific to OpenJ9, and HotSpot

[2019-03-07 12:48] dpisklov commented on #599
@mcs6502 fair enough - thanks for the info and research. Shall we close the issue then?

[2019-03-07 13:35] RobAustin commented on #599
thank you we have updated our documentation to reflect your findings, thank you again.

see https://github.com/OpenHFT/Chronicle-Queue/blob/master/README.adoc#can-chronicle-queue-work-on-openj9 <https://github.com/OpenHFT/Chronicle-Queue/blob/master/README.adoc#can-chronicle-queue-work-on-openj9>

[2019-03-08 12:31] mcs6502 commented on #599
Might also be worth adding that OpenJ9 version 0.12.1 and earlier requires the file descriptor limit to be manually adjusted to a higher value -- for example, using the command `ulimit -Sn 500`.
And yes -- should be good to close this issue, thank you!

[2019-03-08 17:19] #599 closed

[2019-03-10 02:40] mcs6502 commented on #560
@amitavab @MartyIX There is the StoreComponentReferenceHandler enum in Chronicle Queue v4 and later, which asynchronously releases cached references to some Chronicle objects. Its task runs at one-second intervals, so there might be a delay between your closing of Chronicle resources and its files actually being closed/unmapped. Therefore, on Windows you might need to employ some sort of strategy

[2019-03-11 08:33] whitelilis opened #600 "jdk11 warning : illegal reflective access"
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by net.openhft.compiler.MyJavaFileManager (file:/Users/xxx/.m2/repository/net/openhft/compiler/2.3.4/compiler-2.3.4.jar) to method com.sun.tools.javac.file.JavacFileManager.listLocationsForModules(javax.tools.JavaFileManager$Location)
WARNING: Please consider reporting this to the maintainers of net.ope

[2019-03-11 13:15] #600 closed

[2019-03-11 13:16] dpisklov commented on #600
I fixed this although it doesn't belong to this project. In the future please raise issues in appropriate projects (Java-Runtime-Compiler, in this particular case)

[2019-03-19 21:29] hft-team-city commented on #562
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #512
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #580
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #579
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #429
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #564
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #563
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #561
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #559
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #553
Released in [Chronicle-Queue-5.17.4](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.4), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-22 01:13] JerryShea commented on #558
Closing as this has not reoccured since delivery of a later CQ with the above improvements

[2019-03-22 01:13] #558 closed

[2019-03-22 06:55] JerryShea opened #601 "Allow reading of chronicle queue even if metadata file is read only"

[2019-03-22 07:30] #601 closed

[2019-03-22 17:59] hft-team-city commented on #601
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.206](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.206)

[2019-03-22 17:59] hft-team-city commented on #600
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.206](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.206)

[2019-03-22 17:59] hft-team-city commented on #599
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.206](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.206)

[2019-03-22 17:59] hft-team-city commented on #558
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.206](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.206)

[2019-04-01 02:48] JoshBroadway opened #602 "Chronicle-Queue with stream processing system"
Hi, I'm investigating using Chronicle-Queue as the mechanism to transport data from my Java application into an Apache Flink instance. Chronicle-Queue satisfies is the perfect tool for my usecase (high volumn, low latency requirement) but when I try to use a SingleChronicleQueue as a SourceFunction in Flink I get a NotSerializableException from Flink.

Is there a way to use Chronicle-Queue with Fl

[2019-04-01 06:06] JerryShea commented on #602
Hi Josh, what does Flink need to be Serializable? The SingleChronicleQueue object itself?

[2019-04-01 06:52] JoshBroadway commented on #602
Hi Jerry,

I'm still learning my way around Flink and Chronicle-Queue myself so what I'm asking for might not make sense. :)

I've tried to write a customised Flink SourceFunction that uses the SingleChronicleQueue to read data into Flink but I've since found out that all objects used in Flink need to be serializable. For me right now that means SingleChronicleQueue and ExcerptTailer (and all of t

[2019-04-01 08:19] RobAustin commented on #602
@JoshBroadway Have you tried making your DTO's both Serializable for Flink and Marshallable for ChronicleQueue. In other words, your DTO should be able to implement both Serializable, Marshallable

[2019-04-01 22:21] JoshBroadway commented on #602
@RobAustin yeah, that's a good idea but that won't fix the problem that I'm currently experiencing. The exception being thrown is below.

	at org.apache.flink.api.java.ClosureCleaner.clean(ClosureCleaner.java:99)
	at org.apache.flink.streaming.api.environment.StreamExecutionEnvironment.clean(StreamExecutionEnvironment.java:1559)
	at org.apache.flink.streaming.api.environment.StreamExecutionEnviron

[2019-04-01 22:28] JoshBroadway commented on #602
Here is a copy of the code that I'm using to generate the error. I'm aware that my implementation of the run() method might not work very well for what I want but at the moment I can't even construct the ChronicleQueueSource.

    package mynamespace.sources;

    import mynamespace.chronicle.MyClass;

    import net.openhft.chronicle.queue.ExcerptTailer;
    import net.openhft.chronicle.queue.imp

[2019-04-02 03:11] JerryShea commented on #602
@JoshBroadway without knowing much about Flink, I would make queue and tailer fields transient in your object and create them lazily if need be in your run method. This should work fine for the queue object as the `SingleChronicleQueue` stores all its state in the persisted memory-mapped queue files on disk. The tailer does store state - its position in the queue, and so for the tailer, you may ne

[2019-04-03 04:30] JoshBroadway commented on #602
@JerryShea thanks for the suggestion. I should have thought of that myself but that got it working!

Flink is now automatically scaling the Tailers and they're all reading from the queue. However, as you noted, they're all reading the same messages, I would like to implement the queue as a read-once queue, rather than have each Tailer read every message. I note in your documentation that you recom

[2019-04-03 07:48] RobAustin commented on #602
@JoshBroadway - We don't have any example code but it's easy to implement let's assume that you have 5 tailers, and you notionally consider each trailer to be given its own unique number 1-to 5. In your DTO you add an extra field, let's call it tailer number  ( when you create the message you assign which trailer you wish to process this message ). After each tailer deserializes each message you r

[2019-04-03 07:55] RobAustin commented on #602
If you have any further questions please ask these on stack-overflow, as we wish to leave git-issues for issue reporting. Thanks.

[2019-04-03 07:55] #602 closed

[2019-04-03 12:45] hft-team-city commented on #601
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #600
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #599
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #558
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #562
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #512
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #580
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #579
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #429
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #564
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #563
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:45] hft-team-city commented on #561
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:46] hft-team-city commented on #559
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:46] hft-team-city commented on #553
Released in [Chronicle-Queue-5.17.4](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.4), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-18 06:59] mizeng opened #603 "File Descriptor Leak on directory-listing.cq4t and lots of File Descriptor on deleted cq4 file"
## Our Env
JDK: 1.8.0_111
ChronicleQueue: 4.16.0
Max Open Files Limit of Process: 65535

## Use Behavior of Chronicle Queue
In short, we create a SingleChronicleQueue with 1m RollCycle. We rely on RollCycle, so we don't close the queue.
1. We created a queue by `SingleChronicleQueue queue = SingleChronicleQueueBuilder.binary(chroniclePath).rollCycle(RollCycles.MINUTELY)
                .storeFileL

[2019-04-23 06:15] kant111 opened #604 "Is this Java 11 compatible ?"
Is this Java 11 compatible?

[2019-04-23 08:27] RobAustin commented on #604
Yes, It will work in a java 11 project

[2019-04-23 11:02] dpisklov commented on #603
First of all, you should not be caching appender. The acquireAppender will reuse thread local appender for you, and your getAppender method is broken if you ever use it from multiple threads.

On (1) - are you deleting queue files? We do not recommend deleting files that are still in use. But that aside - all files are again different. We release the file handles for cq4 files lazily, not immediat

[2019-04-23 11:15] dpisklov commented on #604
Please (1) use search on the issues before posting a new one - it has been mentioned a dozen times before and (2) *do not* use github issues for asking questions - it is for reporting issues. Stackoverflow is for questions.

[2019-04-23 11:15] #604 closed

[2019-05-08 15:29] hft-team-city commented on #601
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #600
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #599
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #558
Released in [Chronicle-Queue-5.17.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.11), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #512
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #562
Released in [Chronicle-Queue-5.17.10](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.10), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #580
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #579
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #429
Released in [Chronicle-Queue-5.17.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.9), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #564
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #563
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #561
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #559
Released in [Chronicle-Queue-5.17.5](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.5), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #553
Released in [Chronicle-Queue-5.17.4](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.4), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-15 21:43] sazbad opened #605 "CQ crashes JVM inside docker once it reaches close to the volume limit of disk"
We are using CQ to write some data and we dockerized our services. This is the following configuration of our deployment.

1) The volume where CQ writes file: 1 GB
2) assigned 2GB memory to the docker process like this `--memory="2048m"`
3) assigned the JAVA process 512MB by `Xmx`

When we run the docker, it works fine until it reaches around 990MB at which point JVM crashes like this
[code]

[2019-05-16 08:35] RobAustin commented on #605
Although I don't feel that we have made any changes in this area recently. It would be worth ensuring that you are running with the latest version of chronicle-queue. If you increase the space from 2GB to 3GB does it run for longer? We don't actively test chronicle-queue with docker, however, this is something we could support on a commercial arrangement. If you wish to pursue this, please contact

[2019-05-16 08:35] #605 closed

[2019-05-21 02:35] mizeng commented on #603
Thanks a lot. I've found the issue.

[2019-05-21 02:35] #603 closed

[2019-05-24 04:03] JerryShea opened #606 "Removed small source of garbage from boxing in log statement"

[2019-05-24 04:03] JerryShea commented on #606
See https://github.com/OpenHFT/Chronicle-Queue/commit/2efe12540ea77a816bcf5ca442b4cecb471ca53d

[2019-05-24 04:03] #606 closed

[2019-06-03 09:33] rogersimmons opened #607 "Coordinate read-only access to metadata file"

[2019-06-03 09:38] #607 closed

[2019-06-03 10:43] architmmmec opened #608 "Seeing TimeoutException in Chronicle Queue"
2018-11-17 16:30:57.825 [failsafe-sender] WARN  n.o.c.q.i.s.SingleChronicleQueueExcerpts$StoreTailer - Unable to append EOF, skipping
java.util.concurrent.TimeoutException: header: 80000000, pos: 104666
	at net.openhft.chronicle.wire.AbstractWire.writeEndOfWire(AbstractWire.java:459)
	at net.openhft.chronicle.queue.impl.single.SingleChronicleQueueStore.writeEOF(SingleChronicleQueueStore.java:349)

[2019-06-03 10:43] architmmmec opened #609 "Seeing TimeoutException in Chronicle Queue"
2018-11-17 16:30:57.825 [failsafe-sender] WARN  n.o.c.q.i.s.SingleChronicleQueueExcerpts$StoreTailer - Unable to append EOF, skipping
java.util.concurrent.TimeoutException: header: 80000000, pos: 104666
	at net.openhft.chronicle.wire.AbstractWire.writeEndOfWire(AbstractWire.java:459)
	at net.openhft.chronicle.queue.impl.single.SingleChronicleQueueStore.writeEOF(SingleChronicleQueueStore.java:349)

[2019-06-03 10:45] dpisklov commented on #609
Dup of #608

[2019-06-03 10:45] #609 closed

[2019-06-03 10:46] dpisklov commented on #608
This seems to be a quite old version of Chronicle Queue, and even there it was just a warning. In latest version tailer no longer writes anything.

[2019-06-03 10:46] #608 closed

[2019-06-03 10:46] architmmmec commented on #609
In some container boxes I am seeing this and in some I am not seeing even though we are using NFS.

[2019-06-03 10:48] architmmmec commented on #609
@dpisklov  I want to understand why for some container boxes I am getting this and for others I don't

[2019-06-03 10:48] dpisklov commented on #609
@architmmmec please see this note:
https://github.com/OpenHFT/Chronicle-Queue#important-note

[2019-06-03 10:49] architmmmec commented on #609
@dpisklov  I already saw that thread, but I want to understand why in few cases I am not seeing this exception

[2019-06-03 10:49] architmmmec commented on #609
Can you please reopen this issue

[2019-06-03 10:51] dpisklov commented on #609
Because this exception is timing-related, and can only happen at rollcycle boundary, which means it won't happen always and all the time.
Regardless, we don't support that old versions unless for paid customers.

[2019-06-03 10:52] architmmmec commented on #609
@dpisklov  I see in container boxes are not able to read from buffer and write to Kafka.Do you any issue related to this ?? In that box I didn't see this exception

[2019-06-03 10:56] dpisklov commented on #609
The first thing I would advise you to do is to upgrade to latest Chronicle Queue and see if you still see any issues. But as I mentioned, and as documented - we do not support any kind of networking file systems, so it's very likely your issues are coming from there. Although I don't think this issue is at all related to that.

[2019-06-03 10:59] architmmmec commented on #609
@dpisklov  Can you please explain what is rollcycle boundary?

[2019-06-03 11:00] dpisklov commented on #609
@architmmmec  https://github.com/OpenHFT/Chronicle-Queue/#file-rolling

[2019-06-03 11:00] architmmmec commented on #609
And paid version supports networking file systems?

[2019-06-03 11:03] dpisklov commented on #609
There's no paid version. There's paid subscription support. And no, it doesn't support networking. However there's a Queue Enterprise (which one might call a paid version) which provides a Queue Replication - a solution that we offer as a replacement for networking. Queue Replication replicates local queue on local file system over to another box's queue on the local FS.

[2019-06-03 11:03] dpisklov commented on #609
For details on enterprise products, please contact sales@chronicle.software

[2019-06-03 11:04] dpisklov commented on #609
And for more details on queue replication please see the docs:
https://github.com/OpenHFT/Chronicle-Queue/blob/master/docs/replication.adoc

[2019-06-03 11:05] dpisklov commented on #609
And some more info on Queue Enterprise here:
https://github.com/OpenHFT/Chronicle-Queue/blob/master/README.adoc#chronicle-queue-enterprise-edition

[2019-06-04 08:24] architmmmec commented on #609
@dpisklov  I want to understand why it is happening for few boxes only. If it happens at rollcycle boundary also, it should happen for all the boxes?

[2019-06-04 09:52] RobAustin commented on #609
@architmmmec We reserve git issues for issues, we have identified that the problem you are having is not an issue. Chronicle-Queue will not work when used with a network file system. If you would like to have a discussion on this please post your question to StackOverflow https://stackoverflow.com/search?q=chronicle and we or someone else will answer it there. If you would like direct help with yo

[2019-06-04 10:26] architmmmec commented on #609
Thanks  @RobAustin . I have started a thread here: https://stackoverflow.com/questions/56441972/chronicle-queue-issue-with-certain-boxes

[2019-06-05 13:06] david-bouyssie opened #610 "Difference between directory-listing.cq4t and metadata.cq4t"
Could you please elaborate on the differences between the files ```directory-listing.cq4t ``` and  ```metadata.cq4t ```?

Thanks!

[2019-06-05 13:45] RobAustin commented on #610
@david-bouyssie we reserve git issues for issues please post your question to stack overflow and we will answer it there - thanks.

[2019-06-05 13:45] #610 closed

[2019-06-05 13:46] dpisklov commented on #610
They are almost the same, except former was in earlier versions of the queue while latter is since queue 5.0.

[2019-06-05 14:24] david-bouyssie commented on #610
@dpisklov thanks
@RobAustin are you also active on gitter for this kind of questions?

[2019-06-05 14:33] dpisklov commented on #610
@david-bouyssie yes we are:
https://gitter.im/OpenHFT/Lobby

[2019-06-05 23:48] mcs6502 opened #611 "AssertionError in StoreAppender.checkWritePositionHeaderNumber()"
I am having an assertion failure in StoreAppender's checkWritePositionHeaderNumber() method when the appender checks the position after having reset it.

[2019-06-05 23:51] mcs6502 commented on #611
[code]

[2019-06-05 23:57] mcs6502 commented on #611
I've attached a test case that reproduces this issue -- it fails about 8 times out of 10.  Confirmed that this failure occurs in the latest chronicle-queue 5.17.14.
[ChronicleAppenderCycleTest.java.txt](https://github.com/OpenHFT/Chronicle-Queue/files/3259428/ChronicleAppenderCycleTest.java.txt)

[2019-06-06 00:09] mcs6502 commented on #611
A race window might exist between the following two lines in StoreAppender's resetPosition() method:
[code]
(The store.lastSequenceNumber() could have moved as a result of another party appending to the queue at the same time.)

[2019-06-10 13:17] dpisklov commented on #611
@mcs6502 do you mind pasting the test case here? I can't access the attachment for some reason...

[2019-06-10 13:34] mcs6502 commented on #611
Sure thing -- here it is inline:
[code]

[2019-06-10 15:34] #611 closed

[2019-06-10 15:37] dpisklov commented on #611
@mcs6502 thanks for this, I fixed the issue now. Basically you've hit a corner case - normally users don't use cycle(), especially on a new appender, and cycle() operation had a (undesired) side effect - it also initialized roll cycle for appender if it's unset. I removed this logic, as I don't think read access should mutate anything.

[2019-06-11 22:31] mcs6502 commented on #611
Thanks for the quick fix, Dmitry! I've done a build of the current master and can confirm that the assertion error during cycle() is fixed.
Just wanted to note that previously by calling cycle() on the appender, one could create an empty queue -- and initialise its files on disk -- if the queue didn't already exist.  This was (still is?) required because tailers would fail to open the queue unless

[2019-06-12 10:41] dpisklov commented on #611
@mcs6502 The PretoucherTest is known to be flaky, so you can ignore it. Not sure about the other one, but can see that our CI builds are all passing including Windows and ARM.

As to the side effect you described that's exactly the undesired behaviour. There shouldn't really be a way to create a queue file without any data in it - tailer should only pick up files when there's data. I checked that

[2019-07-01 21:31] anirudh-striim opened #612 "Is there a way to disable the disk-space check that happens by default within chronicle system"
I am using chronicles-bom with version 2.17.48 and I see that the disk-space check happens by default in the chronicles system. I am running into an issue where fileStoreCacheMap object inside DiskSpaceMonitor.java class is not cleared in memory for some reason and its bloating up my memory.

Is there a way to disable this disk check as a quick fix ?

[2019-07-02 20:52] anirudh-striim commented on #612
The issue here looks like the DiskSpaceMonitor thread never gets cleaned up and the fileStoreCacheMap grows too big in size overtime and its crashing the system.

[2019-07-02 21:08] dpisklov commented on #612
@anirudh-striim I'm afraid there's no way to disable it currently

[2019-07-02 21:30] anirudh-striim commented on #612
@dpisklov - I am planning to send a PR with the memory optimization checks for DiskSpaceMonitor. Do you have any documentation on how to build and test it locally ?

[2019-07-02 21:31] dpisklov commented on #612
There's nothing specific really - mvn test will do.

On Tue, 2 Jul 2019, 22:30 anirudh-striim, <notifications@github.com> wrote:

[2019-07-15 10:18] JerryShea opened #613 "Fixed tailer.readAfterReplicaAcknowledged(true)"

[2019-07-15 10:24] #613 closed

[2019-07-17 09:39] goran223 opened #614 "Writing to queue, roll cycle HOURLY. java.lang.IllegalStateException: expecting index, was header."
From time to time, when writing hourly queues, I experiencing this exception. I believe there could be a issue with the hourly roll cycle mode because every time this occurs in relation with chronicle rolling to the next hourly cycle. It can perform well for a few hours, sometimes an entire day, but then all of a sudden this occurs.

`java.lang.IllegalStateException:` expecting index, was header

[2019-07-17 14:50] dpisklov commented on #614
Are you sharing the appender between threads by a chance?

[2019-07-18 12:43] goran223 commented on #614
Hi @dpisklov,

I am not sharing the appender between threads. I double checked it, just to be sure.

Regards

[2019-07-19 11:56] hft-team-city commented on #613
Released in [Chronicle-Queue-5.17.15](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.15), [BOM-2.17.279](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.279)

[2019-07-19 11:56] hft-team-city commented on #611
Released in [Chronicle-Queue-5.17.15](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.15), [BOM-2.17.279](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.279)

[2019-07-19 11:56] hft-team-city commented on #607
Released in [Chronicle-Queue-5.17.15](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.15), [BOM-2.17.279](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.279)

[2019-07-19 11:56] hft-team-city commented on #609
Released in [Chronicle-Queue-5.17.15](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.15), [BOM-2.17.279](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.279)

[2019-07-19 20:03] dpisklov commented on #614
@goran223 Can you create a test case reproducing this? And what OS/Java version are you using?

[2019-07-22 08:26] goran223 commented on #614
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-b10)
OpenJDK 64-Bit Server VM (build 25.171-b10, mixed mode)

redhat-7.5

I'll see if I can produce a test case. For now I've decided to change the roll cycle to DAILY and no problems occurred yet. The change was made 4 days ago.

[2019-08-07 07:47] leolee192 opened #615 "unused variable `basePath` in Readme # Getting Started"
There was the following description in the current "Getting Started" example:

[code]

seemed `"queue-dir"` should be `basePath`

[2019-08-21 14:02] #615 closed

[2019-08-27 07:13] RobAustin opened #616 "Changed timeout on SingleTableStore to a timeout that takes account of GC pauses"
A client reported an issue where the table store was becoming locked on a long 70 second GC pause.

the notes from the client are as follows-

_After investigation, it doesn’t seem like there is another process running using that file. Our logs indicate that a gc occurred right before the exception. Looking at the implementation of doWithExclusiveLock, if the gc happened between line 136 and 138 (

[2019-08-27 17:24] #616 closed

[2019-08-29 21:18] hft-team-city commented on #616
Released in [Chronicle-Queue-5.17.20](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.20), [BOM-2.17.364](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.364)

[2019-08-29 21:18] hft-team-city commented on #616
Released in [Chronicle-Queue-5.17.19](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.19), [BOM-2.17.364](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.364)

[2019-08-29 21:18] hft-team-city commented on #615
Released in [Chronicle-Queue-5.17.19](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.19), [BOM-2.17.364](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.364)

[2019-08-30 08:40] peter-lawrey opened #617 "Added support for striding when scanning backwards."
Reading backwards is not as efficient as reading forwards and if you don't need to read every entry, it is faster to jump to the previous multiple of the indexSpacing()

[2019-08-30 08:42] #617 closed

[2019-09-03 16:35] hft-team-city commented on #617
Released in [Chronicle-Queue-5.17.21](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.21), [BOM-2.17.369](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.369)

[2019-09-17 07:38] JerryShea opened #618 "Force readOnly(true) if metadata.cq4t is read only"

[2019-09-17 07:47] #618 closed

[2019-09-19 01:29] hft-team-city commented on #618
Released in [Chronicle-Queue-5.17.22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.22), [BOM-2.17.381](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.381)

[2019-09-30 18:20] nanomad opened #619 "IllegalArgumentException when reading from a freshly-created queue containg just one message"
Hi, we are encountering a `java.lang.IllegalArgumentException: Unsigned Int 31-bit -1 out of range` exception after reading from a queue in the following state:

- Just one message in the queue
- The read happens an interval of time after the write that is less than the rolling cycle of the queue

Tested version: chronicle-queue 5.17.23

MWE / Test case is after the stack trace.

Stack trace
[code

[2019-10-01 20:58] #619 closed

[2019-10-01 20:58] dpisklov commented on #619
@nanomad thanks for reporting the issue and especially for the test case, I have now fixed it.

[2019-10-03 16:13] hft-team-city commented on #619
Released in [Chronicle-Queue-5.17.24](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.24), [BOM-2.17.396](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.396)

[2019-10-04 19:54] danjmarques commented on #483
@RobAustin - I saw the same exception while doing some tests.  Would you mind describing what you mean by "saturated the indexing"?

[code]

[2019-10-05 11:20] RobAustin commented on #483
It was a while ago now and I can not remember what I meant by this,  hence I will reopen the issue for further investigation.

[2019-10-08 08:43] nanomad opened #620 "java.time.DateTimeException when using a custom RollCycle with a pattern without time"
We are experiencing this exception when using a CQ with a custom, weekly, RollCycle configured with the yyyyDDD format.

`java.time.DateTimeException: Unable to obtain Instant from TemporalAccessor: {},ISO,UTC resolved to 1970-01-01 of type java.time.format.Parsed

	at java.time.Instant.from(Instant.java:378)
	at net.openhft.chronicle.queue.impl.RollingResourcesCache.toLong(RollingResourcesCache.j

[2019-10-08 13:28] #620 closed

[2019-10-08 13:28] dpisklov commented on #620
@nanomad thanks for reporting and investigation, much appreciated!

[2019-10-09 21:03] NavidMitchell opened #622 "Log output filling up log files when closing a lot of queues"
We just upgraded to 5.17.24 and now we are getting a ton of log output. We open and close a lot of queues.
So we are seeing a ton of

net.openhft.chronicle.queue.impl.single.SingleChronicleQueueExcerpts$StoreAppender
Closing store append for /media/genesys-kernel-data2/stores/streams/EmberCountsJson-data

When looking at the code this line seems to be the culprit

SingleChronicleQueueExcerpts.java

[2019-10-09 21:11] RobAustin commented on #622
I agree - I think this should be a debug and not a warn.

[2019-10-09 21:51] NavidMitchell commented on #622
Thank you for the quick response. That would be much better. :)

[2019-10-09 22:07] JerryShea commented on #622
That was bugging me as well

[2019-10-09 22:07] #622 closed

[2019-10-10 03:56] NavidMitchell opened #623 "Weak ref queue processed 10000 entries, consider increasing max batch size via -Dchronicle.queue.release.weakRef.maxBatch"
After upgrading from 4.16.1 to 5.17.24 we started receiving this warning message in the log. Can someone tell me if this is something I need to handle?

Thank you,
Navid Mitchell

[2019-10-11 16:13] RobAustin opened #624 "Fixed Issue where existing rollCycle was not maintained upon restart"

[2019-10-11 16:46] #624 closed

[2019-10-11 18:02] hft-team-city commented on #624
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.404](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.404)

[2019-10-11 18:02] hft-team-city commented on #620
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.404](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.404)

[2019-10-11 18:02] hft-team-city commented on #622
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.404](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.404)

[2019-10-17 05:18] hft-team-city commented on #624
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-17 05:18] hft-team-city commented on #620
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-17 05:18] hft-team-city commented on #622
Released in [Chronicle-Queue-5.17.25](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.25), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-17 05:18] hft-team-city commented on #619
Released in [Chronicle-Queue-5.17.24](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.24), [BOM-2.17.407](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.407)

[2019-10-22 13:01] peter-lawrey opened #625 "Allow MethodWriters to the thread safe by default."

[2019-10-22 13:02] #625 closed

[2019-10-22 15:35] hft-team-city commented on #625
Released in [Chronicle-Queue-5.17.26](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.26), [BOM-2.17.412](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.412)

[2019-10-23 10:43] peter-lawrey opened #626 "Add a yaml tests for chained services with history, setting the MessageHistory"

[2019-10-30 13:52] TangPere opened #627 "Multiple ExcerptAppender with single ExcerptTailer issue"
I'm using version 5.17.26

In my case.
RollCycle: Minutely
Two appender: appA, appB
One Tailer: tailer

while true to call tailer.readBytes(bytes -> System.out.println(bytes.readUtf8()));

Step 1
Time: 08:00
appA.writeBytes(bytes -> bytes.writeUtf8("hi a")) at 08:00 after write, make the appA thread sleep
appB.writeBytes(bytes -> bytes.writeUtf8("hi b")) at 08:00 after write, make the appB thread

[2019-10-30 16:05] TangPere commented on #627
https://gist.github.com/TangPere/0361025f21f73d3ac79e7c681b7f3beb

and the output in my pc:
[code]

[2019-10-30 17:48] dpisklov commented on #627
@TangPere and what exactly is wrong in this output? You write 7 messages in total, you get 7 printed, in correct order.

[2019-10-31 00:43] TangPere commented on #627
The msg write time and read time have diff, No 4 5 6 msg. The tailer should read the msg immediately, but in this demo, it have delay when using two appender write msg in diff minute.

[2019-11-04 16:24] TangPere commented on #627
Any update

[2019-11-05 14:09] dpisklov commented on #627
@TangPere I don't know what delay you are talking about. As your code is not really a test case I rewritten it to use secondly roll cycle as follows:
[code]

This outputs
[code]

The output is just as expected. So if you see issue please provide an actual test case with failed assertion.

[2019-11-05 15:06] TangPere commented on #627
@dpisklov
When new the SingleChronicleQueue on each thread will cause that issue.
Mock it as distributed application(Same machine).
https://gist.github.com/TangPere/ea070bb74ab8fd7b53f8bf254958e530

[2019-11-05 15:40] TangPere commented on #627
[code]

[2019-11-05 16:51] #627 closed

[2019-11-05 16:51] dpisklov commented on #627
@TangPere  Alright, pretty funny issue on the edge case you've found - thanks for reporting, I have fixed it now.

[2019-11-06 12:53] hft-team-city commented on #627
Released in [Chronicle-Queue-5.17.28](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.28), [BOM-2.17.428](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.428)

[2019-11-13 14:48] javasoze opened #628 "UnsupportedOperationException when reading from the queue"
CQ version: 5.17.25

[code]

[2019-11-13 14:57] dpisklov commented on #628
Any reproduction steps?

[2019-11-13 15:06] javasoze commented on #628
@dpisklov thanks for responding so quickly!

We ran into this in production randomly, so we don't know how to reproduce this ourselves.

But we have been often invalid entries errors where we needed to implement in our code to skip these entries. Not sure if that is related...

[2019-11-13 20:52] dpisklov commented on #628
Can you at least share the code you use to read/write to/from the queue?

[2019-11-14 17:51] javasoze commented on #628
On the producing(write) side, here is the code snippet:
[code]

On the reading side, see the following code snippet:

[code]

[2019-11-14 17:54] javasoze commented on #628
We are writing and reading at a high rate, e.g. > 10MB/s. Each even is around 1KB.

We are deployed in Kubernetes, running in the cloud and using the cloud vendor's persistent volume.

[2019-11-14 18:05] javasoze opened #629 "CQ gets stuck"
Seeing tons of such warnings:

[code]

Then followed by:

[code]
After a while of unlocking, then this happens:

[code]

The only way to move forward is to delete the queue file, but that causes data-loss.

But even so, this is happening often enough that we are stuck.

Thank you in advance for any help!

[2019-11-14 18:06] javasoze commented on #629
Not sure if that is related, posted our code on #628

[2019-11-15 23:20] anirudh-striim opened #630 "Memory leak in DiskSpaceMoniotor inside SingleChronicleQueue.java"
I am using chronicles-bom with version 2.17.48 and I see that the disk-space check happens by default in the chronicles system. I am running into an issue where fileStoreCacheMap object inside DiskSpaceMonitor.java class is not cleared in memory for some reason and its bloating up the memory.

Here is a snap of the heap dump attached.

![image](https://user-images.githubusercontent.com/23368380/68

[2019-11-18 22:13] dpisklov commented on #630
How many files you have? What's the roll cycle you use? This can only happen if you store A LOT of files potentially on various file stores (a.k.a mount points), if all your queue files are on the same mount point the number of entries in a map is number of queue files your system went through and that can't be a lot unless you are using something like secondly roll cycle and your system runs for

[2019-11-18 22:31] #612 closed

[2019-11-18 22:33] dpisklov commented on #630
I just realized this is mostly a duplicate of #612?
I just added a possibility to disable disk space monitor, you can specify -Dchronicle.disk.monitor.disable=true and the problem should go away. That said, I have a feeling that you're doing something strange as none of our clients (even those having loads of queues) have ever seen this problem.

[2019-11-18 22:38] dpisklov commented on #628
@javasoze this indeed can be caused by the issue you described in #629 as that will  most likely corrupt queue file. I'll add more comments there and close this issue for now - if after fixing #629 you still see this one reoccurring please reopen.

[2019-11-18 22:38] #628 closed

[2019-11-18 22:50] dpisklov commented on #629
@javasoze do you have long GC pauses by a chance? Longer than 15 seconds in particular? This can happen when one writer was waiting for another to complete writing for longer than 15 seconds.
If you have longer GC pauses I suggest you adjust the timeout for the queue builder, e.g.

[code]

or whatever value will be larger than max GC pause you may experience.

Other possibility if you write so muc

[2019-11-18 23:14] anirudh-striim commented on #630
The stack is the same as that of #612. The flag to disable helps for now. Please let me know which version has that fix and I will use that.

The scenario that we have is pretty straight forward. We have multiple queues created and written into, the rate of which is dependent on the load that we get. It keeps changing. And yes, at a given point of times, we might have A LOT of files opened, but al

[2019-11-19 14:00] dpisklov commented on #630
@anirudh-striim if this happens again can you expand the dump and see what object is (are) actually taking up memory? I made a small change to use String instead of File object as a key for the map, and that's available together with change that adds the flag starting from BOM 2.17.458 - try that and let us know.

[2019-12-02 10:38] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.472](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.472)

[2019-12-02 10:38] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.472](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.472)

[2019-12-04 03:56] JerryShea opened #633 "Dump a StackTrace when when SingleTableStore.doWith*Lock times out"
Only do this if `Jvm.isDebugEnabled(SingleTableStore.class)`.

Try to find cause of occasional ""Failed to acquire lock on the table store file" at customer.

Deduplicated `SingleTableStore.doWith*Lock` methods in order to ensure that changes for #616 were applied to both.

[2019-12-04 04:32] #633 closed

[2019-12-04 20:04] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.482](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.482)

[2019-12-05 15:14] minborg opened #635 "Example with roll time appears to be wrong."
The following text/code from `docs/timezone_rollover.adoc` appears to indicate a roll over time at 17 and not at midnight:

The following code extract is an instruction to use America/New_York as time zone, and rolls over queues at midnight regardless of offset to UTC.
[code]

[2019-12-11 15:05] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.496](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.496)

[2019-12-11 15:05] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.496](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.496)

[2019-12-11 15:05] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.496](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.496)

[2019-12-13 12:06] minborg opened #636 "Document how rolled files can be deleted"
Add documentation for how files can be deleted in a proper way without causing problems.

For example, there is  a roll sequence of files A, B and C. The appender is on C and there is a tailer at C. however, a lagging tailer is at A. B is not used but cannot be removed.

[2019-12-13 12:37] peter-lawrey opened #637 "remapping quickly causes an InternalError"

[2019-12-13 12:38] #637 closed

[2019-12-13 14:05] dprymas opened #638 "Chronicle-queues misleading error message"
Hello
We were using chronicle-queue in version 4.6.69, which is compatible with chronicle-wire 1.10.16. Some time ago we switched to chronicle-queue in version 5.17.7 which is compatible with 2.17.7 of chronicle-wire.
As long as mixing version is not recommended we found rather misleading error message.

In first case we saved first data with CQ in version 4.6.69 and then with 5.17.7, everythings

[2019-12-13 16:53] dpisklov commented on #638
https://github.com/OpenHFT/Chronicle-Queue/issues/638

[2019-12-13 16:53] #638 closed

[2019-12-17 19:05] #636 closed

[2019-12-17 19:12] minborg commented on #636
Read about it here: https://github.com/OpenHFT/Chronicle-Queue/blob/master/docs/managing_roll_files_directly.adoc

[2019-12-20 19:04] javasoze commented on #629
@dpisklov thank you for your help. We were able to add code to protect from the "too many writers" problem.

We think the queue got corrupted in the first place is from hard shutdown, details:

* Our process that writes to CQ runs inside a container on Kubernetes
* When there the process is unhealthy (in this case, too many writers contributed to system degradation), and Kubernetes forces a shutdo

[2019-12-20 19:49] dpisklov commented on #629
@javasoze how is your container set up? We use --ipc=host and bind-mounted volume to store queue files, otherwise the issues you have are quite likely, and without --ipc=host data exchange between containers would be slow.

[2020-01-03 17:50] RobAustin opened #639 "Fixed missing EOF on last queue file if chronicle-queue shut down and restarted much later"
see net.openhft.chronicle.queue.ChronicleQueueIndexTest

[2020-01-11 17:03] hft-team-city commented on #636
Released in [Chronicle-Queue-5.17.34](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.34), [BOM-2.17.537](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.537)

[2020-01-11 17:03] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.537](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.537)

[2020-01-11 17:03] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.537](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.537)

[2020-01-11 17:03] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.537](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.537)

[2020-01-13 23:53] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.541](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.541)

[2020-01-13 23:53] hft-team-city commented on #636
Released in [Chronicle-Queue-5.17.34](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.34), [BOM-2.17.541](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.541)

[2020-01-13 23:53] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.541](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.541)

[2020-01-13 23:53] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.541](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.541)

[2020-01-14 14:49] hft-team-city commented on #636
Released in [Chronicle-Queue-5.17.34](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.34), [BOM-2.17.544](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.544)

[2020-01-14 14:49] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.544](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.544)

[2020-01-14 14:49] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.544](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.544)

[2020-01-14 14:49] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.544](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.544)

[2020-01-20 15:09] hft-team-city commented on #636
Released in [Chronicle-Queue-5.17.34](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.34), [BOM-2.17.546](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.546)

[2020-01-20 15:09] hft-team-city commented on #633
Released in [Chronicle-Queue-5.17.30](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.30), [BOM-2.17.546](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.546)

[2020-01-20 15:09] hft-team-city commented on #628
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.546](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.546)

[2020-01-20 15:09] hft-team-city commented on #612
Released in [Chronicle-Queue-5.17.29](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.17.29), [BOM-2.17.546](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.546)

[2020-02-13 11:41] RobAustin opened #641 "Failed to acquire exclusive lock on the table store file"
when run with:
[code]

it fails with the exception below, but when run with:
[code]
no exceptions are logged. Its a guess but this maybe due to optomizations put in the proxy class creation, to help startup times.

[code]

[2020-02-13 16:13] #641 closed

[2020-02-18 09:02] peter-lawrey opened #642 "Add a demo for BufferMode.Copy"
`Copy` used to write to a buffer as needed to improve concurrency. The appender would try to obtain a lock, but if it couldn't immediately it would write to a buffer instead, and copy this when the DocumentContext is closer. This is obviously not suitable if you assume the DocumentContext holds a lock on the queue.

Can this be added back in with a demo/concurrent benchmark?

[2020-02-18 09:09] peter-lawrey commented on #642
The current behaviour should be retained as the default.

[2020-02-19 06:52] longtrb opened #643 "How to update record in chronicle queue?"
I want to update record at specific index and I found out in README this "You will reserve a portion of memory and then put/fetch/update records using the Chronicle interface".
How could I do that?

Many Thanks,

[2020-02-19 08:15] andrm commented on #643
The README is a bit misleading in this area in my opinion. You can't update them. This is a conscious choice by the creators of Chronicle Queue. (I think it used to be possible with CQ 3)

[2020-02-19 08:59] #643 closed

[2020-02-19 09:01] RobAustin commented on #643
I agree it misleading, so i have removed it.

[2020-02-19 09:08] RobAustin commented on #642
I suggest using Chronicle Queue with chronicle ring to achieve this, as this is the purpose of  Chronicle Ring, in other words, this functionality has been moved from Chronicle Queue into Chronicle ring, which is a licenced product.

[2020-02-19 09:08] #642 closed

[2020-02-19 09:09] #639 closed

[2020-02-19 09:13] RobAustin commented on #635
mmm -  maybe it needs to be made clearer but this feature is only available as an enterprise feature. - it mentions Enterprise Edition in the title of the doc, Timezone Queue Rollover (Enterprise Edition Feature)

[2020-02-19 09:13] #635 closed

[2020-02-19 09:15] RobAustin commented on #614
I'm closing this issue, as we can not reproduce it, and we have no test case.

[2020-02-19 09:15] #614 closed

[2020-02-19 09:20] RobAustin commented on #629
given @javasoze mentions that - "We think the queue got corrupted in the first place is from hard shutdown," I will close this issue as won't fix. Please let me know if you fee we should reopen it.

[2020-02-19 09:20] #629 closed

[2020-02-24 03:08] anirudh-striim opened #644 "How to enable debug level logging for chronicle-bom"
I am trying to debug an issue and I don't know to enable debug level logging only for my chronicle-bom dependency. Can you help me with this.

[2020-02-24 05:57] anirudh-striim opened #645 "JVM crash while writing to chronicle-queue"
We have an application which writes to chronicle-queue and it is leading to the crash of JVM.

Here is the stack that I have. Any help is appreciated on this.

[code]

[2020-02-24 06:14] anirudh-striim commented on #645
The storage is xfs and it has enough disk space.

[2020-02-24 06:16] anirudh-striim commented on #645
Same as

https://github.com/OpenHFT/Chronicle-Map/issues/209

[2020-02-24 10:33] mjok opened #646 "Getting ConcurrentModificationException"
Hi threre,

i am getting ConcurrentModificationException:

2020-02-24 11:48:02: DEBUG: java.util.ConcurrentModificationException
	at java.util.HashMap$HashIterator.nextNode(HashMap.java:1437)
	at java.util.HashMap$EntryIterator.next(HashMap.java:1471)
	at java.util.HashMap$EntryIterator.next(HashMap.java:1469)
	at net.openhft.chronicle.wire.ValueOut.lambda$marshallable$12(ValueOut.java:528)
	at ne

[2020-02-24 11:01] RobAustin commented on #646
make sure that you call net.openhft.chronicle.queue.ChronicleQueue#acquireAppender() in each thread before you use the Appender, as acquireAppender() will get the Appender from a thread local.

[2020-02-24 13:08] mjok commented on #646
thanks I  will check that.

But it seems that problem was that my `EntryDefinition extends AbstractMarshallable` has a `HashMap` witch are being serialized while being written to chronicle queue, while other thread is modifying this `HashMap`.

I am sending the same `EntryDefinition` object two times. Modifying this `HashMap` in between.
Synchronizing write to queue and adding a value to this `Has

[2020-02-24 13:09] dpisklov commented on #645
Do you have multiple threads sharing the same appender by a chance?

PS I closed the issue in Chronicle-Map project

[2020-02-24 13:10] dpisklov commented on #645
@anirudh-striim oh and what version are you using?

[2020-02-24 13:19] dpisklov commented on #646
@mjok I would first of all suggest you ask yourself if you really want to serialize mutable HashMap in the queue, that sounds wrong to me. If you really need to then the possible solution is to use ConcurrentHashMap but if you have threads concurrently modifying it - you can't predict the state that will be persisted.
Anyway as it's not an issue in a Chronicle-Queue I'm closing this.

[2020-02-24 13:19] #646 closed

[2020-02-24 13:21] dpisklov commented on #644
We use SLF4J for our logging, please refer to their docs on how to configure:
http://www.slf4j.org/manual.html

[2020-02-24 13:21] #644 closed

[2020-02-24 17:22] anirudh-striim commented on #645
@dpisklov  - We are using chroncile-bom 2.17.472.

[2020-02-24 17:25] hft-team-city commented on #643
Released in [Chronicle-Queue-5.19.0](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.0), [BOM-2.19.4](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.4)

[2020-02-24 17:25] hft-team-city commented on #641
Released in [Chronicle-Queue-5.19.0](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.0), [BOM-2.19.4](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.4)

[2020-02-24 17:25] hft-team-city commented on #635
Released in [Chronicle-Queue-5.19.0](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.0), [BOM-2.19.4](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.4)

[2020-02-24 17:27] anirudh-striim commented on #645
Here is what we do.

1. Create a queue.
2. At some point, we increase the block size and create a new queue over the same file. ( which I think is causing the issue )

If you think that is the problem, can you let me know how to change the blocksize for an existing queue ?

[2020-02-24 18:45] anirudh-striim commented on #644
Thanks.

[2020-02-24 19:10] dpisklov commented on #645
@anirudh-striim blockSize controls how big is the chunk of memory we allocate when read/write, this should not have any impact on queue reading/writing although I'm not sure why are you trying to change it? In general, we wouldn't suggest changing it unless you know exactly what you are doing and what you are trying to achieve.
Try upgrading to bom 2.17.598, you are a quite a bit behind, and see i

[2020-02-24 19:14] anirudh-striim commented on #645
@dpisklov - The reason why we are changing the blocksize is because the event we write is bigger than the chunk of memory allocated and its leading to BufferUnderFlow exception.

[2020-03-02 17:13] RobAustin opened #647 "fixed: EOF missing due to pretouch being called on otherwise empty .cq4 file"

[2020-03-03 14:03] #647 closed

[2020-03-03 15:23] hft-team-city commented on #647
Released in [Chronicle-Queue-5.19.2](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.2), [BOM-2.19.13](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.13)

[2020-03-11 12:20] dpisklov commented on #483
this seems to be a dup for https://github.com/OpenHFT/Chronicle-Queue/issues/596

[2020-03-11 12:20] #483 closed

[2020-03-12 22:20] dar1enyang opened #648 "Is there a way to retrieve file itself by cycle number"
What's the most efficient way to retrieve the file itself by cycle number

[2020-03-12 23:23] RobAustin commented on #648
Please ask your question on stack overflow. Rather than raising an issue.

[2020-03-12 23:37] #648 closed

[2020-03-13 10:08] dpisklov commented on #648
to answer the question:

`RollingChronicleQueue#storeForCycle`:

[code]

`WireStore#file`:

[code]

[2020-03-13 22:41] anirudh-wa commented on #487
Increase to how much ?  4 * size of data ?

[2020-03-16 14:12] dpisklov commented on #487
@anirudh-wa yeah, at least.

[2020-03-23 15:36] RobAustin opened #650 "Improve chronicle queue documentation"
Please document in the .adoc the following:

[code]

[2020-03-25 12:23] #650 closed

[2020-03-25 12:24] dpisklov commented on #650
@RobAustin did you put the info from the email yesterday to adoc or shall I?

[2020-03-25 12:37] RobAustin commented on #650
nope, I added it to the Javadoc, yes, we should cover most if not some of this on adoc. @dpisklov yes please could you add it.

[2020-03-25 16:25] hft-team-city commented on #650
Released in [Chronicle-Queue-5.19.3](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.3), [BOM-2.19.45](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.45)

[2020-03-26 20:11] anirudh-wa commented on #645
I think we figured out the issue.

Every time we change the block size, we are initializing a new queue, but we were using the same old appender. We changed the code to acquire a new appender whenever we initialize the queue again. We haven't seen this issue since then.

[2020-03-27 12:06] dpisklov commented on #645
@anirudh-wa cool, that explains. I'll close the issue then

[2020-03-27 12:06] #645 closed

[2020-03-27 17:57] anirudh-wa commented on #645
@dpisklov - Sure. Thanks for your help.

One final thing that I would like to understand is, what is happening when we use an appender of an older queue of smaller block size ? How is this leading to the SIGSEGV ?

[2020-03-27 18:03] dpisklov commented on #645
@anirudh-wa to know for sure I would need to look at your code and how you use queue/appenders. But most likely you're interleaving data with old block size and new block size.

[2020-03-27 18:07] anirudh-wa commented on #645
Before the fix:

1. Initialize queue
2. Acquire Appender
3. if(dataSizeToBeWritten > blockSize/4) initialize new queue with blocksize = 4*dataSize
4. Write data

After the fix :

1. Initialize queue
2. Acquire Appender
3. if(dataSizeToBeWritten > blockSize/4) initialize new queue with blocksize = 4*dataSize
4. Acquire appender
5. Write data

Step 4 was added - this is pretty much the code.

[2020-03-27 18:12] RobAustin commented on #645
The SIGSEGV occurs when you write to memory that is no longer under the control of the JVM, chronicle-queue's max message size is 1/4 of the block size. So chronicle-queue will ensure that we have mapped at least 1/4 of the block size into the JVM for you. You should not change the block size on a queue that already exists. If you wish to create a new chronicle queue with a larger block size you s

[2020-03-27 18:17] anirudh-wa commented on #645
@RobAustin

1. I am not using the same queue to change the block size. I am initializing a new queue with the new block size,  however I am using the same name and if I understand correctly, it will map to the same existing file on disk. Would this be an issue ?

2. Setting the block size to very large to start with won't work for us, because we will have memory  issues as we have large number of

[2020-03-27 18:30] RobAustin commented on #645
The block size is not written to the header in the chronicle-queue, so in theory what you are suggesting may work, but this is not something I have come across anyone else doing. It's also not something we have tested. I have generally considered the block size to be immutable although I can see that this is not in-forced for the use case that you mention in point 1. I think option 3 would make mo

[2020-03-27 18:37] anirudh-wa commented on #645
Thanks Rob, for the clarification. I agree option3 would make sense. Large block sizes will also lead us into memory issues at some point in future as we have multiple applications that can just keep increasing block sizes.

I will post in stackOverFlow in future. Thanks.

[2020-03-30 12:58] dpisklov commented on #630
@anirudh-striim have you been able to retest/reproduce this or can we close this issue?

[2020-03-30 15:02] RobAustin opened #651 "Fixed issue with peekDocument returning wrong value"
this fix is covered by the following tests cases:

[code]

[2020-03-30 15:03] #651 closed

[2020-04-08 23:35] sheinbergon opened #652 "Compatibility issues on JDK 14"
Hi

 `sun.nio.ch.FileChannelImpl.map0` implementation has changed on JDK 14, requiring an additional boolean param.

This makes CQ unusable on that version of the JDK (works fine on JDK 13).

Tested with CQ version _5.19.2_

[2020-04-09 14:33] RobAustin opened #653 "tailer.peekDocument should return false if there is no document"
The is an issue relating peekDocument(). tailer.peekDocument should return false if there is no document, it works fine if we first write some bytes to chronicle and then read and test peekdocument().

It fails when consumer thread started before producer thread and calls peekDocument() on tailer. It returns true.

Another scenario: writer thread writes to chronicle queue and goes down and reader

[2020-04-09 15:28] dpisklov commented on #652
@sheinbergon Chronicle's JDK support policy is linked to LTS versions. We support Java 8 and Java 11. So far, Oracle hasn't announced any LTS versions past Java 11 so we do not intend to support newer versions until there is an LTS version.
That said, we are happy to accept PRs.

[2020-04-09 22:38] sheinbergon commented on #652
@dpisklov Thank you for your response.
Next LTS version would be JDK 17 ( a year and half from now).
When that version arrives, you're going to meet that error I just mentioned.

I'll see if it's complicated to fix it myself or not and let you know.

[2020-04-10 18:52] sheinbergon commented on #652
@dpisklov  Opened this [PR](https://github.com/OpenHFT/Chronicle-Core/pull/98) to provide initial support for JDK 14, tested locally and seems to be fine.

[2020-04-13 10:14] #653 closed

[2020-04-13 10:59] hft-team-city commented on #653
Released in [Chronicle-Queue-5.19.8](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.8), [BOM-2.19.98](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.98)

[2020-04-14 12:46] sheinbergon commented on #652
@dpisklov any response?

[2020-04-14 13:08] dpisklov commented on #652
@sheinbergon sorry it was a bank holiday in UK.
I merged the PR.

[2020-04-15 11:16] mr-r0w07 opened #655 "Path Manipulation"
Attackers are able to control the file system path argument to File() at DumpQueueMain.java line 30, which allows them to access or modify otherwise protected files.

Since the value of path comes from args whose value can be supplied by user, it is unsafe to dump it directly.

[2020-04-15 11:54] dpisklov commented on #655
This is an admin util, used by system administrators. We don't really care how attack-prone it is

[2020-04-15 11:54] #655 closed

[2020-04-15 11:55] RobAustin commented on #655
why not just restrict the access to DumpQueueMain.java ?

[2020-04-15 22:49] JerryShea commented on #653
peekDocument was designed to be best effort, and could return false negatives. Can it still return false negatives (e.g. if queue has just rolled)? If so, we should ensure that javadoc spells this out

[2020-04-16 07:08] RobAustin commented on #653
Please don’t change the java doc. I’ll fix the implementation to support rolling.

[2020-04-20 09:29] RobAustin opened #656 "Fixed ARM compatibility"
see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_SnapshotLinuxArm?mode=builds

[2020-04-21 01:03] JerryShea opened #657 ""read only" Pretoucher"
Can we give pretoucher a mode so that it doesn't try and cause any writes to the queue? I would like to run the pretoucher such that *all* it does is pretouch memory and does not cause any writes to the queue at all i.e. no writing EOF, no creating new cycle files.

I'm happy to pay the price of a bit of latency at roll time.

@RobAustin @peter-k-lawrey What do you think?

[2020-04-21 02:39] #657 closed

[2020-04-21 03:23] hft-team-city commented on #657
Released in [Chronicle-Queue-5.19.9](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.9), [BOM-2.19.106](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.106)

[2020-04-21 17:40] #656 closed

[2020-04-22 11:12] dpisklov commented on #652
@sheinbergon can we close this?

[2020-04-22 11:13] dpisklov commented on #630
Closing due to no response - please reopen if it still happens

[2020-04-22 11:13] #630 closed

[2020-04-22 11:20] dpisklov commented on #623
Likely your code creates way too many tailers/appenders (while appenders are thread-local, if you have too many threads and call acquireAppender from many threads you'll end up with many appenders).
We lazily release resources, and this warning means that at once we had over 10000 references to either appenders or tailers to release.

PS please ask questions on Stack overflow, github is for actual

[2020-04-22 11:20] #623 closed

[2020-04-22 13:18] sheinbergon commented on #652
@dpisklov  any chance to release a new version for the Chronicle-Core and this project pointing to the aforementioned with that fix merged?

10x

[2020-04-22 14:26] hft-team-city commented on #656
Released in [Chronicle-Queue-5.19.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.11), [BOM-2.19.116](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.116)

[2020-04-22 14:26] hft-team-city commented on #630
Released in [Chronicle-Queue-5.19.11](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.11), [BOM-2.19.116](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.116)

[2020-04-22 14:28] dpisklov commented on #652
@sheinbergon
Done.

Chronicle-BOM : 2.19.116

chronicle-core: 2.19.4
- Improve EventHandler termination performance [#101]
- Compatibility issues on JDK 14 [#100]

chronicle-queue: 5.19.11
- Fixed ARM compatibility [#656]
- Memory leak in DiskSpaceMoniotor inside SingleChronicleQueue.java [#630]

[2020-04-22 14:28] #652 closed

[2020-04-24 10:57] RobAustin opened #658 "Added double buffering for contended appends"
Add double buffering for contended appends, create a latency test to see if this enhancement makes a positive difference, if it does,  add the results to the queue readme.adoc. If there is no benefit then we can remove this code ( or only support this functionality via a system property )

[2020-04-24 11:04] JerryShea commented on #658
We had this before and removed it

On Fri., 24 Apr. 2020, 8:57 pm Rob Austin, <notifications@github.com> wrote:

[2020-04-24 11:09] dpisklov commented on #658
@JerryShea I tried arguing but we decided I waste some time to prove it won't make much difference... ;)

[2020-04-24 11:09] RobAustin commented on #658
@JerryShea - I know, That's why we have to benchmark it to see if it really makes a difference. Then we can see if it is worth documenting and adding back in.

[2020-04-24 11:14] RobAustin commented on #658
This is a feature that @peter-lawrey wants put back in the code.

[2020-04-27 10:41] RobAustin opened #659 "Improved ChronicleReaderMain to take an interface"
Improved QueueReaderMain to take an interface that supports a custom readMarshable, so all messages can be decoded, even those written as raw bytes.

[2020-04-27 10:49] peter-lawrey commented on #659
Extended an existing argument `-r {interface}` to use the interface to decode all messages in the queue. This adds support for

- methods using @MethodID to replace named methods with numbers for efficiency
- methods using DTOs which are `BytesInBinaryMarshallable` or any custom marshallable code.

NOTE: the `readMarshallable` and `writeMarshallable` code can be generated in IntelliJ using live te

[2020-04-27 10:51] #659 closed

[2020-04-27 14:03] RobAustin opened #660 "Fixed ignored ChronicleMethodReaderTests"
Fix ignored test
see https://teamcity.chronicle.software/viewLog.html?buildId=403827&buildTypeId=OpenHFT_ChronicleQueue4_Snapshot
[code]

[2020-04-27 14:06] RobAustin commented on #660
@peter-lawrey asked for these test to be ignored so added @Ignore("https://github.com/OpenHFT/Chronicle-Queue/issues/660") to them

[2020-04-27 19:17] #658 closed

[2020-04-29 08:31] serrufSe opened #661 "Released action invoked enexpectedly"
Hello
I found that onReleased from StoreFileListener can invoked enexpectedly in this example
[code]

RollCycle is HOURLY and added only one document, but onReleased method is called. Is this is expected behavior ?
chronicle-queue 5.19.11
jdk11
Thanks.

[2020-04-29 14:59] dpisklov commented on #661
@serrufSe can you provide a unit test that we can run (i.e. without absolute paths unless they are /tmp), and in Java please?

[2020-04-29 19:59] serrufSe commented on #661
Sure. Here reproducible Jave example
[code]

[2020-04-29 20:12] serrufSe commented on #661
Output
[code]
Last release is confuse me. Some my observation: if you reduce someBigFile to 10M e.g. release is not called; if  you shift "someBigFile" block reading above queue creation - release is not called two.

[2020-04-30 11:12] dpisklov commented on #661
OK so the problem is in your playing with someBigFile.

* Chronicle Queue stores references to its store as a WeakReference
* readAllBytes reads the whole content of the file into byte array in memory

With file of 200Mb this blows off your memory, causing WeakReference to be garbage collected, hence the store is released. That is also the reason why it's not happening with small file, or if you r

[2020-04-30 11:12] #661 closed

[2020-05-03 22:19] cemelo opened #662 "Are all writes atomic?"
Are writes atomic even if the data size is greater than `PIPE_BUF`?

[2020-05-03 22:31] JerryShea commented on #662
What is PIPE_BUF?

[2020-05-03 22:33] JerryShea commented on #662
And please raise issues here, and use stackoverflow for questions

[2020-05-03 22:33] #662 closed

[2020-05-04 02:28] JerryShea opened #663 "strongAppenders incompatible with sys prop "chronicle.queue.release.weakRef.resource""
If strongAppenders is used then it is ignored if `chronicle.queue.release.weakRef.resource` is set (the default).

If this is deliberate we should at least warn.

[2020-05-04 02:31] cemelo commented on #662
My bad, I saw you guys had a `question` tag, so I though this could be a good place to ask. Will stick to SO, then.

Thank you.

[2020-05-04 02:42] JerryShea commented on #662
no worries @cemelo

[2020-05-04 02:43] JerryShea commented on #663
@peter-k-lawrey @peter-lawrey please review

[2020-05-04 02:43] #663 closed

[2020-05-06 09:49] RobAustin opened #664 "fixed calling tailer.getCloserJob().run() and closing the queue to cause reference count issues"
created the following failing test - net.openhft.chronicle.CloserJobRefCountOnCloseTest

[code]

It fails in the following way

[code]

[2020-05-06 14:11] #664 closed

[2020-05-06 14:12] minborg commented on #664
The method `StoreTailer::releaseResources` should be invoked.

[2020-05-11 07:12] RobAustin opened #665 "Fixed flaky test RollCycleMultiThreadStressPretouchTest.stress"
see
https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_Snapshot/407664?mode=builds

[2020-05-11 07:13] RobAustin commented on #665
see also https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_Java11Compatibility/407666?mode=builds

[2020-05-11 11:51] minborg opened #666 "Cleanup tasks could be missed due to an Exception in another cleanup job"
In `StoreComponentReferenceHandler::processReferenceQueue`, a number of cleanup tasks are potentially performed. However, if an Exception is thrown by one cleanup task, the remaining cleanup tasks in that batch are never performed. Cleanup tasks in future backed are indeed performed.

[2020-05-11 11:58] minborg opened #667 "Potential NPE in cleanup code"
`SingleChronicleQueue::createExcerptAppender` creats a cleanupJob that might throw an NPE.

[2020-05-11 12:12] #667 closed

[2020-05-11 12:24] #666 closed

[2020-05-11 12:49] minborg opened #668 "Tailer cleanup job might throw NPE"

[2020-05-11 12:50] minborg commented on #668
Related to #667

[2020-05-11 12:51] #668 closed

[2020-05-13 22:39] JerryShea opened #669 "SingleChronicleQueueTest.testWritingDocumentIsAtomic flaky"

[2020-05-14 15:00] RobAustin opened #670 "Fixed flaky test RollCycleMultiThreadStressTest.stress"
see https://teamcity.chronicle.software/repository/download/OpenHFT_ReleaseJob_ReleaseByArtifact/409946:id/ReleaseAutomation/projects/chronicle-queue-runTests-1589447515464.log

![image](https://user-images.githubusercontent.com/6506056/81950539-f51efc80-95fb-11ea-869e-dbede3547de2.png)

[2020-05-14 15:28] RobAustin opened #671 "flaky test - RollCycleMultiThreadStressTest.stress"
see https://teamcity.chronicle.software/repository/download/OpenHFT_ReleaseJob_ReleaseByArtifact/409946:id/ReleaseAutomation/projects/chronicle-queue-runTests-1589447515464.log

![image](https://user-images.githubusercontent.com/6506056/81953677-e2a6c200-95ff-11ea-9aa4-a3c2449909d1.png)

[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 65.537 s <<< FAILURE! - in net.openhft.

[2020-05-14 15:29] RobAustin commented on #671
I also see this in the log file

[code]

[2020-05-14 15:32] RobAustin opened #672 "incorrectly linearScan to 0x7fffffffffffffff"
given that 0x7fffffffffffffff is not a valid index it should not do a linear scan here

see - https://teamcity.chronicle.software/repository/download/OpenHFT_ReleaseJob_ReleaseByArtifact/409946:id/ReleaseAutomation/projects/chronicle-queue-runTests-1589447515464.log

[code]

[2020-05-14 16:31] RobAustin commented on #670
duplicate of #671

[2020-05-14 16:31] #670 closed

[2020-05-14 20:09] dpisklov commented on #672
`0x7fffffffffffffff` is Long.MAX_VALUE and indeed it is explicitly called:

[code]

Don't see anything wrong here, so closing - reopen if you disagree.

[2020-05-14 20:14] dpisklov opened #673 "TailerSequenceRaceConditionTest#shouldAlwaysBeAbleToTail fails on rare occasions"
Fails with one of the following:

1.
[code]

2.
[code]

[2020-05-15 00:37] JerryShea commented on #671
See also
https://github.com/ChronicleEnterprise/Chronicle-Queue-Enterprise/issues/103

On Fri., 15 May 2020, 1:29 am Rob Austin, <notifications@github.com> wrote:

[2020-05-15 06:57] RobAustin commented on #672
it suggests it is trying to linear scan to Long.MAX_VALUE

``
Took 327 us to linearScan by position from 131256 to 9223372036854775807
``

I don't see the point of this? - please reclose if you disagree.

[2020-05-15 07:14] #672 closed

[2020-05-15 10:16] RajvanshR opened #674 "Exception java.lang.NoSuchMethodError: 'void net.openhft.chronicle.wire.Wire.usePadding(boolean)"
I am using the latest version of Chronicle Queue 5.19.15.  Test program is

[code]
Error is
[code]

[2020-05-15 10:21] dpisklov commented on #674
@RajvanshR you have some problem with your dependencies - likely you specify chronicle-wire explicitly somewhere. We recommend using chronicle-bom for all Chronicle-related dependency management to avoid this.

[2020-05-15 10:36] RajvanshR commented on #674
Thanks @dpisklov . I had previously downloaded Chronicle Map and Chronicle Wire in the same project. I just removed below two entries from .IML file and it worked fine.

[code]

[2020-05-15 10:36] #674 closed

[2020-05-15 12:49] #673 closed

[2020-05-15 12:51] dpisklov commented on #669
Seems to be the same root cause as https://github.com/OpenHFT/Chronicle-Queue/issues/673

[2020-05-15 12:51] #669 closed

[2020-05-15 13:02] dpisklov commented on #671
ran it 200 times and it doesn't fail - most likely has been fixed by the changes made in #673

[2020-05-15 13:15] #665 closed

[2020-05-15 16:39] RobAustin commented on #671
It's still flaky on TC, see

https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_Snapshot/410718?mode=builds

![image](https://user-images.githubusercontent.com/6506056/82074621-f40cce80-96d2-11ea-8066-08a04aceb2d8.png)

[2020-05-16 08:12] RobAustin opened #675 "fixed AppenderFileHandleLeakTest.tailerShouldReleaseFileHandlesAsQueueRolls"
This test is currently *not* ignored and TeamCity is green

![image](https://user-images.githubusercontent.com/6506056/92920756-b7f03d00-f42a-11ea-88a2-e04b63d97227.png)

is it looks like it has already been fixed ( had to confirm locally as I'm using a Mac and this is a Linux only test )

[2020-05-18 20:56] amavashev opened #676 "Queue fails to initialize with OpenJDK 14"
Caused by: java.lang.AssertionError: java.lang.NoSuchMethodException: sun.nio.ch.FileChannelImpl.map0(int,long,long)
at net.openhft.chronicle.core.Jvm.getMethod0(Jvm.java:395)
at net.openhft.chronicle.core.Jvm.getMethod(Jvm.java:374)
at net.openhft.chronicle.core.OS.lambda$static$0(OS.java:51)
at net.openhft.chronicle.core.ClassLocal.computeValue(ClassLocal.java:53)
at java.base/java.lang.ClassVal

[2020-05-18 22:03] amavashev commented on #676
Seems like solved: https://github.com/OpenHFT/Chronicle-Queue/issues/652. Probably could be closed.

[2020-05-19 06:07] sjoerd-michels opened #677 "Using StoreFileListener for removing CQ files - dealing with multiple onAcquired/onReleased events"
We use CQ version 5.17.30, setting up a single CQ instance like this:

[code]

and for writing to the queue: `fileQueue.acquireAppender().writeText()`.

We see many onAcquired / onReleased calls:
2020-05-17 20:42:42,740 DEBUG h.l.a.i.QueueFileListener - Acquired file 20200517-18.cq4
... work ...
2020-05-17 20:42:43,073 DEBUG h.l.a.i.QueueFileListener - Released file 20200517-18.cq4

And, presumabl

[2020-05-19 11:39] dpisklov commented on #676
@amavashev what version are you using?

[2020-05-19 11:43] dpisklov commented on #677
@sjoerd-michels have you tried with latest queue?

Chronicle-BOM : 2.19.156
chronicle-queue: 5.19.16

[2020-05-19 12:23] sjoerd-michels commented on #677
@dpisklov I just tried with chronicle-queue: 5.19.16, it also shows many onAcquired / onReleased calls. Perhaps this is intended behavior?

[2020-05-19 12:41] amavashev commented on #676
5.17.43.  We updated now to the latest 5.19.16 to test with.

[2020-05-19 13:19] dpisklov commented on #676
@amavashev  ok, once tested please update/close this issue

[2020-05-19 13:28] dpisklov commented on #677
@sjoerd-michels acquire/release pair should only happen once per queue instance. So my guess is that you have more than one (3, in this case) queues created, so you are getting events from each of them.
I don't think it's possible to get multiple onAcquired/onReleased on the same file in any other way as internally there's a map keyed by the cycle number (which is 1-to-1 mapping to the file name),

[2020-05-19 14:06] sjoerd-michels commented on #677
Thanks for the swift follow-up @dpisklov.
There is one and only one queue. Multiple threads access it as follows:
[code]
If we increase the number of threads that write to the queue then we see an increase in the number of onAcquired / onReleased calls, i.e. this seems to happen per writing / appending thread.
By the way, we use one tailer that runs in a separate thread.

[2020-05-19 15:30] dpisklov commented on #677
@sjoerd-michels hm. Apparently there's a pool per appender (and one more for all the tailers), so yes, you're right - you will get onReleased/onAcquired from each appender separately.

[2020-05-19 17:24] sjoerd-michels commented on #677
Thanks for your fast feedback and for confirming that this is the expected behavior. Perhaps you could update the documentation, because it means that files cannot be deleted based on the onReleased event only.
I would also appreciate your feedback on the "time interval safety check", for now we are keeping that in place.

[2020-05-19 18:06] dpisklov commented on #677
@sjoerd-michels re time checks, it really depends on your use case.

If I understand correctly, you only have one tailer, and that one tailer is using its own queue instance. If that is the case, I would only use listener on that queue, and drive files cleanup off it. That way you know that if you received onReleased, it means your tailer is done with this file, and you can safely delete it (unles

[2020-05-20 17:38] sjoerd-michels commented on #677
Actually, we drive the delete logic from the tailer: the `fileCanBeDeleted(int currentCycle)` method is called with the `tailer.cycle()` value.
With that my questions are answered, closing the issue. Thanks again for your support @dpisklov and hope you keep up the great work!

[2020-05-20 17:38] #677 closed

[2020-05-20 21:26] dpisklov commented on #677
@sjoerd-michels you're welcome, although in the future we would appreciate if you raise questions on stackoverflow (we monitor it closely), we are trying to keep github for the real code issues.

[2020-05-22 10:11] dpisklov commented on #671
Likely fixed.

[2020-05-22 10:11] #671 closed

[2020-05-26 08:17] RobAustin opened #678 "Possible capturing lambda creating unwanted objects"
![image](https://user-images.githubusercontent.com/6506056/82877047-a04f8000-9f31-11ea-9b7e-50cf8637f79b.png)

[2020-05-26 10:40] dpisklov commented on #678
This lambda is related to actually creating an appender - don't think it is an "unwanted" object.

[2020-05-27 07:18] RobAustin opened #679 "Optimised Chronicle Queue in the high percentiles"

[2020-05-27 09:45] peter-lawrey opened #680 "Fix tests where files are not closed"

[2020-05-27 09:47] peter-lawrey commented on #680
Fix the tests so the error reporting open files doesn't need to be logged.
[code]

[2020-05-27 15:55] #680 closed

[2020-05-28 11:07] RobAustin opened #681 "QueueRefCount Issue"
this issue can be reproduced via software.chronicle.datagrid.indexview.TestIndexQueueView#test

Reference count history stack traces (3):
net.openhft.chronicle.core.StackTrace: 5db9fa3e-Time-limited test creation ref-count=1
	at net.openhft.chronicle.core.ReferenceCounter.newRefCountHistory(ReferenceCounter.java:143)
	at net.openhft.chronicle.core.ReferenceCounter.<init>(ReferenceCounter.java:41)

[2020-05-28 14:46] dpisklov commented on #681
Already fixed as part of #680

[2020-05-28 14:46] #681 closed

[2020-06-03 08:12] avmohan opened #682 "queue.createTailer().toEnd() throws StreamCorruptedException"
This line of code:
`queue.createTailer().toEnd()`
occasionally throws a StreamCorruptedException.

[code]

[code]

Any clues to what could the the issue?

[2020-06-03 10:44] dpisklov commented on #682
@avmohan a good start would be to mention the version of the queue you are using... If the version is old enough there was a race condition when multiple writers create new queue file.

[2020-06-03 10:48] avmohan commented on #682
Yeah sorry I should've mentioned version.
I'm on 5.19.2.

[2020-06-03 10:54] RobAustin commented on #682
@avmohan do you have a test case you can include?

[2020-06-03 11:01] dpisklov commented on #682
Well that is a version where we had this issue. Try upgrading to latest and see if it can be reproduced.

[2020-06-03 11:04] dpisklov commented on #682
Related issue: https://github.com/OpenHFT/Chronicle-Queue/issues/673

[2020-06-04 19:38] darkamgine opened #683 "tailer.moveToIndex() fails when requested index is at the end"
When running on the latest CQ 5.19.31, tailer.moveToIndex() fails when the index is the end of the queue.

Example test code:
[code]

The above works until the final iteration of the read loop, where the moveToIndex call returns false and the assertTrue(success) fails.

[2020-06-09 13:38] dpisklov commented on #683
@darkamgine this is correct behaviour.
If you read javadocs for `ExcerptTailer#index()`, you will see this:

[code]

That means, tailer's index after an attempt to read data (whether successful or not) will always point to the next index, not the current one. But moveToIndex will not move to the index that does not exist. So in your test, after you read the last existing entry in the queue, tailer

[2020-06-09 13:38] #683 closed

[2020-06-09 13:39] dpisklov commented on #682
@avmohan have you been able to check this with latest queue?

[2020-06-09 20:52] avmohan commented on #682
@dpisklov yeah i'm not seeing this after updating to latest version. thanks.

[2020-06-09 20:52] #682 closed

[2020-06-09 23:09] mikeb01 opened #684 "java.lang.IllegalStateException: Unable to index 268435456"
With the attached appender and tailer after ~268M messages I get the following exception
[code]
And at that point the queue is corrupt.
[code]
[code]
uname -a: `Darwin MacBook-Pro 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64`
JDK:
[code]
Chronicle 5.19.32

[2020-06-10 01:49] JerryShea commented on #684
Hi @mikeb01, HOURLY roll cycle is limited to 256M entries per hour so if you use one of the other `RollCycles` e.g. `LARGE_HOURLY_SPARSE` I can confirm that you won't see this problem. The only downside of using e.g.  `LARGE_HOURLY_SPARSE` is that less index entries will be written and thus random access seek performance will be affected. If you are not concerned about random access seek performan

[2020-06-10 01:51] JerryShea commented on #684
@mikeb01 I checked this myself but happy to wait for you to close once you have confirmed

[2020-06-10 01:54] mikeb01 commented on #684
Worth noting that it also corrupts the queue and it can't be used after this failure.

[2020-06-10 01:59] JerryShea commented on #684
Yes, thanks - will address that. Thanks for notifying us!

On Wed., 10 Jun. 2020, 11:54 am Michael Barker, <notifications@github.com>
wrote:

[2020-06-10 10:41] dpisklov commented on #684
I improved the message but we can't fix the behaviour without too many changes, and it's probably not wise to make those changes to cover the user error - the javadoc (now) clearly says how many messages you can write for each roll cycle.

[2020-06-10 10:41] #684 closed

[2020-06-11 01:59] JerryShea commented on #684
@mikeb01 the queue should not be corrupt, reads should still work. You just won't be able to write to it until the roll cycle ticks over. Is this what you saw?

[2020-06-11 10:32] darkamgine commented on #683
Thanks @dpisklov for the answer. In this case, what is the right way to make my "behindTailer" be at the same state (index) as my "aheadTailer", given that my "aheadTailer" may or may not be at the end and my "behindTailer" is at an unknown state?

Should I do something like this??
[code]

Or
[code]

[2020-06-11 12:33] dpisklov commented on #683
@darkamgine the second option is more appropriate IMO, but why you need to do that? What is it you are trying to achieve?

[2020-06-11 14:40] darkamgine commented on #683
@dpisklov So I am used to using Kafka, and it allows you to read a batch of records without changing the offset until you explicitly call a commitSync() function. Perhaps there's another way to do this in CQ that I haven't figured out yet.

Basically, I'm using CQ as a durable queue for incoming events. These events are then asynchronously read in a batch (a few hundred at a time) and processed, b

[2020-06-11 15:46] dpisklov commented on #683
@darkamgine I don't think using 2 tailers is a good choice here, and can thingk of a few scenarios where it will not work - e.g. if the data is written in between your "commit" (that is, batch finished) event and call to `toEnd()`, that data will be skipped. More precisely, if your commit calls moveToIndex on the "confirmed" tailer, and `moveToIndex()` returns false (as there's no more data), then

[2020-06-11 16:28] darkamgine commented on #683
Yeah, that is a potential issue which is why I was trying several implementations, such as the two mentioned above and using each one by one until a check that the commit tailer index matches the read tailer's passes. Altering the output is not permitted, but I also don't want to create another entire queue as I'm doing this with a set of queues and would need 2n queues, so perhaps the right way i

[2020-06-11 21:55] dpisklov commented on #683
@darkamgine you can use single queue for all your indexes (use a queue name as a key when writing, smth like `dc.wire().write(queueName).int64(idx)`), and then read the queue backwards on restart until you find a key for the particular queue. This will be fast enough on restarts, and really quick during normal operation (write to a chronicle queue is around a microsecond), while being bullet-proof

[2020-06-12 00:06] mikeb01 commented on #684
I can confirm that the queue is not corrupt, it was just continuing to through the IllegalStateException until the hourly rollover.

[2020-06-15 10:17] peter-lawrey opened #685 "Change WireStore to be Closeable only to simplify the life cycle"

[2020-06-25 19:29] dpisklov opened #686 "Fix marshallability for SingleChronicleQueueBuilder"

[2020-06-25 19:32] #686 closed

[2020-06-25 20:04] hft-team-city commented on #686
Released in [Chronicle-Queue-5.19.44](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.44), [BOM-2.19.274](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.274)

[2020-07-02 10:40] #685 closed

[2020-07-02 11:00] peter-lawrey opened #687 "Added option to ExcerptTailer to explicitly disable thread check if not required."

[2020-07-02 11:01] #687 closed

[2020-07-02 23:17] JerryShea commented on #676
Assuming this can be closed

[2020-07-02 23:17] #676 closed

[2020-07-06 00:00] JerryShea commented on #679
@peter-lawrey has also made some changes which have helped in this area. Awaiting customer confirmation

[2020-07-06 02:17] JerryShea commented on #679
Verified as resolved

[2020-07-06 02:17] #679 closed

[2020-07-06 09:09] peter-lawrey opened #688 "StoreSupplier/MappedFile not always closed under load"
If you run ChronicleRollingIssueTest repeatedly, it can sometimes fail to release the MappedFile, though it isn't clear why.

[code]

[2020-07-06 09:46] peter-lawrey commented on #688
And this one
[code]

[2020-07-06 10:31] peter-lawrey commented on #688
This occurred even with the background releaser off. `-Dbackground.releaser=false`

NOTE: Running multiple tests concurrently seems to make it happen more often. One test running by itself passed 500 times.

[code]

[2020-07-06 10:33] peter-lawrey commented on #688
This seems to happen most often with a closed `StoreSupplier` holding a reference to `MappedFile`

[2020-07-06 14:26] #688 closed

[2020-07-08 10:49] RobAustin opened #689 "fixed optimizedToEnd() which was producing the wrong result"
under certain circumstances stroreTailer. optimizedToEnd() produces the wrong result. Please fix and test with software.chronicle.enterprise.queue.replication.SimpleFailoverExampleTest#replication in the chronicle-queue demo which was where this issue was picked up in the first place.

[2020-07-09 12:19] RobAustin opened #690 "TSQueueLock should be allowed to be unlocked from a different thread"
TSQueueLock should be unlocked from a different thread, for example, when a sink queue is locked to prevent the user from modifying the queue while replication is in progress, this should later be allowed to be unlocked from the application thread once replication is stopped by the user

[2020-07-09 12:20] #690 closed

[2020-07-09 12:52] hft-team-city commented on #690
Released in [Chronicle-Queue-5.19.73](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.73), [BOM-2.19.349](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.349)

[2020-07-12 23:21] JerryShea opened #691 "Clean up thread locals"

[2020-07-13 00:17] #691 closed

[2020-07-14 01:35] rigtorp opened #692 "How do you handle page cache writeback stalls?"
Since file-backed mmap is used, how do you handle page cache writeback stalls? Typically for any low latency workload you want to avoid using any PROT_WRITE mmap since page cache writeback will introduce stalls when writing to memory.

[2020-07-14 06:47] RobAustin commented on #692
We use a pretoucher.

[2020-07-14 06:48] #692 closed

[2020-07-14 07:10] JerryShea commented on #692
Hi @rigtorp please use stackoverflow for questions and keep issues for issues. Thanks

[2020-07-18 03:06] JanStureNielsen opened #693 "LinkageError: loader (instance of sun/misc/Launcher$AppClassLoader): attempted duplicate class definition for name: "net/openhft/chronicle/queue/JDBCResultBinarylightMethodWriter""
The [Chronicle Queue JDBC test code](https://github.com/OpenHFT/Chronicle-Queue/blob/master/src/test/java/net/openhft/chronicle/queue/JDBCServiceTest.java#L47-L99):

    try (JDBCService service = new JDBCService(in, out, () -> DriverManager.getConnection("jdbc:hsqldb:file:" + file.getAbsolutePath(), "SA", ""))) {

        JDBCStatement writer = service.createWriter();
        writer.executeUpdate

[2020-07-23 07:00] JerryShea opened #694 "StoreFileListener not called consistently appender vs tailer"
Appenders call `net.openhft.chronicle.queue.impl.StoreFileListener#onAcquired` and `#onReleased`

Tailers only call `#onAcquired`

[2020-07-23 07:02] JerryShea opened #695 "Ensure references to files released after file roll"
So that there are no file handles left pointing to them.

See https://github.com/OpenHFT/Chronicle-Queue/commit/05ab62311dc4a326e175d70c0b7c4f2b58270229

[2020-07-23 07:15] JerryShea commented on #695
See also https://github.com/OpenHFT/Chronicle-Core/issues/121

[2020-07-23 07:15] #695 closed

[2020-07-23 10:57] hft-team-city commented on #695
Released in [Chronicle-Queue-5.19.75](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.19.75), [BOM-2.19.364](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.364)

[2020-07-23 12:49] RobAustin opened #696 "Added support for recovery of a corrupt queue header"
It is possible if a chronicle queue is abruptly shut down while it is in the process of writing the header this will leave the 4byte length in a not ready state. this change fix resolves this recreating the header with a file lock.

[2020-07-24 14:01] #696 closed

[2020-07-30 09:41] rogersimmons opened #697 "Check Java: Lock not released on exception accessing new file"
Issue observed in C++ Queue. Check Java

2 appenders writing to a queue. Due to external misconfiguration, when Appender-1 rolls, the new file is created with permissions which block access to Appender-2. When Appender-2 attempts to access the file (StoreAppender.writingDocument(bool)) an exception is thrown after acquiring the lock, but the lock is not released. This blocks further access to the

[2020-08-06 11:46] JerryShea opened #698 "ChronicleReader.stop method for graceful shutdown"

[2020-08-06 11:50] #698 closed

[2020-08-10 10:40] RobAustin opened #699 "InternalError possibly related to using readonly queues"
Clients say - I recently changed tailers to use “readonly” queues (queues created with builder.readonly(true)), and when this happened I also saw errors like

[code]

[2020-08-10 16:10] RobAustin opened #700 "FileUtilTest.state fails on linux"
[code]

[2020-08-11 12:43] RobAustin opened #701 "Fixed issue with TSQueueLock - "Cannot unlock as already closed.""
We had an issue with replication yesterday at around 5:30 pm where replication stopped replicating.

In the logs on the server-side we can see this:
[code]

[2020-08-11 13:32] RobAustin commented on #701
It looks like
[code]

[2020-08-11 13:46] RobAustin commented on #701
related commit - https://github.com/OpenHFT/Chronicle-Queue/commit/257860ae121663b14a39235db25641a7c249e17c

[2020-08-11 13:52] RobAustin commented on #701
This will log out where close was called from if run with -Djvm.resource.tracing=true

[2020-08-11 14:16] RobAustin commented on #701
Asked the client to set -Djvm.resource.tracing=true and retest, awaiting further information ideally a stack trace of where the close() was called from.

[2020-08-13 09:13] RobAustin opened #702 "Fixed StoreTailer.toEnd() returning NOT_REACHED when called as the queue rolled"
The following exception was found by a client

[code]

The loop where this is thrown looks like:
[code]

This happened at 7pm on the dot last night - we roll the files hourly so could this have had something to do with it?

[2020-08-13 12:17] RobAustin commented on #702
I wrote the following test case

[code]

and was able to reproduce this issue after running it for 38 mins

[2020-08-14 11:07] #702 closed

[2020-08-18 17:49] hft-team-city commented on #702
Released in [Chronicle-Queue-5.20.4](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.4), [BOM-2.20.22](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.22)

[2020-08-24 15:04] peter-lawrey opened #703 "Separate the TID and PID to make it easier to read."

[2020-08-24 15:05] #703 closed

[2020-09-01 15:37] peter-lawrey opened #704 "Added disableThreadSafetyCheck for ExcerptAppender as it does for ExcerptTailer"

[2020-09-01 15:39] #704 closed

[2020-09-01 15:54] peter-lawrey opened #705 "Added support for custom replication allowing you to add any cycle, even if another appender has been used."

[2020-09-01 15:54] #705 closed

[2020-09-02 11:16] hft-team-city commented on #705
Released in [Chronicle-Queue-5.20.20](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.20), [BOM-2.20.37](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.37)

[2020-09-02 11:16] hft-team-city commented on #704
Released in [Chronicle-Queue-5.20.20](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.20), [BOM-2.20.37](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.37)

[2020-09-02 19:12] Adriankusiak opened #706 "Opening queue with existing roll files produces null wire in acquired writing context"
It appears that the StoreAppender context defaults to isClosed = false on construction, allowing method writers to fail if a StoreAppender has its wire initialised.

The following test can reproduce:

[code]

[2020-09-03 08:58] peter-lawrey opened #708 "Make MethodWriters thread safe."
MethodWriters were single threaded for chronicle queue however this made them harder to use.

Added support for concurrent threads using the same method writer.

[2020-09-03 09:03] #708 closed

[2020-09-03 21:37] #678 closed

[2020-09-03 22:29] #706 closed

[2020-09-07 05:07] mikeb01 opened #710 "Occasionally see error appending to Chronicle Queue"
Occasionally when running benchmarks, I see the exception below.

Versions:
[code]

Exception:
[code]

[2020-09-08 11:40] dpisklov commented on #710
Do you see this issue with Java 11 or below? We don't support Java 14.

[2020-09-09 14:26] dimm-p commented on #694
Hello OpenHFT team,

Do you have any plans to fix this issue?
It would be great for me to have an option to remove files which were processed by tailer.

Regards,
     Dmitry.

[2020-09-09 15:47] dpisklov commented on #694
@dimm-p we are going through the issues on a priority basis with commercial clients' issues being prioritized first. If this feature is something you need for a commercial project please contact sales@chronicle.software

[2020-09-09 22:26] JerryShea commented on #710
Also, we have done a lot of work on cleaning up reference counting recently so I would also recommend trying out the latest version

[2020-09-10 08:07] JerryShea commented on #710
Hi @mikeb01 are you using the pretoucher?

[2020-09-10 08:08] peter-lawrey commented on #710
Can you enable the system property `jvm.resource.tracing=true` and it should show where the resource is still being used. You can do this on the command line or add it to the `system.properties` file

[2020-09-10 08:08] peter-lawrey commented on #710
It might be worth updating to .x20 though I suspect it won't make a difference in this case.

[2020-09-10 09:04] mikeb01 commented on #710
Yes.  I'll re-run with JDK11 and with the later versions and debug settings.

[2020-09-11 08:44] minborg opened #716 "Allocation of appenders is not thread-safe"
Two or more threads may invoke `acquireAppender` at the same time, thereby creating several appenders.

[code]

Calling `withCloseQuietly(Supplier<T> supplier)` would provide a better solution.

[2020-09-11 11:34] RobAustin commented on #675
It is likely related to https://github.com/OpenHFT/Chronicle-Core/issues/121

[2020-09-11 11:35] #675 closed

[2020-09-11 11:50] RobAustin opened #717 "Fixed, reading and writing text to a chronicle queue"
see net.openhft.chronicle.queue.ReadWriteTest#testReadAndWriteText
[code]

it outputs the following error

[code]

[2020-09-11 11:58] RobAustin commented on #717
this is not an issue it was just a bad test to do with the directory that we being used.

[2020-09-11 11:58] #717 closed

[2020-09-11 12:03] RobAustin commented on #699
I have not been able to reproduce this issue, I have written the following test:

[code]

which passes, so going to close this issue for now, but happy to reopen if more information can be provided on how to reproduce it.

[2020-09-11 12:03] #699 closed

[2020-09-13 06:50] JerryShea opened #718 "BackgroundResourceReleaser java.lang.IllegalStateException: Already released when running stress test"
When running `RollCycleMultiThreadStressReadOnlyTest` as an application on a server (e.g. dev12 or dev13)
[code]

I consistently see these exceptions after just over 30 seconds of runtime
[code]

While this doesn't cause any problems - the test continues and results are OK - it is indicative of some unexpected behaviour.

[2020-09-14 09:39] #716 closed

[2020-09-14 09:48] minborg opened #719 "Release resource properly"
In test `SingleCQFormatTest`, there are resources that are not released:

[code]

[2020-09-14 09:50] minborg opened #720 "Incomplete header found"
In test `SingleChronicleQueueTest` there is an exception:

[code]

[2020-09-15 07:54] minborg opened #721 "Shader MANIFEST.MF ambiguity"
The contents of the `MANIFEST.MF` file is ambiguous:

[code]

This may affect version, module name and service loading.

[2020-09-15 09:05] minborg commented on #719
No apparent errors in the tests themselves.

[2020-09-15 09:08] minborg opened #722 "Method writer fails in ChronicleHistoryReaderTest"
[code]

[2020-09-15 10:10] minborg opened #723 "Fix JavaDoc issues"
[code]

[2020-09-15 10:13] #723 closed

[2020-09-16 16:58] hft-team-city commented on #723
Released in [Chronicle-Queue-5.20.22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.22), [BOM-2.20.56](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.56)

[2020-09-16 16:58] hft-team-city commented on #716
Released in [Chronicle-Queue-5.20.22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.22), [BOM-2.20.56](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.56)

[2020-09-16 16:58] hft-team-city commented on #675
Released in [Chronicle-Queue-5.20.22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.22), [BOM-2.20.56](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.56)

[2020-09-16 16:58] hft-team-city commented on #699
Released in [Chronicle-Queue-5.20.22](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.22), [BOM-2.20.56](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.56)

[2020-09-18 02:19] mikeb01 commented on #710
Can't replicate on JDK 11.  Still yet to run it with the tracing options.

[2020-09-18 15:22] #660 closed

[2020-09-19 09:46] hft-team-city commented on #660
Released in [Chronicle-Queue-5.20.23](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.23), [BOM-2.20.61](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.61)

[2020-09-23 01:24] keitaf opened #724 "StoreFileListener.onReleased() not called when Tailer read all events in the queue"
It looks like the ChronicleQueue version `5.20.41` no longer calls `StoreFileListener.onReleased()` once a tailer is done reading all events in the queue.

Here is a code snippet to reproduce it.

[code]

I can see messages like "{.cq4 file } is released in tailer" if running with `5.17.25`, but I don't see any message if running with `5.20.41`.

[2020-09-23 01:53] JerryShea commented on #724
hi @keitaf is this the same as #694 ?

[2020-09-23 08:20] #626 closed

[2020-09-23 12:34] zoliszel opened #725 "Chronicle Queue JDK requirements"
Hi all,

we are looking to start a new project using Chronicle Queue and we also want to utilise a low latency collector in the same project. May I ask what version of the JDK is supported by CQ?  Do you guys support commercial VMs like Zing?

Thanks in advance,
Zoltan Szel

[2020-09-23 13:35] #428 closed

[2020-09-23 13:59] #598 closed

[2020-09-23 14:01] peter-lawrey commented on #598
In this case, `moveToIndex` is returning false and you only have one message in each cycle. i.e. there is no 5th message in any cycle.  I have fixed it so when moveToIndex returns false, it won't just read the entry it would have read before this call.
I have added how you can read forward 5 messages from a given point.

[2020-09-23 14:02] #700 closed

[2020-09-23 14:07] peter-lawrey commented on #724
While the Tailer still exists, it holds onto the file until you either read the next cycle so it no longer needs it or you close it.
You don't appear to be doing either in this test.

[2020-09-23 14:45] peter-lawrey commented on #724
Due to a refactoring issue, only appender file releases were being notified.

[2020-09-23 14:46] #724 closed

[2020-09-23 15:19] peter-lawrey commented on #725
Hi, our supported Java versions are here, basically Java 8 and 11.
We don't support Zing but if you are going low garbage you may find Zing is slower as you don't benefit from it's concurrent collector.
We do support Azul Zulu.

https://github.com/OpenHFT/OpenHFT/blob/master/docs/Java-Version-Support.adoc

[2020-09-23 15:20] #725 closed

[2020-09-23 15:26] #722 closed

[2020-09-23 15:30] peter-lawrey commented on #720
I have seen this as well, but only when running all the tests in the class.

[2020-09-23 15:39] minborg commented on #725
Have you considered ZGC and Java 15? Although not officially supported by Chronicle, this might be worth trying.

[2020-09-23 16:26] keitaf commented on #724
@peter-lawrey thank you for fixing it quickly!

[2020-09-23 16:26] keitaf commented on #724
@JerryShea yes looks like it's the same issue.

[2020-09-23 21:48] JerryShea commented on #694
#724 duplicates this

[2020-09-23 21:48] #694 closed

[2020-09-23 22:38] hft-team-city commented on #725
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #722
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #724
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #700
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #694
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #626
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #598
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #428
Released in [Chronicle-Queue-5.20.42](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.42), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-24 04:51] JerryShea opened #726 "java.lang.IllegalArgumentException: You can not have a cycle that starts before Epoch. cycle=-2147483648"
Saw the below logs. The *.cq4 files are being archived and this was the first write since archiving. I believe that all cq4 files had been moved away but metadata.cq4t file was still there.

[code]

[2020-09-24 08:58] peter-lawrey commented on #726
There is a method which tried to find the first and last cycle and this is the number which is returned if there is none.

[2020-09-24 09:00] peter-lawrey commented on #710
This can happen if you are holding (or something is holding) a reference to the underlying Bytes used by the wire in the document context when you roll the cycle in the appender.

[2020-09-24 09:00] peter-lawrey commented on #701
We can reopen if this is still a problem.

[2020-09-24 09:01] #701 closed

[2020-09-24 11:17] #726 closed

[2020-09-25 06:53] zoliszel commented on #725
ZGC and Java 15 seems a very plausible option. Thank you guys!

[2020-10-02 11:14] RobAustin opened #730 "Document the Pretoucher and how to use it in the .adoc"
Please note that there are a few ways the pretoucher can be used, and there are extra ways to use it in Queue Enterprise.

[2020-10-08 10:58] peter-lawrey opened #731 "Don't reset the cycle on a NOT_REACHED state"
Doing so add a performance penality on each missed entry

[2020-10-08 11:02] #731 closed

[2020-10-08 23:15] keitaf opened #732 "DB-3097 StoreFileListener.onReleased() is not called when no event is written to the queue"
If I set up two queues, one for writing and the other for reading, with `MINUTELY` roll cycle, but no data is written to the write queue, it seems that .cq4 files keep rolling, but `StoreFileListener.onReleased()` on the read queue is not being called.

Here is the modified version of `OnReleaseTest` to reproduce the issue.

[code]

[2020-10-09 14:27] RobAustin opened #733 "Fixed issue around NOT_REACHED_IN_CYCLE"

[2020-10-09 14:28] #733 closed

[2020-10-09 15:25] RobAustin opened #734 "fixed net.openhft.chronicle.queue.ChronicleQueueIndexTest.read5thMessageTest"
The problem here is with chronicle queue, not the test case. @glukos could you change chronicle queue so that the test case passes. The test was passing, but I had to revert some changes peter put into Store Tailer ( my commit was https://github.com/OpenHFT/Chronicle-Queue/commit/912cd32bbda4d4988a25d06e5d597ed1c922137c) as chronicle-queue was causing the following test in  DataGrid software.chron

[2020-10-09 15:52] hft-team-city commented on #733
Released in [Chronicle-Queue-5.20.64](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.64), [BOM-2.20.87](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.87)

[2020-10-09 15:52] hft-team-city commented on #731
Released in [Chronicle-Queue-5.20.64](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.64), [BOM-2.20.87](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.87)

[2020-10-12 09:23] dpisklov commented on #732
If no data is written no file will be created hence no store acquired/released. After the test has run check the working directory - there're no cq4 files. The queue file is only ever created when the data is written

[2020-10-12 09:23] #732 closed

[2020-10-12 13:12] peter-lawrey opened #737 "Make AppenderFileHandleLeakTest less flaky"

[2020-10-14 09:35] #737 closed

[2020-10-15 10:15] RobAustin opened #738 "Prevent the chronicle queue reader from outputting "File released.. " when run"
I've set the chronicle queue builder store listener to NO_OP

[2020-10-15 10:16] #738 closed

[2020-10-15 11:25] RobAustin opened #739 "Review Wire Store Pool, as it appears not to be correctly pooling."

[2020-10-15 13:23] #739 closed

[2020-10-15 13:25] RobAustin opened #740 "Check the current cycle, before calling storeForCycle(..), as the code was creating too many WireStores"

[2020-10-15 13:27] #740 closed

[2020-10-15 18:55] hft-team-city commented on #740
Released in [Chronicle-Queue-5.20.85](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.85), [BOM-2.20.118](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.118)

[2020-10-15 18:55] hft-team-city commented on #738
Released in [Chronicle-Queue-5.20.85](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.85), [BOM-2.20.118](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.118)

[2020-10-18 11:50] RobAustin commented on #718
@JerryShea - I ran this locally and  the problem reported above is no longer occurring, hence I'm going to close this issue, please reopen if it still gives you issues.

[2020-10-18 11:50] #718 closed

[2020-10-18 11:54] RobAustin commented on #689
@glukos - See note above, please also add optimizedToEnd() back into the code and add test(s)

[2020-10-18 21:24] JerryShea commented on #718
I have ran a few times on dev12 and can't reproduce so happy for this to be closed

[2020-10-20 13:14] #734 closed

[2020-10-21 08:07] peter-lawrey commented on #719
Still occurring, will fix later

[2020-10-21 16:44] hft-team-city commented on #734
Released in [Chronicle-Queue-5.20.102](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.102), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-22 11:07] RobAustin opened #741 "writeBytesInternal headerNumber cycle became out of sync with the this.cycle()"
[code]

[2020-10-27 03:38] JerryShea opened #742 "ensure ChronicleQueue#sourceId reflects stored sourceId"

[2020-10-27 03:50] #742 closed

[2020-10-27 11:22] #689 closed

[2020-10-27 13:13] RobAustin commented on #719
@glukos could you take a look a this issue

[2020-10-27 13:15] RobAustin commented on #710
@mikeb01 is this still an issue, I'm going to close it, but happy to reopen it if you feel it has not been resolved.

[2020-10-27 13:15] #710 closed

[2020-10-27 13:17] RobAustin commented on #720
@minborg can you outline steps to reproduce or close the issue as won't fix.

[2020-10-28 05:54] JerryShea opened #743 "closed appender can be re-acquired"

[2020-10-28 17:46] lucasamoroso opened #744 "Java 11 - Compatibilty issues with latin characters"
Hi!

I'm trying to update from `net.openhft.chronicle-queue-5.19.1` to `net.openhft.chronicle-queue-5.20.103` and there is an issue running with java 11 (**with java 8 works fine**).  The issue seems to be related with encoding when an special character like `´` is written.

To reproduce it:

[code]

The exception is:

[code]

I also did another test, this dependency is needed ```"com.fasterxml.ja

[2020-10-29 00:21] hft-team-city commented on #742
Released in [Chronicle-Queue-5.20.104](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.104), [BOM-2.20.142](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.142)

[2020-10-29 00:21] hft-team-city commented on #689
Released in [Chronicle-Queue-5.20.104](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.104), [BOM-2.20.142](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.142)

[2020-10-29 11:43] RobAustin opened #745 "fixed skip writing a message if an interrupt is received"
ChronicleQueueBuilder.checkInterrupts == true will cause the appender to skip writing a message if an interrupt is received. The ChronicleQueueBuilder.checkInterrupts==true by default. This change sets it to false by default.

[2020-10-29 12:09] #745 closed

[2020-10-29 15:01] hft-team-city commented on #745
Released in [Chronicle-Queue-5.20.105](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.105), [BOM-2.20.144](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.144)

[2020-10-29 22:42] JerryShea commented on #745
Looking at this again, the code rolls back if an interrupt is received
[code]
and is working on the assumption that its thread is about to die. To capture the original intent, I think better for us to throw an exception if we detect we have been interrupted e.g.
[code]

[2020-10-29 22:49] JerryShea opened #746 "If we detect thread is interrupted during appender.close, throw an exception instead of silently rolling back"
Follow on from #745

[2020-10-29 22:59] #746 closed

[2020-10-30 14:00] hft-team-city commented on #746
Released in [Chronicle-Queue-5.20.106](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.106), [BOM-2.20.146](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.146)

[2020-11-01 22:49] JerryShea opened #747 "Make automatic lock recovery an option"
Currently, if chronicle queue tries to acquire a lock and the lock times out, it will automatically recover from this lock.

This issue is to make this behaviour configurable i.e. we don't try and recover and instead throw `UnrecoverableTimeoutException`.

Note also that a number of methods have throws `UnrecoverableTimeoutException` in their signature, but don't actually throw it.

[2020-11-02 00:35] wireknight opened #748 "Problems decoding interfaces"
Version: 5.20.106
Os: Mac Os Catalina
Jdk: 14

Problem description:

CQ can successfully encode Serializable[], but decode is not always successful and gets fooled by actual data value.

How to reproduce: See code snippet **CQTest** below. With the below example we get this error:

[code]

BUT in production, we see an even more weird things. The same thing happens when all the objects are of the s

[2020-11-02 06:45] JerryShea commented on #747
Have made this optional and added a test. Default behaviour is same as before.

[2020-11-02 06:45] #747 closed

[2020-11-03 05:34] RobAustin commented on #747
Is the default the existing behaviour ?

[2020-11-03 05:56] JerryShea commented on #747
Yes

On Tue, 3 Nov 2020, 4:34 pm Rob Austin, <notifications@github.com> wrote:

[2020-11-03 15:51] RobAustin commented on #741
This turned out to be related to an issue with queue "count" and method chaining and issue https://github.com/ChronicleEnterprise/Chronicle-Queue-Enterprise/issues/128

[2020-11-03 15:51] #741 closed

[2020-11-03 16:07] RobAustin commented on #744
Thank you, we have added the following test to our codebase ( based on what you sent use ) net.openhft.chronicle.queue.LatinCharTest#testFailsOnJava11 and yes, we agree it fails on java 11.

[2020-11-03 16:14] RobAustin commented on #748
thanks for this issue, as a workaround are you able to replace Externalizable with net.openhft.chronicle.wire.Marshallable, or perhaps make your class extend net.openhft.chronicle.wire.SelfDescribingMarshallable

[2020-11-03 16:22] wireknight commented on #748
Unfortunately no, those messages are meant to be serialization technology agnostic so I cannot bind them to a technology specific interface, plus I need the Externalizable decoding engine for applying some payload data enrichment: the encoder/decoder is generic because based only on externalizable/serializable, but if some specific types are detected in the generic payload while decoding it, autom

[2020-11-03 22:05] minborg commented on #748
A useful feature would be to allow pluggable serialization factories to be added to a queue. This would make the payload DTOs themselves agnostic to serialization.

[2020-11-04 12:04] minborg opened #749 "ChronicleReaderMain: Provide more useful feedback when file not found"

[2020-11-04 12:16] #749 closed

[2020-11-04 12:54] RobAustin opened #750 "TableStorePutGetTest crashing JVM"
[code]

[2020-11-04 16:44] lucasamoroso commented on #744
Thanks a lot 🙌

[2020-11-04 20:17] dpisklov commented on #750
see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_Snapshot/477498

[2020-11-05 16:31] #750 closed

[2020-11-05 17:26] RobAustin opened #751 "Table store can cause JVM to crash if may keys are added"
this relates to issue #750, TableStorePutGetTest works with 1_000 keys but fails when run with 10_000 keys, but only on some hardware.

[2020-11-05 17:28] RobAustin commented on #750
This crash was resolved by reducing the number of keys, however, raised another issue to look at this separately, see https://github.com/OpenHFT/Chronicle-Queue/issues/751

[2020-11-05 17:30] peter-lawrey commented on #751
When I set the number of keys to 1000000 I got the following error

[code]

[2020-11-05 17:47] #751 closed

[2020-11-05 18:17] dpisklov commented on #744
The fix was incorrect and produced inconsistent data fromats between J11 and J8. Reverted now, and moving issue to Bytes (as that's where the root cause is)

[2020-11-10 11:31] RobAustin opened #752 "Rollcycles : removed 'durationOfCycle()' as this is already provided by 'lengthInMillis()'"

[2020-11-10 11:42] #752 closed

[2020-11-10 12:12] RobAustin opened #753 "Resized the default TableStore so it is the same is the minimum size for Windows"
see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_SnapshotWindows

[2020-11-10 14:22] hft-team-city commented on #752
Released in [Chronicle-Queue-5.20.109](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.109), [BOM-2.20.158](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.158)

[2020-11-10 16:27] #753 closed

[2020-11-17 15:02] LarsMattsson opened #755 "Example code gives warning ReferenceCountedCache - Cache should have been cleaned"
When running the example code in the readme it gives a warning that "Cache should have been cleared"

    public void theTest(){
        try (ChronicleQueue queue = SingleChronicleQueueBuilder.single("queue-dir").build()) {
            // Obtain an ExcerptAppender
            ExcerptAppender appender = queue.acquireAppender();

            // write - {msg: TestMessage}
            appender.writeDo

[2020-11-18 16:24] LarsMattsson commented on #755
I cloned the repo and checkout on this tag: chronicle-queue-5.20.111.
The maven clean package also gives this warnings, more times then I care to count.
Example test that gave me this issue:

[appender-29] WARN net.openhft.chronicle.queue.impl.single.ReferenceCountedCache - Cache should have been cleaned
[appender-19] WARN net.openhft.chronicle.queue.impl.single.ReferenceCountedCache - Cache shoul

[2020-11-18 23:40] JerryShea opened #756 "net.openhft.chronicle.queue.ChronicleReaderMain leaks memory"
When you run e.g. `net.openhft.chronicle.queue.ChronicleReaderMain -d queue -f` against a queue which is moving (even just once a second), you will see heap usage steadily climbing.

It also uses more CPU than I would expect - maybe needs a less aggressive pauser?

[2020-11-19 03:57] JerryShea opened #757 "Ensure QueueUnlockMain always unlocks"
Also add javadoc, and remove some unused (not released yet) API methods

[2020-11-19 04:12] #757 closed

[2020-11-19 10:29] SouthernYard commented on #725
Hi @peter-lawrey ,

Does that mean ZGC has the same concern? Which GC should I choose when I using the CQ?

Thanks,
Shawn

[2020-11-19 13:38] dpisklov commented on #725
@SouthernYard ultimately it depends on what you are doing and what you are trying to achieve.
If you're writing ultra-low-latency zero GC code, any garbage collector will do, and ZGC (which basically disables GC) is also an option.
If you are writing normal software without strict latency requirements using Chronicle libraries for the execution speed - then you can choose whichever garbage collect

[2020-11-19 17:07] hft-team-city commented on #757
Released in [Chronicle-Queue-5.20.112](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.112), [BOM-2.20.171](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.171)

[2020-11-20 09:53] SouthernYard commented on #725
Hi @dpisklov ,
I am also writing the ultra-low-latency zero GC application based on CQ. Ideally, we cannot avoid the GC totally although we try to save the objects out of the heap, we only decrease the GC frequency by this approach(like 1h -> 1day).
The ZGC/C4 can collect the garbage concurrently, and for Zing, it has the **ReadyNow** and **Pauseless** claims that there are good enhancements for J

[2020-11-20 12:13] dpisklov commented on #725
@SouthernYard
1. Shawn, in our experience - yes, although the terminology isn't quite right - performance of garbage collector is OK, but performance of the JVM with concurrent GC is worse which ultimately is logical consequence of doing some work in the background as opposed to deferring most of it to the particular STW pauses.
2. One of the possible models is to make sure you have enough breathi

[2020-11-20 15:25] SouthernYard commented on #725
Hi @dpisklov ,

Cool, thanks a lot, let me learn a lot.

Thanks,
Shawn

[2020-11-20 17:00] dpisklov commented on #725
@SouthernYard you're welcome!

[2020-11-23 15:24] peter-lawrey opened #759 "Reduce warnings when a queue is slow to close"
We now have a test which reliably reproduces a warning where a queue is closed but the resources are still being used in another thread. `software.chronicle.enterprise.queue.test.ReplicationFailbackTest`

This test helped determine that the warning was no longer needed and the clean up could be simplified.

[2020-11-23 15:50] #759 closed

[2020-11-23 21:37] JerryShea opened #760 "Deprecate QueueLock#waitForLock"
Better to use acquireLock then unlock

[2020-11-23 21:40] #760 closed

[2020-11-24 03:06] JerryShea opened #761 "SingleChronicleQueueBuilder rollTime & rollTimeZone set from YAML"

[2020-11-24 03:10] #761 closed

[2020-11-25 16:49] hft-team-city commented on #761
Released in [Chronicle-Queue-5.20.114](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.114), [BOM-2.20.178](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.178)

[2020-11-25 16:49] hft-team-city commented on #760
Released in [Chronicle-Queue-5.20.114](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.114), [BOM-2.20.178](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.178)

[2020-11-25 16:49] hft-team-city commented on #759
Released in [Chronicle-Queue-5.20.114](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.114), [BOM-2.20.178](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.178)

[2020-11-25 22:39] JerryShea commented on #756
Don't run with `-f` in chronicle queue source dir as system.properties has `resource.tracing=true` which will lead to an OOME.

A warning was added to Chronicle-Core to Jvm.warn if this was the case, but there is no slf4j logger when running `queue_reader.sh` so have added a warning to `System.err`

[2020-11-25 22:39] #756 closed

[2020-11-27 03:34] JerryShea opened #762 "BinarySearch always succeeds if only 1 entry in queue"

[2020-11-27 03:35] #762 closed

[2020-11-28 14:23] ericfoongcheesoon opened #764 "sharing data between two java programs"
I am very new to chronicle-queue. Please answer these questions to help me get started with the chronicle-queue:
(1) How chronicle-queue exchange data between two java programs that are running in two different jvm? socket programming, or shared memory?

(2) If two java programs are running in two separate docker container, can these two programs exchange data using chronicle-queue?

[2020-11-29 21:53] dpisklov commented on #764
Please [read](https://github.com/OpenHFT/Chronicle-Queue#overview) the [documentation](https://github.com/OpenHFT/Chronicle-Queue/blob/master/docs/FAQ.adoc#does-chronicle-queue-work-in-linux-containers) before asking questions, and please do not raise issues for questions (for questions there's stackoverflow)

[2020-11-29 21:53] #764 closed

[2020-11-30 04:40] JerryShea opened #765 "ChronicleReaderMain does not automatically translate MethodIds"
e.g. you see output like
[code]
instead of
[code]
While it is useful to show that the data in the queue has a MethodId rather than a method name, it would be useful to configure ChronicleReader to automatically translate back to the method name, to make easier to see what is going on.

[2020-11-30 10:10] RobAustin opened #767 "NotReachedException when moving tailer to end"
It occurs when polling the end of the queue, waiting for an event to arrive:
[code]
We added some extra diagnostics to dump out the queue content (using DumpQueueMain) when this issue occurred:
[code]

[2020-11-30 10:25] peter-lawrey commented on #765
`ChronicleReaderMain` has an option `-r` to specify an interface to use to decode messages. It was accidentally disabled.
It needs a unit test.

TODO: We should have a means of recording this in the header

[2020-11-30 10:25] peter-lawrey commented on #765
@RobAustin can you assign someone to create a unit test.

[2020-11-30 17:01] #767 closed

[2020-11-30 17:23] Adriankusiak opened #768 "Inverted evaluation for thread safety check property"
StoreAppender appears to be running a threadSafetyCheck only if the property is disabled, always returning true in the AbstractClosable parent method:

[code]

[2020-11-30 20:03] dpisklov commented on #768
@peter-lawrey is it intentional by any chance?

[2020-11-30 23:17] JerryShea commented on #765
Unit test done

On Mon, 30 Nov 2020 at 21:26, Peter K Lawrey <notifications@github.com>
wrote:

--
Jerry Shea
+61 409 145 895
chronicle.software <http://www.chronicle.software/>

[2020-12-01 02:46] JerryShea commented on #765
-r does the trick now and correctly resolves methodId -> method name

[2020-12-01 02:46] #765 closed

[2020-12-01 13:34] RobAustin opened #769 "StreamCorruptedException when calling StoreAppenderContext.close()"
[code]

[2020-12-04 11:06] RobAustin commented on #769
awaiting more information from the client.

[2020-12-04 11:09] RobAustin commented on #743
@JerryShea please provide more detail, ideally a failing test.

[2020-12-06 20:38] JerryShea commented on #743
See the link above but also....
If you acquire an appender, then close it, then acquire again, you get the closed appender from the 1st acquire - which is not very useful.

[2020-12-07 03:47] JerryShea opened #772 "QueueFileShrinkManager#task should lock file before changing size?"
Like MappedFile.resizeRafIfTooSmall. Should MappedFile expose this mechanism for QueueFileShrinkManager to use?

[2020-12-07 10:48] minborg opened #773 "TeamCity fails on Java 11 gh-pages build"
[code]

[2020-12-07 15:27] dpisklov commented on #772
why would it need to lock the file? Shrinking only ever happens after EndOfWire written to the file and hence no other appender would be able to write to it, and shrinking itself only happens in single thread.

[2020-12-07 16:20] RobAustin commented on #699
@glukos found this - "According to info from here [1], this error is reported asynchronously. When JIT-compiled code performs illegal memory operation, InternalError is raised only on next safepoint
[1] - https://stackoverflow.com/questions/45536049/java-lang-internalerror-a-fault-occurred-in-a-recent-unsafe-memory-access-opera"

[2020-12-07 17:11] RobAustin opened #774 "java.lang.InternalError in java.io.UnixFileSystem.list"
This is thought to be related to rolling.

This warning pops up after running for a while:

2020-12-05_08:07:57.769 [main/s-0core-event-loop] WARN  n.o.c.t.VanillaEventLoop -
java.lang.InternalError: a fault occurred in a recent unsafe memory access operation in compiled Java code
        at java.io.UnixFileSystem.list(Native Method) ~[?:1.8.0_261]
        at java.io.File.list(File.java:1122) ~[?:

[2020-12-07 17:41] RobAustin commented on #774
the code should be rerun with:
[code]
Note: these will slow it down

[2020-12-11 09:44] minborg opened #775 "Deprecated For removal comment versions should be 5.x not 2.x"

[2020-12-11 13:10] minborg commented on #775
Fixed in https://github.com/OpenHFT/Chronicle-Queue/commit/b37f685c1ab133dfbc25a82104dfd2878bddc412

[2020-12-11 13:10] #775 closed

[2020-12-11 13:11] minborg opened #776 "Fix leaking resources"

[2020-12-11 13:20] #776 closed

[2020-12-11 13:33] minborg opened #777 "Prevent arithmetic overflow"

[2020-12-11 13:45] #777 closed

[2020-12-11 14:49] minborg opened #778 "Methods shall not declare "throws RuntimeExceptions""
An exception in a throws declaration in Java is superfluous if it is:

* listed multiple times
* a subclass of another listed exception
* a RuntimeException, or one of its descendants
* completely unnecessary because the declared exception type cannot actually be thrown

[2020-12-11 15:28] #778 closed

[2020-12-14 09:15] peter-lawrey opened #779 "NotCompleteTest fails for generated code"
This worked because the generated code failed to code hiding the fact this didn't work.

[2020-12-14 21:57] JerryShea commented on #779
What error did you see? I can't see it failing because of generated code

[2020-12-15 09:24] minborg opened #780 "Announce the existence of analytics on startup"
See https://github.com/OpenHFT/Chronicle-Map/issues/248

[2020-12-15 12:02] #780 closed

[2020-12-16 03:40] JerryShea commented on #779
Ah got it. @glukos I can do this one if you like....?

Proxy vs code generation behaves differently - can be fixed by adding indicated to generated code
[code]

[2020-12-16 12:39] minborg commented on #720
It's still there:

[code]

[2020-12-16 15:15] glukos opened #781 "Document can't be read if tailer is in NOT_REACHED_IN_CYCLE state"
[code]
We just perform move to index and don't consume 4-bytes length header. Next user operation will read the header instead of the actual data. Example of the error (please note that content starts at position 65996; 65992 is the position of the document header):
[code]

[2020-12-16 15:23] glukos commented on #774
The original root cause is probably fixed in OpenHFT/Chronicle-Queue#781

[2020-12-16 15:27] #781 closed

[2020-12-16 17:50] minborg commented on #720
The problem is related to the parameters `wireType=BINARY_LIGTH` and `encrypted=false` and `testTailerSnappingRollWithNewAppender()`

[2020-12-16 23:19] JerryShea commented on #779
Fixed by https://github.com/OpenHFT/Chronicle-Wire/issues/249

[2020-12-16 23:19] #779 closed

[2020-12-17 17:21] minborg commented on #720
This was related to a missing time provider in the actual test

[2020-12-17 17:22] #720 closed

[2020-12-18 03:15] shaker-project opened #782 "Flaky Tests"
Hello, we are a group of researchers interested in understanding methods to reduce costs associated with Test Flakiness [1]. We developed an approach to detect flaky tests, dubbed Shaker [2]. Shaker spawns stressor tasks in the running environment (e.g., tasks that consume lots of cpu or memory) to identify if perturbations can make tests fail.

We ran Shaker on Chronicle-Queue project and found t

[2020-12-18 08:45] minborg opened #783 "InterruptedException should not be ignored"
In the class `StoreAppender.StoreAppenderContext.close()`, the catched `InterruptedException` does not propagate the interrupt state.

The throwing of the `InterruptedException` clears the interrupted state of the Thread, so if the exception is not handled properly the fact that the thread was interrupted will be lost. Instead, InterruptedExceptions should either be rethrown - immediately or after

[2020-12-18 08:57] minborg opened #784 "Review dependency"
This system-scope dependency is best removed. The library can be compiled, tested and built successfully without it under Java 8. What is the reason it was added?

[code]

[2020-12-18 10:11] RobAustin commented on #784
@peter-lawrey see Per's question above.

[2020-12-18 12:10] minborg opened #785 "Annotate non null parameters and return values with @NotNull"
Enforce the invariants in the code too.

[2020-12-18 21:31] JerryShea commented on #720
@minborg how come the missing time provider gave us such an obscure error?

[2020-12-20 21:33] JerryShea commented on #783
Yes good point. The `InterruptedException` can actually be thrown by `StoreAppender.StoreAppenderContext.close()` and this behaviour is exercised by net.openhft.chronicle.queue.impl.single.NotCompleteTest.

[2020-12-20 21:33] JerryShea commented on #783
Please review attached change

[2020-12-21 07:35] minborg commented on #720
The test was set up with three queues pointing to the same directory. The middle queue didn't have a custom time provider and so, messages were inserted out of time order.

[2020-12-21 07:50] minborg commented on #783
Looks perfect to me! I am closing this issue. Thanks @JerryShea

[2020-12-21 07:50] #783 closed

[2020-12-22 12:38] LarsMattsson commented on #755
This issues seems to been resolved in newer versions (5.20.122 and probably a few before that) Going to close this issue.

[2020-12-22 12:38] #755 closed

[2020-12-28 18:20] glukos commented on #743
Closing an acquired appender looks like the API misuse - acquire() is designed to free a user from creating and closing an appender manually. Meanwhile, appender is closeable, which tempts to wrap acquire() in try-finally block...
I've added a simple fix that re-creates an appender if it has been closed.

[2020-12-29 00:44] #743 closed

[2020-12-29 10:52] hft-team-city commented on #743
Released in [Chronicle-Queue-5.20.123](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.123), [BOM-2.20.226](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.226)

[2020-12-29 10:52] hft-team-city commented on #783
Released in [Chronicle-Queue-5.20.123](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.123), [BOM-2.20.226](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.226)

[2020-12-29 10:52] hft-team-city commented on #720
Released in [Chronicle-Queue-5.20.123](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.20.123), [BOM-2.20.226](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.226)

[2020-12-29 12:10] glukos commented on #719
Didn't manage to reproduce it locally, on TC the whole test is green for several months.
Can anyone share the details?

[2020-12-29 12:13] minborg commented on #719
Even though the test does not fail, the warning above can be observed in the logs. At least it could be observed previously. Perhaps it is fixed now?

[2020-12-29 13:38] glukos commented on #719
Perhaps it is.
I didn't succeed in catching this warning either.

[2020-12-29 13:50] minborg commented on #719
Confirmed that the problem is fixed so I will close this issue now.

[2020-12-29 13:50] #719 closed

[2020-12-30 01:49] JerryShea opened #787 "Tailers & appenders should be automatically closed when queue closes?"
Following on from #743

Agree with your comments on #743 @glukos. If something is acquired I guess the customer should not be able to close it - it should only be closeable (by the parent queue) when the parent queue closes? We also have `createAppender` but that is deprecated.

Tailers can be created with (public) `createTailer` and acquired with `acquireTailer`. Most customer code (and [examples

[2020-12-30 15:05] RobAustin commented on #787
@JerryShea I spoke with @peter-lawrey about this very subject yesterday, and in summary, peter disagrees. I'll leave it for peter to elaborate. I'm going to close this issue as won't fix but Peter please reopen if I miss understood you. I feel it would also be worth setting out your position on this, to the other members of the team.

[2020-12-30 15:05] #787 closed, assigned to nobody

[2020-12-30 23:12] JerryShea opened #788 "closed tailer can be re-acquired"
See also #743 and #787

[2020-12-30 23:37] JerryShea commented on #787
@peter-lawrey, it would be good to have your input on this. We made tailers and appenders Closeable around end of May 2020, for good reasons, but we need to update our examples/doco. Both appenders and tailers can be acquired from the parent queue currently.

What pattern should the developer use for closing an acquireXXX'd resource? If they close it after use and then re-acquire later on the same

[2021-01-02 09:59] minborg commented on #787
This again is a lifecycle problem compounded by thread locals that may linger internally. If a tailer object is re-created on the same thread, then the internal TLs will remain, potentially creating problems. I think tailers and appenders should not be "acquired" but rather "created" on a per-thread basis. These objects should then carry any and all thread-specific state. Once the tailer/appender

[2021-01-05 02:29] JerryShea opened #790 "Deprecate acquireTailer"
See also #787

[2021-01-05 02:30] JerryShea commented on #790
Decision has been made that the queue should not be responsible for closing acquired tailers and appenders - the user is

[2021-01-05 02:30] JerryShea opened #791 "ChronicleHistoryReader to support MethodIds"

[2021-01-06 00:34] #791 closed, assigned to nobody

[2021-01-06 00:38] JerryShea commented on #790
Deprecated acquireTailer - net.openhft.chronicle.queue.impl.single.SingleChronicleQueue#exceptsPerCycle may need some work

[2021-01-06 07:24] RobAustin commented on #790
We should not deprecate acquireAppender, at least, not at the moment, as this usage is heavily backed in.

[2021-01-06 07:26] JerryShea commented on #790
Yes - shall we rename the issue?

On Wed, 6 Jan 2021, 6:24 pm Rob Austin, <notifications@github.com> wrote:

[2021-01-06 07:52] RobAustin opened #792 "Remove code duplication between ChronicleHistoryReader and InternalChronicleHistoryReader"
It maybe that - it is difficult to dedupe chronicle history reader because it was designed to be extensible. One option could be to leave as it was and remove the duplicated internal version. What do you think ?

[2021-01-06 08:20] minborg commented on #792
The `ChronicleHistoryReader` is `@Depricated` for removal in x.22. Instead, users are encouraged to use the `HistoryReader.create()` method which will provide an `InternalChronicleHistoryReader` (the latter is not a part of the API commitment). The reason for this was that `ChronicleHistoryReader` (and other similar classes) carried a huge API commitment as they were non-final and contained extens

[2021-01-06 08:41] minborg commented on #792
I will take a look at deduplicating code since the actual removal of deprecated classes might take some time.

[2021-01-06 08:50] JerryShea commented on #792
My concern is that to fix #791 I had to fix it in 2 places, and that was not obvious....

[2021-01-06 18:18] rogersimmons opened #793 "Clear header dirty bytes on failed write"
A write which fails to close a document - either by leaving the document open when the wrapping appender is closed, or by crashing while open - can potentially leave dirty data at the end of a queue.

A subsequent append will acquire the lock and write the data normally, but if the write is less than the dirty data written by the failed writer then on closure the remaining (unclobbered) dirty data

[2021-01-06 18:20] rogersimmons commented on #793
Same change fixes https://github.com/OpenHFT/Chronicle-Wire/issues/250

[2021-01-06 18:23] #793 closed, assigned to rogersimmons

[2021-01-07 09:25] minborg opened #794 "Improve ChronicleReaderMain replacement"
A customer has a custom chronicle reader for fix logs which descends from ChronicleReaderMain and overrides configureReader, fixLogRenderer, and options

We should add provisions to obtain equivalent functionality with the new implementations.

[2021-01-07 12:59] RobAustin commented on #794
@minborg as discussed, could you revert the original change to ChronicleReaderMain ( in other words, put the code back to as it was a couple of months ago, for this class and associated classes ) and issue @JerryShea, with a pull-request. Let's start by doing this, and we can then later discuss as a team about reintroducing some, or part, of your change, back in, at a later date. Sorry that this i

[2021-01-07 19:38] minborg commented on #794
Looking at the non-final class `ChronicleReaderMain` we can conclude the following:

Users invoking the `main` method directly cannot override methods because the main method always creates the same class. Thus. the indicated `net.openhft.chronicle.queue.main.ReaderMain` provides a 1:1 substitute.

However, users inheriting from the class can override all of the classe's methods:

 - run(). (we co

[2021-01-07 20:02] minborg commented on #794
This is how a `Builder` could be defined:

[code]

[2021-01-08 13:51] glukos commented on #774
The error wasn't reproduced after https://github.com/OpenHFT/Chronicle-Queue/issues/781 fix. Closing the issue

[2021-01-08 13:51] #774 closed

[2021-01-12 14:02] RobAustin opened #796 "Provided a method on a tailer to return how far the tailer index is from the end of the queue."
perhaps something like the following add to net.openhft.chronicle.queue.ExcerptTailer

[code]

an implementation could be something like the following:

However, on testing, this turned out not to be reliable and requires further investigation
[code]

This method only has to be an indication as it is intended to be used for performance monitoring, just after a result is returned there is no guaran

[2021-01-12 14:28] RobAustin commented on #796
If the method that you create calls queue.countExcerpts(..,..) , please add a note to the java doc of your method,  mentioning it should not be called from performance-critical code.

[2021-01-14 17:56] RobAustin opened #797 "PeekDocument gets stuck and reports no messages when there are messages"
The following test can demonstrate this issue.
[code]

This code will output the following:

maxMessagesPerCycle = 67,108,864
count = 1,000,000
...
count = 67,000,000

Process finished with exit code 0

but If I run it and add the line of code back in ( currently commend out )

while (excerptTailer.peekDocument()) {

I gets stuck and on this run only get as far as somewhere near -> 7,000,000

maxM

[2021-01-17 22:36] JerryShea opened #799 "net.openhft.chronicle.queue.impl.single.TestMethodWriterWithThreads for doubleBuffer=true"
It is working now for doubleBuffer=false

[2021-01-17 23:49] #792 closed, assigned to minborg

[2021-01-18 08:23] hft-team-city commented on #792
Released in [Chronicle-Queue-5.21ea3](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea3), [BOM-2.21ea21](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea21)

[2021-01-18 10:29] glukos commented on #796
This can be achieved with a code like this
[code]

I'll close this issue after some time in case the need for an explicit separate method won't be confirmed.

[2021-01-19 13:55] peter-lawrey commented on #768
The problem is that the default value for CHECK_THREAD_SAFETY is also incorrect, so it works provided you set it to false to turn it on. :P

[2021-01-19 13:55] peter-lawrey commented on #768
The problem is that the default value for CHECK_THREAD_SAFETY is also incorrect, so it works provided you set it to false to turn it on. :P

[2021-01-19 15:34] #768 closed

[2021-01-23 23:08] domenicosf opened #800 "Read/write from queue using a pool fro zero allocation"
Hi Peter. I am a new user of chronicle queue and I need to use a zero allocation strategy to read and write the objects from chronicle queue. I want to use a queue and a marshable implementation of bytes like a pojo class is the that some correct strategy?

[2021-01-24 17:37] RobAustin commented on #800
Thank you for your question, and yes it is possible but please post your question on stack overflow. As we reserve git issues for just issues. Thanks

[2021-01-24 18:02] domenicosf commented on #800
Ok, thanks

[2021-01-24 18:02] #800 closed, assigned to nobody

[2021-01-28 15:05] peter-lawrey opened #801 "readLimit appears to be set to capacity on return from readingDocument."

[2021-01-28 15:33] RobAustin opened #802 "fixed net.openhft.chronicle.queue.internal.reader.ChronicleHistoryReaderTest"
see https://teamcity.chronicle.software/viewLog.html?buildId=546920&buildTypeId=OpenHFT_ChronicleQueue4_Snapshot

[2021-01-29 12:21] rossisandro opened #803 "Remove (or deprecate) strongAppenders config on SingleChronicleQueueBuilder"
Since the release of ```chronle-queue-5.19.40``` (14e27ed78946329aa2dd9b159020d84f42fffce1), the ```strongAppenders``` configuration parameter of ```SingleChronicleQueueBuilder``` has no effect on ```SingleChronicleQueue```

The methods ```public SingleChronicleQueueBuilder strongAppenders(boolean strongAppenders)``` and ```public boolean strongAppenders()``` needs to be removed from ```SingleChro

[2021-01-30 23:06] JerryShea commented on #803
Thanks @rossisandro I have deprecated

[2021-01-30 23:08] #803 closed, assigned to nobody

[2021-02-08 08:46] #796 closed, assigned to glukos

[2021-02-09 04:31] JerryShea opened #804 "NullPointerException in StoreTailer.inACycle"
stack trace below
[code]

The queue is configured with daily rolling so I don't think this is related to rolling.

This happened very soon after service startup so it is possible that the queue it is reading from is in the process of being created.

This is CQ 5.21ea4 so it is the line with <<<< below i.e. `wire` is null:
[code]
`privateWire` ultimately calls
[code]

[2021-02-09 19:01] RobAustin commented on #804
it can be null if closed

![image](https://user-images.githubusercontent.com/6506056/107413844-271cab00-6b09-11eb-808d-db60aad3feb9.png)

[2021-02-09 19:02] RobAustin commented on #804
or when it is changing its cycle

![image](https://user-images.githubusercontent.com/6506056/107413988-5501ef80-6b09-11eb-91a5-4eceda40f724.png)

[2021-02-09 19:05] RobAustin commented on #804
Given that the code is single threaded I'm not sure how this can happen, I would ask your client to check that they have only a single thread accessing the tailer.

[2021-02-09 19:08] RobAustin commented on #804
We could add this check, if it helps but given what you said, I don't feel they are in the process of shutting down.

![image](https://user-images.githubusercontent.com/6506056/107414504-fe48e580-6b09-11eb-823a-3dfe415b36be.png)

@JerryShea  would you be able to create a reproducible test case that can demonstrate their issue.

[2021-02-09 20:18] JerryShea commented on #804
I don't know how to reproduce it but closing is definitely a possibility - reviewing the log file again, soon after there is
[code]
And while I don't know if it is referring to the same queue, I believe that in this component all queues will be closed at the same time. Given also that closing can happen in another thread, that seems the likely cause.

[2021-02-09 20:19] JerryShea commented on #804
I think your suggested code change is a good idea and I have made that change - thanks @RobAustin

[2021-02-10 02:22] #804 closed, assigned to nobody

[2021-02-15 00:33] #802 closed, assigned to JerryShea

[2021-02-15 10:18] RobAustin opened #807 "Add code to check power management on linux"
Add code to check power management on linux, in other words, raise a warning if optimal power management settings are not being used.  Please also check that the Spector patch is turn off, and check the c-states.

Produce an automatically generated text report to the log file ( recommending possible changes ), if the machine is not running optimally then please log out warning messages accordingly

[2021-02-15 11:40] minborg commented on #807
If we could collect these methods in `core`, for example, then we could reuse them for Map too.

[2021-02-15 11:44] RobAustin commented on #807
@JerryShea  - I see your point, I feel we should produce the report in our open source tooling, ( but perhaps not to suggest the changes ) , we can then say if you would like assistance please contact sales@chroncle.software. This way it will help drive new relationships.

[2021-02-15 11:45] RobAustin commented on #807
@minborg, I agree -  we should add it to all our libraries, So that it is checked on startup.

[2021-02-15 11:46] minborg commented on #807
Diagnosing potential improvements and then encouraging customers to engage with us to reap the benefits sounds like a very good idea indeed.

[2021-02-15 11:48] minborg commented on #807
We could construct the feature akin to core's analytics which can be easily used by any library.

E.g. `PowerManagement.hints() -> Stream<String> `

[2021-02-17 14:55] peter-lawrey opened #808 "Make ChronicleQueue more tolerant of resources being closed in any order."

[2021-02-17 15:21] peter-lawrey opened #809 "OnReleaseTest is flaky"
If you run OnReleaseTest under load or until failure it fails.

[2021-02-17 16:23] #808 closed, assigned to peter-lawrey

[2021-02-20 05:36] JerryShea commented on #801
@peter-lawrey, @RobAustin , closing as I believe this is done?

[2021-02-20 05:36] #801 closed, assigned to RobAustin

[2021-02-20 05:37] JerryShea opened #810 "tailer.peekDocument is no longer useful as a performance optimisation"

[2021-02-20 05:40] #810 closed, assigned to nobody

[2021-02-25 03:50] deflorilemarului opened #811 "map and queue cant be used in same project"
Hi,

We have a project where we want to use both chronicle map and queue, because they are great libraries.
However, it seems they cannot coexist in the same project ? they both seem to use totally incompatible chronicle-core versions.

implementation "net.openhft:chronicle-map:3.20.84"
implementation "net.openhft:chronicle-queue:5.17.8"

Any idea if this is possible ? Any suggestion for a solutio

[2021-02-25 06:34] RobAustin commented on #811
Use the Chronicle-BOM in your project this will ensure they are compatible versions.

[2021-02-25 06:35] #811 closed, assigned to nobody

[2021-03-03 19:02] peter-lawrey opened #812 "Make available SingleChronicleQueue.indexForID(String id)"
This supports both access to the index for named tailers and collaboration on creating queue excerpts.
See `IndexForIDTest` and `StagedPerformanceMain` as examples.

Also, make `IntValue` and `LongValue` explicitly `Closeable` as these need to cleared to release resources.

[2021-03-03 19:04] peter-lawrey commented on #812
@rogersimmons to review as a potential API change in CQ C++

[2021-03-03 20:56] #812 closed, assigned to peter-lawrey

[2021-03-15 03:54] #788 closed, assigned to nobody

[2021-03-15 03:54] JerryShea commented on #788
thanks @nicktindall !

[2021-03-15 14:25] minborg opened #814 "Thread documentation error"
According to the JavaDoc "Tailers are NOT thread-safe" (see `net.openhft.chronicle.queue.ChronicleQueue::createTailer`).

However, under at least one condition,  it appears that a Tailer is even more restricted in the thread domain in such a way that a Tailer is *confined to be used by the thread that initially created it*. The sentence "Sharing a Tailer across threads will lead to errors and unpr

[2021-03-15 17:29] #814 closed, assigned to minborg

[2021-03-19 12:31] #799 closed, assigned to nobody

[2021-03-20 17:19] peter-lawrey opened #817 "Rollback the StoreAppender on finalise"
The default behavior is to complete the document

[2021-03-20 17:20] #817 closed, assigned to peter-lawrey

[2021-03-20 23:25] JerryShea commented on #817
@peter-k-lawrey do you mean "Rollback the StoreAppender on finalize"?

[2021-03-24 12:57] #794 closed, assigned to minborg

[2021-03-24 13:57] minborg commented on #784
Any news on this @peter-lawrey ?

[2021-03-25 05:26] #785 closed

[2021-04-07 10:08] JerryShea opened #820 "test coverage for net.openhft.chronicle.queue.impl.single.StoreAppender#writeBytesInternal(long, net.openhft.chronicle.bytes.BytesStore, boolean)"

[2021-04-07 22:51] JerryShea opened #821 "test coverage for net.openhft.chronicle.queue.impl.single.StoreTailer"
There are a few obvious gaps here - of particular concern is gaps in readingDocument0 and associated methods

[2021-04-08 03:55] JerryShea opened #822 "Cannot read from queue if first message is metadata"
If the 1st message written to a queue is metadata then that message can not be read from the queue. If a subsequent non-metadata message is written then that can be read. See net.openhft.chronicle.queue.ChronicleQueueIndexTest#writeReadMetadata

[2021-04-08 04:47] JerryShea opened #823 "writing metadata message as last message in queue does not always write EOF"
See net.openhft.chronicle.queue.ChronicleQueueIndexTest#checkTheEOFisWrittenToPreQueueFileWritingDocumentMetadata which fails consistently on Linux but works on Windows

[2021-04-08 05:28] nicktindall commented on #823
I just ran it locally and the reason EOF doesn't appear is because the first cycle file is deleted when the second appender is acquired.
It happens somewhere in here `net.openhft.chronicle.queue.impl.single.SingleChronicleQueue#cleanupStoreFilesWithNoData`

[2021-04-08 10:35] peter-lawrey commented on #823
That would explain the difference between the platforms as you can delete files in Linux at times that Windows prevents the deletion.

[2021-04-09 00:41] nicktindall opened #825 "toEnd().index() returns incorrect value for queues containing only metadata and empty pre-touched"
When you call `tailer.toEnd().index()` on a queue containing only metadata, or an empty queue that's been pre-touched, you get back the index of the first sequence of the empty/only-metadata cycle. This differs from the behaviour where the queue is non-empty but there are subsequent metadata-only or empty cycles. In that scenario you get back the index following the last excerpt present in the que

[2021-04-09 05:35] nicktindall commented on #825
I added a PR to demonstrate the issues https://github.com/OpenHFT/Chronicle-Queue/pull/829

[2021-04-09 07:55] rogersimmons commented on #825
@nicktindall - can you move your commits onto a branch (eg Issue825) under the chronicle repo. Thanks

[2021-04-09 08:23] nicktindall commented on #825
Hi @rogersimmons I'm not a member of the OpenHFT org yet, if you could create that branch I'll move the target of my PR to that so we can get it over?

[2021-04-09 09:29] rogersimmons commented on #823
Is there much real-world benefit to removing files with no data? For a file to exist something must have been written to it, and if the writePosition is 0 then that must have only been metadata, but this doesn't mean it's necessarily a candidate for removal (users could legitimately use metadata for purposes where deletion isn't appropriate in the absence of other data).

The simplest fix here is

[2021-04-09 09:32] JerryShea commented on #823
+1

On Fri, 9 Apr 2021, 7:29 pm rogersimmons, ***@***.***> wrote:

[2021-04-12 21:56] #822 closed, assigned to rogersimmons

[2021-04-12 21:56] #823 closed, assigned to nobody

[2021-04-12 23:49] JerryShea commented on #797
PeekDocument has now been deprecated

[2021-04-13 01:57] nicktindall commented on #825
The PR is on the OpenHFT org now

[2021-04-13 11:19] hft-team-city commented on #822
Released in [Chronicle-Queue-5.21ea43](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea43), [BOM-2.21ea110](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea110)

[2021-04-13 11:19] hft-team-city commented on #823
Released in [Chronicle-Queue-5.21ea43](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea43), [BOM-2.21ea110](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea110)

[2021-04-14 06:24] JerryShea opened #831 "ChronicleReader -i and -m"
allow combine together of -i and -m i.e. display last X matching messages

[2021-04-14 06:28] JerryShea opened #832 "ChronicleReader to optionally convert date/times in output into local TZ"
When reading date times encoded using e.g. `MicroTimestampLongConverter` using `-r` they are always displayed in UTC.

It may be challenging to satisfy this requirement so need to discuss the cost/benefit

[2021-04-15 04:18] #831 closed, assigned to nicktindall

[2021-04-16 08:53] peter-lawrey commented on #825
#822 adds a dummy index entry for the first metadata message that can be found. This causes other methods to assume there is a real entry into the cycle when there isn't.

The fix is to support `moveToCycle` and only index `data` entries.

[2021-04-16 08:59] peter-lawrey commented on #825
@rogersimmons Can you review so that the C++ index doesn't index meta data entries as a workaround?

[2021-04-16 13:56] #825 closed, assigned to peter-lawrey

[2021-04-16 13:59] peter-lawrey opened #835 "Two ChronicleQueue pointing to the same underlying queue can overwrite index 0 with writeIndex"

[2021-04-16 13:59] #835 closed, assigned to peter-lawrey

[2021-04-19 03:20] hft-team-city commented on #831
Released in [Chronicle-Queue-5.21ea44](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea44), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:20] hft-team-city commented on #835
Released in [Chronicle-Queue-5.21ea44](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea44), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:20] hft-team-city commented on #825
Released in [Chronicle-Queue-5.21ea44](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea44), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-20 10:16] RobAustin opened #837 "Alignment and Pretoucher issue on M1 mac"
test have been ignored on M1 Mac, due to possible Alignment issue.

To access the M1 mac in the TC cluster - see https://docs.google.com/document/d/1-nsInZ9X4YDDrl_3te5RhQRgd-f6e68dVWC2h804M-s/edit

effecting the following tests : ( see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_SnapshotMac/566375 )

[code]

for example:
[code]

[2021-04-20 10:28] RobAustin commented on #837
also this test ChronicleQueueIndexTest.checkTheEOFisWrittenToPreQueueFileWritingDocumentMetadata  - see https://teamcity.chronicle.software/viewLog.html?buildId=566375&tab=buildResultsDiv&buildTypeId=OpenHFT_ChronicleQueue4_SnapshotMac

[code]

[2021-04-21 23:18] JerryShea opened #839 "improve inconsistent sourceId detection"
See https://github.com/OpenHFT/Chronicle-Queue/pull/838

[2021-04-22 11:42] RobAustin commented on #790
done rename of issue

[2021-04-22 11:45] RobAustin commented on #772
assigning to @nicktindall, given that you are changing the file locking around queue enterprise.

[2021-04-22 12:00] RobAustin commented on #730
@foroughgoudarzi please ask @minborg for assistance

[2021-04-22 21:50] JerryShea commented on #790
@RobAustin in that case I think we can close ;)

[2021-04-22 21:50] #790 closed, assigned to nobody

[2021-04-23 13:18] hft-team-city commented on #790
Released in [Chronicle-Queue-5.21ea45](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea45), [BOM-2.21ea118](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea118)

[2021-04-26 22:03] JerryShea opened #842 "failing MultiThreadedRollTest"
I have @Ignored this test for now.

It calls `net.openhft.chronicle.queue.impl.single.StoreAppender#writeEndOfCycleIfRequired` which I suspect we don't need any more. @peter-k-lawrey I think you created this function - do you have any comment?

If we remove the call to `writeEndOfCycleIfRequired` the test passes.

[2021-04-26 22:10] #839 closed, assigned to JerryShea

[2021-04-27 03:43] nicktindall opened #844 "Default TimedPauser in WriteLock is not thread safe"
If `pauserSupplier` isn't specified in `SingleChronicleQueueBuilder` you get `SingleChronicleQueueBuilder.DefaultPauserSupplier`

https://github.com/OpenHFT/Chronicle-Queue/blob/482cfe3c15fbb71a42ad3dd83c60ebe74654e9c2/src/main/java/net/openhft/chronicle/queue/impl/single/SingleChronicleQueueBuilder.java#L1121

Which returns a new `TimoutPauser` each time its called. This is used for the pauser fo

[2021-04-27 06:21] sunbiaozj opened #845 "SingleChronicleQueueBuilder.binary(path).build() the path can use remote address?"
Hi SingleChronicleQueueBuilder.binary(path).build()
the path can use remote address? for example remote machine
thank you

[2021-04-27 08:46] #842 closed, assigned to JerryShea

[2021-04-28 07:09] nicktindall commented on #845
No, only local filesystems are supported, please see https://github.com/OpenHFT/Chronicle-Queue#important-note

[2021-04-28 07:09] #845 closed, assigned to nobody

[2021-04-28 14:56] hft-team-city commented on #845
Released in [Chronicle-Queue-5.21ea46](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea46), [BOM-2.21ea119](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea119)

[2021-04-28 14:56] hft-team-city commented on #842
Released in [Chronicle-Queue-5.21ea46](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea46), [BOM-2.21ea119](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea119)

[2021-04-28 14:56] hft-team-city commented on #839
Released in [Chronicle-Queue-5.21ea46](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea46), [BOM-2.21ea119](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea119)

[2021-04-28 15:56] RobAustin opened #846 "OrigSendingTime <122> should always be set when sending a resend request"
OrigSendingTime <122> should always be set when sending a resend request, for gap fill messages this should be set to the SendingTime <52>

[2021-04-29 22:59] JerryShea commented on #846
Raised in wrong project

[2021-04-29 22:59] #846 closed, assigned to nobody

[2021-05-04 00:07] nicktindall commented on #772
Suspect this isn't an issue, closing

[2021-05-04 00:07] #772 closed

[2021-05-04 00:40] nicktindall commented on #820
Added https://github.com/OpenHFT/Chronicle-Queue/blob/develop/src/test/java/net/openhft/chronicle/queue/impl/single/StoreAppenderInternalWriteBytesTest.java

[2021-05-04 01:21] JerryShea commented on #797
@RobAustin I will close this as we have deprecated peekDocument. Please re-open if you disagree!

[2021-05-04 01:21] #797 closed, assigned to RobAustin

[2021-05-04 01:21] #820 closed, assigned to nicktindall

[2021-05-04 01:27] JerryShea commented on #769
@RobAustin given that we have no extra information is it appropriate to close this? Closing as I assume your answer will be yes - please re-open if not

[2021-05-04 01:27] #769 closed

[2021-05-05 09:03] RobAustin opened #848 "Improved documentation around large messages and small block size"
Please make it clearer in our documentation via a  WARNING section in the chronicle queue documentation, that if you are sending large messages then you should set a large block size ( the block size should be at least 4 times the message size ). Also, we recommend that you use the same block size when creating each queue instance, the block size is not written to the header, so should ideally be

[2021-05-10 23:01] JerryShea commented on #832
See https://github.com/OpenHFT/Chronicle-Wire/issues/279

[2021-05-11 03:22] hft-team-city commented on #820
Released in [Chronicle-Queue-5.21ea48](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea48), [BOM-2.21ea123](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea123)

[2021-05-14 13:54] peter-lawrey opened #852 "There appears to be a race condition when double buffering is used"

[2021-05-14 13:55] peter-lawrey commented on #852
Disabling double buffering until it can be fixed.

[2021-05-20 07:17] #832 closed, assigned to nicktindall

[2021-05-23 22:55] #844 closed, assigned to nicktindall

[2021-05-26 00:51] JerryShea opened #859 "ChronicleWriter tool"
https://github.com/OpenHFT/Chronicle-Queue/commit/f00703da00d891d5cac72ce1090bad273ca9fe38

[2021-05-26 00:51] #859 closed, assigned to JerryShea

[2021-05-27 11:04] minborg opened #860 "Clear closables after close"

[2021-05-27 12:56] #860 closed, assigned to minborg

[2021-06-02 13:25] RobAustin opened #861 "Update docs on "Dumping a Chronicle Queue, cq4 file as text to the Command Line""
This section - see https://github.com/OpenHFT/Chronicle-Queue#dumping-a-chronicle-queue-cq4-file-as-text-to-the-command-line

Is out of date, It won't run, as chronicle-queue now requires some additional jars, for example, the SLF jars, before it can run, please update the documentation to include all the jars required. Please also update the versions of the jars in the example to the latest versi

[2021-06-02 23:43] JerryShea commented on #861
@julgus note there is dump_queue.sh which uses the shaded jar

[2021-06-03 08:28] RobAustin commented on #861
thanks, @JerryShea,

@julgus please also add the dump_queue.sh to the doco.

[2021-06-04 09:40] julgus commented on #861
This is what I gathered using `mvn dependency:tree`.

[INFO] +- net.openhft:chronicle-core:jar:2.21ea61:compile
[INFO] |  \- org.jetbrains:annotations:jar:19.0.0:compile
[INFO] +- net.openhft:chronicle-bytes:jar:2.21ea61:compile
[INFO] +- net.openhft:chronicle-wire:jar:2.21ea61:compile
[INFO] |  \- net.openhft:compiler:jar:2.21ea1:compile
[INFO] +- net.openhft:chronicle-threads:jar:2.21ea63-SNAPSH

[2021-06-04 09:51] RobAustin commented on #861
This maybe useful for ChronicleReaderMain - The Apache Commons CLI library provides an API for parsing command line options passed to programs. It's also able to print help messages detailing the options available for a command line tool.

good point - org.slf4j » slf4j-simple

It maybe worth also having docs for ChronicleReaderMain which is a very similar tool, here is a script that can run net.o

[2021-06-04 09:53] julgus commented on #861
Thank you! There is some documentation for `ChronicleReaderMain` which I will have a look at.

[2021-06-04 10:00] RobAustin commented on #861
great - if not already done please add a link and discuss ( in the documentation )  where it is appropriate to use one over the other.

[2021-06-04 12:19] #861 closed, assigned to julgus

[2021-06-04 18:12] jkolobok commented on #852
@peter-lawrey is it done? Can we close the issue? A client is having a likely related issue

[2021-06-07 01:13] JerryShea opened #863 "Performance tests and graphs in TeamCity"

[2021-06-07 16:58] glukos opened #865 "Data race between read-only CQ creation and read-write CQ creation from scratch may cause JVM crash"
When CQ is initialized from scratch, we have a small window between file creation and first file resizing.

SingleTableBuilder.java
[code]

If another read-only queue succeeds to initialize within this window, `bytes.readVolatileInt(0);` will access memory region that's not mapped to an exisitng area of the file (the file is zero-length), leading to SIGBUS.

[2021-06-08 03:10] #863 closed, assigned to nicktindall

[2021-06-08 03:34] nicktindall commented on #863
Graphs published here https://teamcity.chronicle.software/viewType.html?buildTypeId=OpenHFT_ChronicleQueue4_Perf&tab=buildTypeStatistics

[2021-06-08 03:35] nicktindall commented on #865
Going to spin on a pauser for 1s to see if file appears, this may avoid the exception in the case of a race

[2021-06-08 04:54] #865 closed, assigned to nicktindall, glukos

[2021-06-09 13:26] peter-lawrey opened #867 "Queues with blockSizes of 8GB+ fails."

[2021-06-09 13:28] #867 closed, assigned to peter-lawrey

[2021-06-10 00:38] #730 closed

[2021-06-10 04:24] hft-team-city commented on #867
Released in [Chronicle-Queue-5.21ea64](https://github.com/OpenHFT/Chronicle-Queue/releases/chronicle-queue-5.21ea64), [BOM-2.21ea161](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea161)

[2021-06-11 12:05] #848 closed, assigned to foroughgoudarzi

[2021-06-11 15:06] foroughgoudarzi opened #868 "README.adoc needs revamp"

[2021-06-15 08:07] RobAustin opened #870 "Protect from NPE in StoreTailer.inACycle"
[code]

[2021-06-15 10:38] #870 closed, assigned to nobody

[2021-06-16 06:48] nicktindall opened #871 "StoreTailer.clearUsedByThread does not also clear used by thread on wire bytes"
When `clearUsedByThread` is called on StoreTailer we also need to propagate that to the wire it holds if it's present. Cause of client issue https://support.chronicle.software/staff/ticket/241

[2021-06-16 10:58] #871 closed, assigned to nobody

[2021-06-16 15:21] peter-lawrey commented on #784
This related to runtime compilation which has been fixed another way.

[2021-06-16 15:21] #784 closed

[2021-06-17 09:51] nicktindall opened #873 "InternalAppenderWriteBytesTest.appendToPreviousCycle is flaky"
It seems to fail fairly reliably when you run it on its own.

[code]

[2021-06-17 09:51] nicktindall commented on #873
@JerryShea sorry but it has your fingerprints all over it

[2021-06-18 03:54] JerryShea opened #874 "ChronicleReaderMain does not show MessageHistory when -r used"
New option -g to show MessageHistory when using -r

[2021-06-28 08:21] #868 closed, assigned to foroughgoudarzi

[2021-06-28 10:53] glukos commented on #697
@rogersimmons
As I understand, the issue can be simplified to the following test case:
1. Set up file permissions so process X doesn't have access to queue segment S
2. Create an appender within X so it should roll to S and start writing into it
3. Write attempt fails with exception, which is expected
4. Set up file permissions so process X now can write to S
5. Next attempt to write to S from pro

[2021-06-28 11:40] rogersimmons commented on #697
@glukos
Suggest first take a look at https://github.com/ChronicleEnterprise/Chronicle-Dev-CPP/commit/7dabaad5e213ce175bf00b59d237b68466bcf21b - in particular the Issue1.cpp testcase which was added to cover
(there's a large comment block at the head of the test case describing the scenario)

The test can be ported to Java more or less directly. It may run green straight out of the box by now.
Let

[2021-06-28 19:16] glukos commented on #697
@rogersimmons Thank you.
I've ported issue1 test to Java, it runs green.

[2021-06-29 05:36] #697 closed

[2021-07-21 05:26] peiji opened #879 "Chronicle JDk16 support"
Run chronicle in openJDK16 and get exception below. Does chronicle officially support jdk16?

Caused by: java.lang.reflect.InvocationTargetException
        at jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:?]
        at jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:78) ~[?:?]
        at jdk.internal.reflect.DelegatingMethodAccessorImp

[2021-07-21 07:12] JerryShea commented on #879
Hi @peiji, [This page](https://github.com/OpenHFT/OpenHFT/blob/ea/docs/Java-Version-Support.adoc) is the official position. We plan to prioritise Java 16 later in the year, but if you need it supported sooner please contact sales@chronicle.software.

[2021-07-21 07:12] #879 closed, assigned to nobody

[2021-07-27 03:29] JerryShea opened #881 "ChronicleReader to support starting at a date/time"
We need a way to determine timestamp for each entry so propose that this only works for queues containing `net.openhft.chronicle.wire.Event`s. We can use CQ's binary search function.

[2021-07-29 08:02] #881 closed, assigned to JerryShea

[2021-07-29 09:07] QiAnXinCodeSafe opened #884 "Double-Checked Locking"
https://github.com/OpenHFT/Chronicle-Queue/blob/1617a4964d58cc18d42b2059bfea5304da563dc3/src/main/java/net/openhft/chronicle/queue/impl/single/SingleChronicleQueue.java#L922-L925

Double-Checked Locking is widely cited and used as an efficient method for implementing lazy initialization in a multithreaded environment.
Unfortunately, it will not work reliably in a platform independent way when impl

[2021-07-29 09:10] QiAnXinCodeSafe opened #885 "Unreleased Resource: Streams"
https://github.com/OpenHFT/Chronicle-Queue/blob/1617a4964d58cc18d42b2059bfea5304da563dc3/load-harness/src/main/java/net/openhft/load/config/ConfigParser.java#L16

The program can potentially fail to release a system resource.

[2021-07-29 23:46] JerryShea commented on #885
See https://github.com/OpenHFT/Chronicle-Queue/commit/e4a8072cd2709e543642757a96a9a3173bb7d7f7

[2021-07-29 23:46] #885 closed, assigned to nobody

[2021-07-30 13:25] minborg commented on #884
Hi. The LongValue is not an instance property but rather a local variable. This local variable is only visible to the current thread and could live on the stack. I think the lock is there to prevent other threads from updating the `metaStoreMap` simultaneously.

Note: Declaring an instance variable as `volatile` in combination with DCL works fine.

[2021-07-30 13:29] #884 closed, assigned to minborg

[2021-07-30 19:00] foroughgoudarzi opened #888 "Document support ticket 327: doco for RollCycles and index"

[2021-08-01 22:18] JerryShea opened #889 "LastAppendedTest fails when -DdisableProxyCodegen=true"
`LastAppendedTest` fails when `-DdisableProxyCodegen=true` because proxy method writers do not write `MessageHistory` (see also #460).

Proxy method writers will be removed in x.25.

[2021-08-03 17:27] #888 closed, assigned to foroughgoudarzi

[2021-08-04 08:56] peter-lawrey opened #891 "NotReachedException thrown calling direction(BACKWARDS).toEnd()"

[2021-08-04 08:56] peter-lawrey commented on #891
from https://support.chronicle.software/staff/ticket/307 - reduce caching of first/last cycle and improve mod count

[2021-08-04 09:41] #891 closed, assigned to peter-lawrey

[2021-08-04 12:24] peter-lawrey opened #892 "Ensure lock timeout produce the warnings expected"
Also make all tests fail if an expected exception doesn't occur.

[2021-08-05 05:44] nicktindall opened #893 "TableStoreWriteLock should throw an exception if a thread is interrupted while waiting for acquisition"
Currently if a thread is interrupted in TableStoreWriteLock.lock it returns as though the lock was successful

[2021-08-05 07:07] nicktindall opened #895 "Beef up the testing around locks"
There is not enough testing of the locks we depend on everywhere. I made some progress on this as part of #893 but there's more to do.

[2021-08-05 23:37] nicktindall opened #896 "StoreAppender can bypass write lock after an exception is thrown in writingDocument()"
When a RuntimeException is thrown, the counter we use to keep track of nested calls to `StoreAppender.writingDocument()` can end up being out of sync leaving callers able to get a DocumentContext configured from a previous write. This can lead to queue corruption due to over-writing of already-written queue entries and concurrent writes occurring due to the write lock acquisition being bypassed.

[2021-08-05 23:42] JerryShea opened #897 "IndexForIDTest failing consistently in TeamCity"
But not when run individually locally

See https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleQueue4_Snapshot/594709?expandedTest=build%3A%28id%3A594709%29%2Cid%3A1668

[2021-08-06 06:34] nicktindall commented on #889
Also some tests in ChronicleReaderTest

[2021-08-06 07:11] #893 closed, assigned to nicktindall

[2021-08-06 07:11] #896 closed, assigned to nicktindall

[2021-08-06 11:06] peter-lawrey commented on #897
This error occurs if the test takes 30 second.
The test takes 9 second on dev13 right now that I have enabled it again.
It takes 1.7 second on my desktop.

[2021-08-06 11:08] peter-lawrey commented on #897
This test is more concurrent than it was previously.
On dev13 it will now use all the logical CPUs across both NUMA regions
whereas before it was limited to a smaller thread pool.
This may explain why sometimes it has high delays.

[2021-08-06 11:08] #897 closed, assigned to peter-lawrey

[2021-08-06 11:09] #892 closed, assigned to peter-lawrey

[2021-08-10 23:18] nicktindall opened #901 "RollCycleMultiThreadStressPretouchTest fails with SIGSEGV"
I ran until failure and got this after 84 runs (or 60-something another time)
[hs_err_pid16042.log](https://github.com/OpenHFT/Chronicle-Queue/files/6964933/hs_err_pid16042.log)

[2021-08-11 02:09] JerryShea commented on #901
@nicktindall I improved stability of the pretoucher thread when shutting down with the above commit. I just ran this test locally 630 times with no issue. Can you re-try and hopefully you won't be able to reproduce?

[2021-08-11 02:14] nicktindall commented on #901
Yep I can't reproduce locally. Will close.

[2021-08-11 02:14] #901 closed, assigned to nobody

[2021-08-24 00:53] JerryShea commented on #873
This is not showing as flaky in TeamCity Chronicle Queue or Build-All so closing

[2021-08-24 00:53] #873 closed, assigned to JerryShea

[2021-08-25 05:17] #895 closed, assigned to nicktindall

[2021-08-25 13:00] peter-lawrey opened #903 "Remove deprecated classes and members"

[2021-08-26 12:19] #903 closed, assigned to peter-lawrey

[2021-08-26 12:20] peter-lawrey opened #904 "Improve behaviour under load"

[2021-09-02 07:55] garikjan opened #906 "Possible leak in SingleChronicleQueue::cleanupStoreFilesWithNoData()"
Could you please check my findings: while iterating stores of previous cycles, stores are acquired, but not released. Additionally, it leads to unbalanced calls to onAcquire()/onRelease(). It was discovered in 5.21ea44, but is still actual for HEAD/master

Best regards,
Garik.

[2021-09-08 13:40] RobAustin opened #908 "flaky test net.openhft.chronicle.queue.TestDeleteQueueFile"
see https://teamcity.chronicle.software/viewLog.html?buildId=607653&tab=buildResultsDiv&buildTypeId=OpenHFT_BuildAll_Build

[2021-09-13 14:23] efge commented on #879
In Java 16, just add `--illegal-access=warn` to the java command line.

[2021-09-22 06:19] whitelilis opened #909 "Can't work with JDK17"
Exception in thread "main" java.lang.ExceptionInInitializerError
	at net.openhft.chronicle.core.Jvm.get_setAccessible0_Method(Jvm.java:226)
	at net.openhft.chronicle.core.Jvm.<clinit>(Jvm.java:135)
	at net.openhft.chronicle.core.io.AbstractReferenceCounted.<clinit>(AbstractReferenceCounted.java:16)
	at net.openhft.chronicle.bytes.BytesStore.wrap(BytesStore.java:100)
	at net.openhft.chronicle.bytes

[2021-09-22 06:27] JerryShea commented on #909
We don't support Java 17 yet. We plan to do so soon and will announce then

On Wed, 22 Sep 2021, 4:20 pm whitelilis, ***@***.***> wrote:

[2021-09-22 06:30] sheinbergon commented on #909
@whitelilis If anyone is interested in getting this to work until OpenHFT supports it officially, just run JDK17 with the following VM args in order to get things working:

[code]

[2021-09-23 13:10] whitelilis commented on #909
with the above method:

2021-09-23 21:06:54.627 4.3-11-gaa448de  WARN [        main] [Slf4jExceptionHandler.java:50] # Failed to compile generated method reader - falling back to proxy method reader. Please report this failure.
java.lang.ClassNotFoundException: Could not initialize class net.openhft.compiler.CompilerUtils

am I missing something?

I have added
[code]

It still WARN

[2021-09-24 02:32] JerryShea opened #911 "TableStoreWriteLockTest fails under java17"
I suspect other tests that invoke mvn e.g. CheckHalfWrittenMsgNotSeenByTailerTest#checkTailerOnlyReadsTwoMessageTwoProcesses also need to be looked at

[2021-09-24 23:09] whitelilis commented on #909
more stacks:
[code]

[2021-09-28 01:33] JerryShea commented on #911
See https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_BuildJava17/613965

[2021-09-28 02:43] JerryShea commented on #911
This is because ProcessRunner is not passing through the Java 17 command line args (`--add-opens etc.`). It is not obvious how to pass parent command line args to child processes

[2021-09-29 04:12] nicktindall opened #913 "When first and last cycle are out of date, should we try refreshing them and retrying before we throw?"
In `StoreTailer.toEnd`, we get the `lastCycle` which is only checked against the file listing every 60s. In the event we've got `lastCycle` then failed to retrieve it from the `SingleChronicleQueueStore` is it worth forcing a `directoryListing.refresh(true)` and retrying before throwing an exception?

[2021-09-29 10:42] RobAustin opened #915 "updated style of images"
Please update the style of images on the following page:
https://github.com/OpenHFT/Chronicle-Queue/blob/master/docs/replication.adoc#chronicle-queue-enterprise-replication

[2021-09-29 10:44] RobAustin opened #916 "Release notes link does not work"
for example, click on the following:

![image](https://user-images.githubusercontent.com/6506056/135253945-1d12b257-9b62-4104-a88a-908c0c9bb873.png)

[2021-09-29 11:52] minborg opened #917 "Add a User's Guide"
The User's Guide should be structured in a concise and coherent way teaching newbies and experts how to use the product and how to benefit from enterprise features.

Examples from the Demo should be included.

[2021-09-29 12:42] minborg commented on #917
Most software products have what collectively are called "documentation", "user's guide", "product documentation", "manual" etc.

Here are some examples:

* Kafka https://kafka.apache.org/documentation/
* Hazelcast https://docs.hazelcast.com/imdg/4.2/getting-started
* Tensorflow https://www.tensorflow.org/guide

So, the idea here is to set up a real manual (using adoc files) that can be rendered t